workflows/[CSP] - Aguardando Pagamento - Parte 2.json
{
  "active": true,
  "connections": {
    "atualiza_bd": {
      "main": [
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "boleto": {
      "main": [
        [
          {
            "node": "add_linhadig_boleto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_linhadig_boleto": {
      "main": [
        [
          {
            "node": "add_link_boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_linhadig_pix": {
      "main": [
        [
          {
            "node": "add_link_pix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_link_boleto": {
      "main": [
        [
          {
            "node": "envia_fluxo_boleto_gerado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_link_pix": {
      "main": [
        [
          {
            "node": "envia_fluxo_pix_gerado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX": {
      "main": [
        [
          {
            "node": "add_linhadig_pix",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nao_faca_nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T14:47:25.373Z",
  "id": "kI6fjJ5nWcgl0CK3",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[CSP] - Aguardando Pagamento - Parte 2",
  "nodes": [
    {
      "parameters": {
        "queue": "Aguardando Pagamento - CSP",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "4c846183-9f30-4698-a10d-b75c25785395",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        80,
        660
      ],
      "credentials": {
        "rabbitmq": {
          "id": "v10PciJKjFB8gCKb",
          "name": "[PRIGEO] - RabbitMQ"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 291317753,
          "mode": "list",
          "cachedResultName": "[Geral] - Aguardando Pagamento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo/edit#gid=291317753"
        },
        "columnToMatchOn": "ID DA TRANSAÇÃO",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"ID da Transação\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data da Compra\"] }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "column": "E-MAIL",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "CÓDIGO DO ASSINANTE",
              "fieldValue": "={{ $json[\"Código da Inscrição\"] }}"
            },
            {
              "column": "OFERTA DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Oferta da Compra\"] }}"
            },
            {
              "column": "COMISSÃO GATEWAY",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Comissão Hotmart\"] }}"
            },
            {
              "column": "PLANO",
              "fieldValue": "={{ $json[\"Plano\"] }}"
            },
            {
              "column": "VALOR DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Valor da Compra\"] }}"
            },
            {
              "column": "MOEDA DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Moeda da Compra\"] }}"
            },
            {
              "column": "FORMA DE PAGAMENTO",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Forma de Pagamento\"] }}"
            },
            {
              "column": "NÚMERO DE PARCELAS",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Número de Parcelas\"] }}"
            },
            {
              "column": "STATUS DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Status da Compra\"] }}"
            },
            {
              "column": "CPF/CNPJ",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"CPF/CNPJ do Cliente\"] }}"
            },
            {
              "column": "PRODUTO",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Produto\"] }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "02ca3d24-3ce2-4a48-8909-3874a700c6e1",
      "name": "atualiza_bd",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        500,
        660
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "renLSoeRurwGxrLn",
          "name": "[PRIGEO] - Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "=+{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        700,
        660
      ],
      "id": "ec95ad18-3a9a-4afd-89ca-a68bb6edbadf"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d0cb2cd1-db80-456a-b860-a6b979bdb984",
      "name": "boleto_gerado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        480,
        840
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d47cef1e-d179-4911-be4f-37c437a37f5e",
      "name": "pix_gerado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        480,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Forma de Pagamento\"] }}",
              "value2": "Boleto"
            }
          ]
        }
      },
      "id": "5323d12e-b97b-41cb-8032-a74f503db074",
      "name": "boleto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        660
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_linha_dig_boleto\"] }}/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Linha Digitável do Boleto\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "add_linhadig_boleto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1120,
        500
      ],
      "id": "eb73c2c6-3506-4ef8-b810-f63f5614a764",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_linha_dig_pix\"] }}/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Linha Digitável do PIX\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "add_linhadig_pix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1340,
        760
      ],
      "id": "07f56c3b-5a94-48d4-8aa4-214a24295cae",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_link_boleto\"] }}/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Link do Boleto\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "add_link_boleto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1340,
        500
      ],
      "id": "5b359003-f8c6-4676-aaf4-0b23058f5619",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_link_pix\"] }}/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Link do PIX\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "add_link_pix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1540,
        760
      ],
      "id": "271139b3-d389-46cb-a731-1a027af48811",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_boleto_gerado\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "envia_fluxo_boleto_gerado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1540,
        500
      ],
      "id": "f19a5ce7-5d40-4c74-8fa8-ac709433c0ed"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_pix_gerado\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "envia_fluxo_pix_gerado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1740,
        760
      ],
      "id": "e60367bc-8802-4354-b427-bd0dcffc7f0b"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"fields\"][\"redelivered\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "1bc1d121-516d-40d9-9d6c-d4280ab4c893",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        280,
        660
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "8efd5858-519c-482b-9dbf-0454640d6769",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Forma de Pagamento\"] }}",
              "value2": "PIX"
            }
          ]
        }
      },
      "id": "f2a387be-7c87-4836-995a-11f6cad19971",
      "name": "PIX",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        840
      ]
    },
    {
      "parameters": {},
      "id": "8929d890-e4fb-42aa-b604-713b5d4ca81c",
      "name": "nao_faca_nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        1040
      ]
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-39YGWtm4T0SOw8WZmApCqQ",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Aguardando Pagamento - CSP"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "Valor da Compra": 6.96,
            "Data da Compra": "08/07/55668",
            "Comissão Hotmart": 1.39,
            "Número de Parcelas": 1,
            "Nome do Produto": "Combo de cursos Prigeo: Sala de Professores",
            "Nome do Cliente": "Gabriel Amaral Mota",
            "E-mail do Cliente": "ferramentas@automagicbots.com.br",
            "Telefone do Cliente": "5511968678789",
            "CPF/CNPJ do Cliente": "45.157.482/0001-26",
            "ID da Transação": "HP0408613005",
            "Oferta da Compra": "aud7l0an",
            "Moeda da Compra": "BRL",
            "Forma de Pagamento": "PIX",
            "Status da Compra": "PIX Gerado",
            "DDD": "11",
            "Link do PIX": "https://customer-local-latam.ebanx.com/pix/checkout?hash=6500f523b4d5ac0cb3f24f41002df54b5b51a4db1404e11f",
            "Linha Digitável do PIX": "00020101021226740014br.gov.bcb.pix2552pix.ebanx.com/qr/v2/23060E61174D298949678E47737DA04F5204000053039865802BR5924Launch Pad Tecnologia Se6014BELO HORIZONTE62070503***63041EB0",
            "Link do Boleto": "",
            "Linha Digitável do Boleto": "",
            "API-KEY": "6f2ad020-2909-475d-bcc6-a2b9e6cd9131",
            "id_campo_linha_dig_boleto": "1291730",
            "id_campo_linha_dig_pix": "1291729",
            "id_campo_link_boleto": "1291727",
            "id_campo_link_pix": "1291728",
            "id_fluxo_pix_gerado": "2290487",
            "id_fluxo_boleto_gerado": "2290497"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T20:20:38.896Z",
      "updatedAt": "2024-05-03T20:20:38.896Z",
      "id": "vkeEqzmarx4BYIBt",
      "name": "CSP"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T20:20:44.094Z",
  "versionId": "9375e98c-1ff1-48b4-9fc3-a29343c29802"
}