workflows/[CSP] - Compra Completa - Parte 2.json
{
  "active": true,
  "connections": {
    "atualiza_bd": {
      "main": [
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "envia_fluxo_compra_completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T15:17:10.472Z",
  "id": "Rv7gyJbsUXETbVLg",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[CSP] - Compra Completa - Parte 2",
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1292197698,
          "mode": "list",
          "cachedResultName": "[Geral] - Compra Aprovada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo/edit#gid=1292197698"
        },
        "columnToMatchOn": "ID DA TRANSAÇÃO",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"ID da Transação\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data da Compra\"] }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "column": "E-MAIL",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "CÓDIGO DO ASSINANTE",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Código da Inscrição\"] }}"
            },
            {
              "column": "OFERTA DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Oferta da Compra\"] }}"
            },
            {
              "column": "COMISSÃO GATEWAY",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Comissão Hotmart\"] }}"
            },
            {
              "column": "PLANO",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Plano\"] }}"
            },
            {
              "column": "VALOR DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Valor da Compra\"] }}"
            },
            {
              "column": "MOEDA DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Moeda da Compra\"] }}"
            },
            {
              "column": "FORMA DE PAGAMENTO",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Forma de Pagamento\"] }}"
            },
            {
              "column": "NÚMERO DE PARCELAS",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Número de Parcelas\"] }}"
            },
            {
              "column": "STATUS DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Status da Compra\"] }}"
            },
            {
              "column": "CPF/CNPJ",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"CPF/CNPJ do Cliente\"] }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente\"] }}"
            },
            {
              "column": "PRODUTO",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Produto\"] }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "fb666513-301f-4146-a7e8-1e92ac944474",
      "name": "atualiza_bd",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        500,
        660
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "renLSoeRurwGxrLn",
          "name": "[PRIGEO] - Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "queue": "Compra Completa - CSP",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "51e3c558-e37d-4e42-87c4-464d2f5b09e8",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        80,
        660
      ],
      "credentials": {
        "rabbitmq": {
          "id": "v10PciJKjFB8gCKb",
          "name": "[PRIGEO] - RabbitMQ"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "=+{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        700,
        660
      ],
      "id": "d3c1cc99-f262-425f-8c78-e76937e5f591"
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "308169cc-0dfc-40b1-88f3-20fcca89c907",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"fields\"][\"redelivered\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "1a257f8f-7d61-4450-81d5-09027fbf29b5",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        280,
        660
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_compra_completa\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "envia_fluxo_compra_completa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        880,
        660
      ],
      "id": "d4081959-262d-4a10-8c70-9997a94346e1"
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-NFiNGlqvmOgg12gs0pb0xw",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Compra Completa - CSP"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "Valor da Compra": 696,
            "Data da Compra": "19/12/55648",
            "Comissão Hotmart": 69.9,
            "Número de Parcelas": 12,
            "Nome do Produto": "Combo de cursos Prigeo: Sala de Professores",
            "Nome do Cliente": "Rosana Marins",
            "E-mail do Cliente": "rmarins741@gmail.com",
            "Telefone do Cliente": "5513981586299",
            "CPF/CNPJ do Cliente": null,
            "ID da Transação": "HP3087229620",
            "Oferta da Compra": "aud7l0an",
            "Moeda da Compra": "BRL",
            "Forma de Pagamento": "Cartão de Crédito",
            "Status da Compra": "Compra Completa",
            "DDD": "13"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T20:20:38.896Z",
      "updatedAt": "2024-05-03T20:20:38.896Z",
      "id": "vkeEqzmarx4BYIBt",
      "name": "CSP"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T20:23:11.779Z",
  "versionId": "f116d468-c1f8-4f55-9445-22943039d893"
}