workflows/[CSP] - Carrinho Abandonado - Parte 2.json
{
  "active": true,
  "connections": {
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "add_email_compra_bc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_bd": {
      "main": [
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_email_compra_bc": {
      "main": [
        [
          {
            "node": "envia_fluxo_carrinho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T14:56:35.918Z",
  "id": "Vmgk157YbSElj88w",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[CSP] - Carrinho Abandonado - Parte 2",
  "nodes": [
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "=+{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \")[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        680,
        660
      ],
      "id": "763a1b72-f818-485e-8516-2e3f2f2b70f3"
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "48b99943-e4fd-4479-90c3-8650259cbc7c",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"fields\"][\"redelivered\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "197c1664-64d1-4de7-a92f-358ad0084195",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        280,
        660
      ]
    },
    {
      "parameters": {
        "queue": "Carrinho Abandonado - CSP",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "1176bc91-cff7-4c3c-8c13-3f3087a4e377",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        80,
        660
      ],
      "credentials": {
        "rabbitmq": {
          "id": "v10PciJKjFB8gCKb",
          "name": "[PRIGEO] - RabbitMQ"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 308595670,
          "mode": "list",
          "cachedResultName": "[Geral] - Carrinhos Abandonados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo/edit#gid=308595670"
        },
        "columnToMatchOn": "TELEFONE",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "NOME",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "column": "E-MAIL",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "STATUS DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "DATA DE ABANDONO DO CARRINHO",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Abandono do Carrinho\"] }}"
            },
            {
              "column": "PRODUTO",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Produto\"] }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "105ab320-88c8-4df2-a67d-521c3e28265c",
      "name": "atualiza_bd",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        480,
        660
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "renLSoeRurwGxrLn",
          "name": "[PRIGEO] - Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Fluxo\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "envia_fluxo_carrinho",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1100,
        660
      ],
      "id": "17056a11-cbdd-4497-bc8b-16051c4c3c3f",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_email_bc\"] }}/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "add_email_compra_bc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        900,
        660
      ],
      "id": "19d8390b-6ad5-4a84-8adb-53678431242f",
      "continueOnFail": true
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-xfz5xuo_5k2MRs-QED0pXg",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Carrinho Abandonado - CSP"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "Nome do Produto": "Combo de cursos Prigeo: Sala de Professores",
            "Nome do Cliente": "Vitor Queiroz de Almeida",
            "E-mail do Cliente": "vitorrqueiroztrafego@gmail.com",
            "Telefone do Cliente": "5519982022213",
            "Data de Abandono do Carrinho": "12/09/2023",
            "API-KEY": "6f2ad020-2909-475d-bcc6-a2b9e6cd9131",
            "ID do Fluxo": "2290510",
            "Evento": "Carrinho Abandonado"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T20:20:38.896Z",
      "updatedAt": "2024-05-03T20:20:38.896Z",
      "id": "vkeEqzmarx4BYIBt",
      "name": "CSP"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T20:21:13.243Z",
  "versionId": "ef23b84f-beed-479d-81cf-858312db5993"
}