workflows/[CSP] - Compra Cancelada - Parte 2.json
{
  "active": true,
  "connections": {
    "atualiza_bd": {
      "main": [
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_email_compra_bc": {
      "main": [
        [
          {
            "node": "add_id_transacao_bc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_id_transacao_bc": {
      "main": [
        [
          {
            "node": "envia_fluxo_compra_cancelada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "add_email_compra_bc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T15:04:46.379Z",
  "id": "fvQ5aUNU2dGEbhIg",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[CSP] - Compra Cancelada - Parte 2",
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 455011098,
          "mode": "list",
          "cachedResultName": "[Geral] - Compra Cancelada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo/edit#gid=455011098"
        },
        "columnToMatchOn": "ID DA TRANSAÇÃO",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"ID da Transação\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data da Compra\"] }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "column": "E-MAIL",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "CÓDIGO DO ASSINANTE",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Código da Inscrição\"] }}"
            },
            {
              "column": "OFERTA DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Oferta da Compra\"] }}"
            },
            {
              "column": "COMISSÃO GATEWAY",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Comissão Hotmart\"] }}"
            },
            {
              "column": "PLANO",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Plano\"] }}"
            },
            {
              "column": "VALOR DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Valor da Compra\"] }}"
            },
            {
              "column": "MOEDA DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Moeda da Compra\"] }}"
            },
            {
              "column": "FORMA DE PAGAMENTO",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Forma de Pagamento\"] }}"
            },
            {
              "column": "NÚMERO DE PARCELAS",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Número de Parcelas\"] }}"
            },
            {
              "column": "STATUS DA COMPRA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Status da Compra\"] }}"
            },
            {
              "column": "CPF/CNPJ",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"CPF/CNPJ do Cliente\"] }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente\"] }}"
            },
            {
              "column": "PRODUTO",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Produto\"] }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "6b3c8204-d856-4642-8979-2e888e14dcfc",
      "name": "atualiza_bd",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        500,
        660
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "renLSoeRurwGxrLn",
          "name": "[PRIGEO] - Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_email_bc\"] }}/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "add_email_compra_bc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        900,
        660
      ],
      "id": "e4a336b1-3c8e-49c6-ae28-45443f1fece9",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_transacao_bc\"] }}/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"ID da Transação\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "add_id_transacao_bc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1100,
        660
      ],
      "id": "e6a3d7f6-cbf7-40e7-8ace-66ddf1d862c5",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_compra_cancelada\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "envia_fluxo_compra_cancelada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1300,
        660
      ],
      "id": "f505f370-4514-4390-be2d-a5f0caad666b"
    },
    {
      "parameters": {
        "queue": "Compra Cancelada - CSP",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "22178dcb-0bd9-4f70-aa64-1695c2bb0cb0",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        80,
        660
      ],
      "credentials": {
        "rabbitmq": {
          "id": "v10PciJKjFB8gCKb",
          "name": "[PRIGEO] - RabbitMQ"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "=+{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        700,
        660
      ],
      "id": "39c13775-ce0d-4793-91ec-fce8b0b64a93"
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "2f051583-2e7d-4a90-8469-df5b045b3383",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"fields\"][\"redelivered\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "79132aa1-8549-4150-9e44-bccb67a48a3f",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        280,
        660
      ]
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-Y4-b9R3CXTOopwrHU-Q4-g",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Compra Cancelada - CSP"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "Data da Compra": "11/05/55668",
            "Valor da Compra": 696,
            "Comissão Hotmart": 69.9,
            "Número de Parcelas": 1,
            "Nome do Produto": "Combo de cursos Prigeo: Sala de Professores",
            "Nome do Cliente": "Gabriel Amaral Mota",
            "E-mail do Cliente": "amaral@automagicbots.com.br",
            "ID da Transação": "HP0090194158",
            "Telefone do Cliente": "5531985711260",
            "CPF/CNPJ do Cliente": "101.841.756-74",
            "Oferta da Compra": "aud7l0an",
            "Moeda da Compra": "BRL",
            "Forma de Pagamento": "Cartão de Crédito",
            "Status da Compra": "Compra Cancelada",
            "DDD": "21",
            "API-KEY": "6f2ad020-2909-475d-bcc6-a2b9e6cd9131",
            "id_fluxo_compra_cancelada": "2290534",
            "id_campo_transacao_bc": "1290192",
            "id_campo_email_bc": "1271599"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T20:20:38.896Z",
      "updatedAt": "2024-05-03T20:20:38.896Z",
      "id": "vkeEqzmarx4BYIBt",
      "name": "CSP"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T20:23:05.042Z",
  "versionId": "1c997e1e-0f70-495b-aa6c-e8b440d65383"
}