workflows/[CSP] - Compra Completa - Parte 1.json
{
  "active": true,
  "connections": {
    "consulta_users_hotmart": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compra_completa": {
      "main": [
        [
          {
            "node": "consulta_users_hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados": {
      "main": [
        [
          {
            "node": "dados_gerais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_gerais": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T15:16:28.449Z",
  "id": "XoHup3TxFzbJZrIX",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[CSP] - Compra Completa - Parte 1",
  "nodes": [
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $item(\"0\").$node[\"Formatação da Data do Pedido\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e652a6e3-1f64-4b11-8747-588043cdc123",
      "name": "consulta_users_hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        660,
        460
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Acessando o objeto JSON do webhook \"compra_cancelada\"\nconst compraCompleta = $node[\"compra_completa\"].json;\nconst consultaUsers = $node[\"consulta_users_hotmart\"].json;\n\nfunction formatarDataMilissegundos(dataMilissegundos) {\n  const data = new Date(dataMilissegundos);\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0');\n  const ano = data.getFullYear();\n  return `${dia}/${mes}/${ano}`;\n}\n\n// Função para formatar o nome com a primeira letra de cada parte em maiúscula\nfunction formatName(str) {\n  return str\n    .split(' ')\n    .map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase())\n    .join(' ');\n}\n\nconst nomeClienteOriginal = consultaUsers?.items?.[0]?.users?.[1]?.user?.name || '';\nconst nomeClienteFormatado = formatName(nomeClienteOriginal);\nconst emailCliente = consultaUsers?.items?.[0]?.users?.[1]?.user?.email.toLowerCase().replace(/\\s/g, '') || '';\n\n// Tratamento do número de telefone\nconst telefoneClienteOriginal = consultaUsers?.items?.[0]?.users?.[1]?.user?.phone || '';\nconst telefoneLimpo = telefoneClienteOriginal.replace(/\\D/g, \"\");\nconst DDI = '55';\nconst DDD = telefoneLimpo.slice(0, 2);\n\n// Determinar o número de telefone final\nlet telefoneFinal;\nif (parseInt(DDD) > 28) {\n  telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-8)}`;\n} else {\n  telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-9)}`;\n}\n\nconst moedaCompra = compraCompleta.body.data.purchase.original_offer_price.currency_value || '';\n\n// Mapeamento das formas de pagamento em inglês para PT-BR\nconst formasPagamento = {\n  CREDIT_CARD: \"Cartão de Crédito\",\n  PIX: \"PIX\",\n  BILLET: \"Boleto\",\n  PAYPAL: \"PayPal\",\n  WALLET: \"Carteira da Hotmart\",\n  FINANCED_BILLET: \"Boleto Parcelado\",\n  CASH_PAYMENT: \"Dinheiro Vivo\",\n  DIRECT_BANK_TRANSFER: \"Transferência Bancária\",\n  DIRECT_DEBIT: \"Débito Direto\",\n  FINANCED_INSTALLMENT: \"Parcelamento Financiado\",\n  GOOGLE_PAY: \"Google Pay\",\n  HOTCARD: \"Cartão da Hotmart\",\n  HYBRID: \"Híbrido\",\n  MANUAL_TRANSFER: \"Transferência Manual\",\n  PAYPAL_INTERNACIONAL: \"PayPal Internacional\",\n  PICPAY: \"PicPay\",\n};\n\n// Mapeamento dos status de compra em inglês para PT-BR\nconst statusCompra = {\n  APPROVED: 'Compra Aprovada',\n  BLOCKED: 'Compra Bloqueada',\n  CANCELLED: 'Compra Cancelada',\n  CHARGEBACK: 'Chargeback',\n  COMPLETE: 'Compra Completa',\n  EXPIRED: 'Compra Expirada',\n  OVERDUE: 'Compra Atrasada',\n  NO_FUNDS: 'Sem Fundos',\n  PRINTED_BILLET: 'Boleto Gerado',\n  PARTIALLY_REFUNDED: 'Parcialmente Reembolsada',\n  PROCESSING_TRANSACTION: 'Processando Transação',\n  PRE_ORDER: 'Compra Reservada',\n  STARTED: 'Compra Iniciada',\n  PROTESTED: 'Compra Reclamada',\n  REFUNDED: 'Compra Reembolsada',\n  WAITING_PAYMENT: 'Aguardando Pagamento',\n  UNDER_ANALISYS: 'Em Análise',\n  CANCELED: \"Compra Cancelada\",\n  COMPLETED: \"Compra Completa\"\n};\n\n// Obtendo os dados formatados\nconst nomeProduto = compraCompleta.body.data.product.name || '';\nconst comissaoGateway = compraCompleta.body.data.commissions[0]?.value || '';\nconst ofertaCompra = compraCompleta.body.data.purchase.offer.code || '';\nconst valorCompra = compraCompleta.body.data.purchase.price.value || '';\nconst numeroParcelas = compraCompleta.body.data.purchase.payment.installments_number || '';\nconst metodoPagamento = formasPagamento[compraCompleta.body.data.purchase.payment.type] || '';\nconst idTransacao = compraCompleta.body.data.purchase.transaction || '';\nconst statusCompraFormatado = statusCompra[compraCompleta.body.data.purchase.status] || '';\nconst dataPedidoFormatada = formatarDataMilissegundos(compraCompleta.body.data.purchase.order_date);\n\n// Encontre o valor do documento (CPF ou CNPJ) do comprador onde o 'role' é 'BUYER'\nlet cpfcnpj_cliente = null;\nconst users = $node[\"consulta_users_hotmart\"].json[\"items\"][0][\"users\"];\n\nif (users) {\n  const buyer = users.find(user => user.role === 'BUYER');\n  if (buyer) {\n    cpfcnpj_cliente = buyer.user.documents[0]?.value || null;\n  }\n}\n\nif (cpfcnpj_cliente) {\n  if (cpfcnpj_cliente.length === 11) {\n    // Formatar CPF (11 dígitos) XXX.XXX.XXX-XX\n    cpfcnpj_cliente = cpfcnpj_cliente.replace(/(\\d{3})(\\d{3})(\\d{3})(\\d{2})/, '$1.$2.$3-$4');\n  } else if (cpfcnpj_cliente.length === 14) {\n    // Formatar CNPJ (14 dígitos) XX.XXX.XXX/0001-XX\n    cpfcnpj_cliente = cpfcnpj_cliente.replace(/(\\d{2})(\\d{3})(\\d{3})(\\d{4})(\\d{2})/, '$1.$2.$3/$4-$5');\n  }\n}\n\n// Resultado\nconst dadosFormatados = {\n  nomeProduto,\n  comissaoGateway,\n  ofertaCompra,\n  valorCompra,\n  numeroParcelas,\n  metodoPagamento,\n  idTransacao,\n  statusCompraFormatado,\n  dataPedidoFormatada,\n  nomeClienteFormatado,\n  emailCliente,\n  telefoneFinal,\n  cpfcnpj_cliente,\n  moedaCompra\n};\n\n// Saída dos dados formatados\nreturn dadosFormatados;\n"
      },
      "id": "94dda111-ad9e-4ceb-964c-a5c7733709cc",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        860,
        460
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "csp-compra-completa",
        "options": {}
      },
      "id": "bf897c13-2d91-4391-9a55-2670e833a11b",
      "name": "compra_completa",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "webhookId": "0cdf2496-71aa-4389-a31d-99d80847d032"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Produto",
              "value": "={{ $node[\"formata_dados\"].json[\"nomeProduto\"] }}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"formata_dados\"].json[\"nomeClienteFormatado\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"formata_dados\"].json[\"emailCliente\"] }}"
            },
            {
              "name": "Telefone do Cliente",
              "value": "={{ $node[\"formata_dados\"].json[\"telefoneFinal\"] }}"
            },
            {
              "name": "CPF/CNPJ do Cliente",
              "value": "={{ $node[\"formata_dados\"].json[\"cpfcnpj_cliente\"] }}"
            },
            {
              "name": "ID da Transação",
              "value": "={{ $node[\"formata_dados\"].json[\"idTransacao\"] }}"
            },
            {
              "name": "Oferta da Compra",
              "value": "={{ $node[\"formata_dados\"].json[\"ofertaCompra\"] }}"
            },
            {
              "name": "Moeda da Compra",
              "value": "={{ $node[\"formata_dados\"].json[\"moedaCompra\"] }}"
            },
            {
              "name": "Código da Inscrição",
              "value": "={{ $node[\"compra_completa\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] }}"
            },
            {
              "name": "Plano",
              "value": "={{ $node[\"compra_completa\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] }}"
            },
            {
              "name": "Forma de Pagamento",
              "value": "={{ $node[\"formata_dados\"].json[\"metodoPagamento\"] }}"
            },
            {
              "name": "Status da Compra",
              "value": "={{ $node[\"formata_dados\"].json[\"statusCompraFormatado\"] }}"
            },
            {
              "name": "DDD",
              "value": "={{ $node[\"formata_dados\"].json[\"telefoneFinal\"].slice(2,4) }}"
            },
            {
              "name": "id_fluxo_compra_completa"
            },
            {
              "name": "API-KEY",
              "value": "6f2ad020-2909-475d-bcc6-a2b9e6cd9131"
            }
          ],
          "number": [
            {
              "name": "Valor da Compra",
              "value": "={{ $node[\"formata_dados\"].json[\"valorCompra\"] }}"
            },
            {
              "name": "Data da Compra",
              "value": "={{ $node[\"formata_dados\"].json[\"dataPedidoFormatada\"] }}"
            },
            {
              "name": "Comissão Hotmart",
              "value": "={{ $node[\"formata_dados\"].json[\"comissaoGateway\"] }}"
            },
            {
              "name": "Número de Parcelas",
              "value": "={{ $node[\"formata_dados\"].json[\"numeroParcelas\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "f38c3212-4e82-414b-80bf-a2ac4b87ed0c",
      "name": "dados_gerais",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1060,
        460
      ]
    },
    {
      "parameters": {
        "queue": "Compra Completa - CSP",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "26f240f7-c722-471e-86ca-f54f1790d3be",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1260,
        460
      ],
      "credentials": {
        "rabbitmq": {
          "id": "v10PciJKjFB8gCKb",
          "name": "[PRIGEO] - RabbitMQ"
        }
      }
    }
  ],
  "pinData": {
    "compra_completa": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookprigeo.amarads.com.br",
            "user-agent": "Jodd HTTP",
            "content-length": "1093",
            "content-type": "application/json",
            "x-forwarded-for": "54.198.155.214",
            "x-forwarded-host": "n8nwebhookprigeo.amarads.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "99d022a72141",
            "x-hotmart-hottok": "C0M0zxU3tOxl79rtObW21JucfNTfa006c2cecc-32a6-4356-b7a6-4327bf1cd88c",
            "x-real-ip": "54.198.155.214",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "has_co_production": true,
                "name": "Combo de cursos Prigeo: Sala de Professores",
                "id": 3301754,
                "ucode": "616b4e08-67b7-40ac-91a3-8253ab64f056"
              },
              "commissions": [
                {
                  "currency_value": "BRL",
                  "source": "MARKETPLACE",
                  "value": 69.9
                },
                {
                  "currency_value": "BRL",
                  "source": "PRODUCER",
                  "value": 465.83
                }
              ],
              "purchase": {
                "offer": {
                  "code": "aud7l0an"
                },
                "order_date": 1693944616000,
                "original_offer_price": {
                  "currency_value": "BRL",
                  "value": 696
                },
                "price": {
                  "currency_value": "BRL",
                  "value": 696
                },
                "checkout_country": {
                  "iso": "BR",
                  "name": "Brasil"
                },
                "buyer_ip": "177.8.47.98",
                "order_bump": {
                  "is_order_bump": true
                },
                "payment": {
                  "installments_number": 12,
                  "type": "CREDIT_CARD"
                },
                "approved_date": 1693944618000,
                "full_price": {
                  "currency_value": "BRL",
                  "value": 833.52
                },
                "transaction": "HP3087229620",
                "status": "COMPLETED"
              },
              "affiliates": [
                {
                  "affiliate_code": "",
                  "name": ""
                }
              ],
              "producer": {
                "name": "Prigeo Ensino e Tecnologia"
              },
              "buyer": {
                "name": "Priscila Pereira Machado ",
                "checkout_phone": "59999364619",
                "email": "priscilapm@gmail.com"
              }
            },
            "id": "3dba3529-b93e-4850-b827-4d5927906808",
            "creation_date": 1694583919119,
            "event": "PURCHASE_COMPLETE",
            "version": "2.0.0"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T20:20:38.896Z",
      "updatedAt": "2024-05-03T20:20:38.896Z",
      "id": "vkeEqzmarx4BYIBt",
      "name": "CSP"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T20:24:55.390Z",
  "versionId": "f9b37bc6-f617-44ce-b019-b7c0cc48c1d1"
}