workflows/[PG] - CPJALE - Compra Completa.json
{
  "active": true,
  "connections": {
    "Compra Completa": {
      "main": [
        [
          {
            "node": "Formatação da Data do Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data do Pedido": {
      "main": [
        [
          {
            "node": "Consulta na Hotmart para Completar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta na Hotmart para Completar Dados": {
      "main": [
        [
          {
            "node": "Nomeia Forma de Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento": {
      "main": [
        [
          {
            "node": "Boleto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cartão de Crédito1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paypal1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nomeia Forma de Pagamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento2": {
      "main": [
        [
          {
            "node": "PIX1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Carteira da Hotmart1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outros1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outros1": {
      "main": [
        [
          {
            "node": "Segue Nomenclatura da Hotmart1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carteira da Hotmart1": {
      "main": [
        [
          {
            "node": "Nomeia Carteira da Hotmart1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX1": {
      "main": [
        [
          {
            "node": "Nomeia PIX1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Paypal1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Cartão de Crédito1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Boleto1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia PIX1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Carteira da Hotmart1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segue Nomenclatura da Hotmart1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paypal1": {
      "main": [
        [
          {
            "node": "Nomeia Paypal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartão de Crédito1": {
      "main": [
        [
          {
            "node": "Nomeia Cartão de Crédito1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boleto": {
      "main": [
        [
          {
            "node": "Nomeia Boleto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados da Compra": {
      "main": [
        [
          {
            "node": "Verificar DDD>4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar DDD>4": {
      "main": [
        [
          {
            "node": "Sem nono dígito4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nono dígito4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nono dígito4": {
      "main": [
        [
          {
            "node": "Dados validados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem nono dígito4": {
      "main": [
        [
          {
            "node": "Dados validados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados validados4": {
      "main": [
        [
          {
            "node": "Verificar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência": {
      "main": [
        [
          {
            "node": "Contato existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência": {
      "main": [
        [
          {
            "node": "Condições1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condições1": {
      "main": [
        [
          {
            "node": "Libera conteúdo após a garantia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Libera conteúdo após a garantia": {
      "main": [
        [
          {
            "node": "Faz upsell após o vencimento da garantia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Faz upsell após o vencimento da garantia": {
      "main": [
        [
          {
            "node": "Informações do Produto2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Informações do Produto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto3": {
      "main": [
        [
          {
            "node": "Mensagens3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens3": {
      "main": [
        [
          {
            "node": "Enviar Mensagem de Conteúdo Liberado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto2": {
      "main": [
        [
          {
            "node": "Mensagens2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens2": {
      "main": [
        [
          {
            "node": "Enviar Mensagem de Conteúdo Liberado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem de Conteúdo Liberado1": {
      "main": [
        [
          {
            "node": "Espera 5 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 5 segundos": {
      "main": [
        [
          {
            "node": "Enviar Mensagem de Upsell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T17:17:28.512Z",
  "id": "yRsXoW9JZ4mMNpET",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PG] - CPJALE - Compra Completa",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cpjale-compra-completa",
        "options": {}
      },
      "id": "1612ab74-7837-422f-a9f1-de3f73fe4509",
      "name": "Compra Completa",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4100,
        1620
      ],
      "webhookId": "238be03e-0f55-4065-8a3f-1a019ef47385"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Dados da Compra\"].json[\"DDD\"] }}",
              "operation": "larger",
              "value2": 28
            }
          ]
        }
      },
      "name": "Verificar DDD>4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2140,
        1620
      ],
      "id": "509b547e-b8dd-4930-8576-84806b134421"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-sem-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Sem nono dígito4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1860,
        1520
      ],
      "id": "2a574dd8-3e8e-47b2-b65f-79227461c99f"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-9) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Nono dígito4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1860,
        1740
      ],
      "id": "78d5f56a-a97a-4f24-bd96-ea8578a846ef"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-formatado",
              "value": "={{ $node[\"Sem nono dígito4\"].runIndex >= 0      ?   $node[\"Sem nono dígito4\"].json[\"whatsapp-sem-nono\"] : $node[\"Nono dígito4\"].json[\"whatsapp-nono\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados validados4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1600,
        1640
      ],
      "id": "de39e398-3ee6-4ed3-978c-0ea7e6d4afc2"
    },
    {
      "parameters": {
        "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"order_date\"]/1000 }}",
        "dataPropertyName": "Data do Pedido Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "4621c266-3cac-4701-bdd3-c54d66050bab",
      "name": "Formatação da Data do Pedido",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -3880,
        1620
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Produto",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"product\"][\"name\"] }}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"buyer\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"buyer\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"] }}"
            },
            {
              "name": "CPF/CNPJ do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"documents\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "ID da Transação",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            },
            {
              "name": "Oferta da Compra",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"offer\"][\"code\"] }}"
            },
            {
              "name": "Moeda da Compra",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"original_offer_price\"][\"currency_value\"] }}"
            },
            {
              "name": "Código da Inscrição",
              "value": "={{ $node[\"Compra Completa\"].json && $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] ? $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] : \".\" }}"
            },
            {
              "name": "Plano",
              "value": "={{ $node[\"Compra Completa\"].json && $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] ? $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] : \".\" }}"
            },
            {
              "name": "Forma de Pagamento",
              "value": "={{ $json[\"Nome da Forma de Pagamento\"] }}"
            },
            {
              "name": "Status da Compra",
              "value": "=Completa"
            },
            {
              "name": "DDD",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"].slice(0,2)  }}"
            }
          ],
          "number": [
            {
              "name": "Valor da Compra",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"full_price\"][\"value\"] }}"
            },
            {
              "name": "Data da Compra",
              "value": "={{ $node[\"Formatação da Data do Pedido\"].json[\"Data do Pedido Formatada\"] }}"
            },
            {
              "name": "Comissão Hotmart",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"commissions\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "Número de Parcelas",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"installments_number\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "88d7f8bb-02d2-45b1-b9db-578ab3a4a8e2",
      "name": "Dados da Compra",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2340,
        1620
      ]
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $item(\"0\").$node[\"Formatação da Data do Pedido\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1d85efc6-a92c-413c-9eab-581d330b98e9",
      "name": "Consulta na Hotmart para Completar Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -3600,
        1620
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "BILLET"
            },
            {
              "value2": "CREDIT_CARD",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "PAYPAL",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "c29214fa-246c-42ae-9fc2-9184162fa324",
      "name": "Nomeia Forma de Pagamento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -3320,
        1620
      ]
    },
    {
      "parameters": {},
      "id": "d0dbdb6f-5557-47ba-a5b8-7de313f947bf",
      "name": "Boleto",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3020,
        1380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1000,
        1640
      ],
      "id": "31ddcef9-0632-46d2-a55d-b83e480b320a"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados4\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Verificar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1280,
        1640
      ],
      "id": "bb9acdd9-5439-4ead-94f1-8a2090dab2ef",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Dados validados4\"].json[\"whatsapp-formatado\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[1] }}"
            }
          ]
        }
      },
      "name": "Cadastrar contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -760,
        1740
      ],
      "id": "96b8f3a2-6783-483c-9d00-856a8be07f5a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados4\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -540,
        1620
      ],
      "id": "92e906d6-6366-478a-8243-a86f7493289f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"Conteúdo liberado após garantia?\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "af3a5294-327d-4cb4-9dc4-2cccf2b6bbae",
      "name": "Libera conteúdo após a garantia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -20,
        1620
      ]
    },
    {
      "parameters": {},
      "id": "df2e5ddf-73f5-44bf-b053-bf9923242031",
      "name": "Não faça nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        260,
        1640
      ]
    },
    {
      "parameters": {
        "content": "## Preencher este Node 👇🏻\n\n## Se fizer upsell, colocar link do checkout do produto de upsell aqui\n\n## Caso seja uma oferta de upsell diferente da oferta padrão, lembre-se de coolocar o link do checkout desta oferta",
        "height": 683.1925581395351,
        "width": 195.00515995872038
      },
      "id": "a0069744-75d8-49a3-8167-e2521be2d66c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Preencher este Node 👇🏻\n\n## Se fizer upsell, coloque a mensagem de upsell aqui neste Node",
        "height": 683.1925581395351,
        "width": 195.00515995872038
      },
      "id": "f5debad0-f7a6-4270-b1e4-7c0f33bb322a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"Faz upsell após garantia?\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "e714ec44-a30d-4918-bfcf-6818e637a5b0",
      "name": "Faz upsell após o vencimento da garantia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        260,
        1400
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Mensagens3\"].json[\"Mensagem de Liberação de Conteúdo\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Conteúdo Liberado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        960,
        1440
      ],
      "id": "89dc2d5d-5f72-4c49-9386-3128224b2c44",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Mensagens2\"].json[\"Mensagem de Liberação de Conteúdo\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Conteúdo Liberado1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        960,
        1220
      ],
      "id": "ef1f8fe6-72f9-4b7d-942e-d5e64db97731",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Mensagens2\"].json[\"Mensagem de Upsell\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Upsell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1400,
        1220
      ],
      "id": "8c32ecbb-0888-4c28-9dce-8d8a4529ec07",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "314a10ac-0a06-460e-a659-9545957d3440",
      "name": "Espera 5 segundos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1180,
        1220
      ],
      "webhookId": "d080b506-4e6f-4b25-a6f5-62dd22979ca2"
    },
    {
      "parameters": {},
      "id": "5a00c546-c7b3-4250-abb2-669cf753dd84",
      "name": "Cartão de Crédito1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3020,
        1560
      ]
    },
    {
      "parameters": {},
      "id": "dae8a99b-6b28-480d-9981-650ab1d3b32e",
      "name": "Paypal1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3020,
        1760
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "PIX"
            },
            {
              "value2": "WALLET",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "4671cb0a-66b9-445a-8cf6-5e44096bbeca",
      "name": "Nomeia Forma de Pagamento2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -3160,
        2040
      ]
    },
    {
      "parameters": {},
      "id": "fa9ab96e-e78d-4103-9cd1-dd53d03cc791",
      "name": "PIX1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2840,
        1940
      ]
    },
    {
      "parameters": {},
      "id": "d7b0821d-2235-4a43-9e8e-3620e324133c",
      "name": "Carteira da Hotmart1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2840,
        2140
      ]
    },
    {
      "parameters": {},
      "id": "477a4a2f-3b36-4fc9-a3ca-3aaab9da87dd",
      "name": "NoOp1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2840,
        2320
      ]
    },
    {
      "parameters": {},
      "id": "e4535af0-6de5-49fb-824c-f56a71f770c8",
      "name": "Outros1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2840,
        2500
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Boleto"
            }
          ]
        },
        "options": {}
      },
      "id": "8f7484ac-18d9-4139-ab19-89de600f7f69",
      "name": "Nomeia Boleto1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2800,
        1380
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Cartão de Crédito"
            }
          ]
        },
        "options": {}
      },
      "id": "96bea855-a661-4230-81bc-c3bc0e38cf53",
      "name": "Nomeia Cartão de Crédito1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2800,
        1560
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Paypal"
            }
          ]
        },
        "options": {}
      },
      "id": "1ec6fbfb-895b-4c05-a129-c4a99dfd7e04",
      "name": "Nomeia Paypal1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2800,
        1760
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "PIX"
            }
          ]
        },
        "options": {}
      },
      "id": "d00bc237-e199-4314-ab12-50f6780f1606",
      "name": "Nomeia PIX1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2620,
        1940
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Carteira da Hotmart"
            }
          ]
        },
        "options": {}
      },
      "id": "40762a55-df9c-4aaa-87b4-37f10e1bc227",
      "name": "Nomeia Carteira da Hotmart1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2620,
        2140
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "={{ $item(\"0\").$node[\"Consulta na Hotmart para Completar Dados\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c4e4240a-d5b6-4b46-beac-b7d4da552524",
      "name": "Segue Nomenclatura da Hotmart1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2620,
        2500
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link da Área de Membros"
            },
            {
              "name": "Link do Checkout do Upsell"
            }
          ]
        },
        "options": {}
      },
      "id": "502cdd75-2369-47ea-8fb3-d26ec2405a22",
      "name": "Informações do Produto2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        520,
        1220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de Liberação de Conteúdo",
              "value": "={{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}, passando para te avisar que já temos conteúdo novo do Brocas na Podologia - Sistema S.I.P te esperando na plataforma.\n\nAcompanhe por lá nosso cronograma de liberação de aulas. Você já pode acessá-los agora mesmo se quiser. Basta apertar no link abaixo:\n\n{{ $node[\"Informações do Produto2\"].json[\"Link da Área de Membros\"] }}\n\nAbraços, time Alê Nogueira."
            },
            {
              "name": "Mensagem de Upsell",
              "value": "={{ $node[\"Informações do Produto2\"].json[\"Link do Checkout do Upsell\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5b2b2276-68fa-42a9-833e-84dd9662988f",
      "name": "Mensagens2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        1220
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "Conteúdo liberado após garantia?"
            },
            {
              "name": "Faz upsell após garantia?"
            }
          ]
        },
        "options": {}
      },
      "id": "c85ef6e0-1db9-4fe6-901b-7bdbb18ad45b",
      "name": "Condições1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -240,
        1620
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link da Área de Membros"
            }
          ]
        },
        "options": {}
      },
      "id": "1ccbb5b7-7b22-45b7-bc41-679e31db21f3",
      "name": "Informações do Produto3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        520,
        1440
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de Liberação de Conteúdo",
              "value": "={{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}, passando para te avisar que já temos conteúdo novo do Brocas na Podologia - Sistema S.I.P te esperando na plataforma.\n\nAcompanhe por lá nosso cronograma de liberação de aulas. Você já pode acessá-los agora mesmo se quiser. Basta apertar no link abaixo:\n\n{{ $node[\"Informações do Produto3\"].json[\"Link da Área de Membros\"] }}\n\nAbraços, time Alê Nogueira."
            }
          ]
        },
        "options": {}
      },
      "id": "4ae6f2bb-addd-42b1-9cc1-6c81316cb143",
      "name": "Mensagens3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        1440
      ]
    },
    {
      "parameters": {
        "content": "## Validado"
      },
      "id": "9a5238c2-f50f-43cc-851b-492fdc2816cc",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        1420
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T21:28:12.912Z",
      "updatedAt": "2024-05-03T21:28:12.912Z",
      "id": "m5bTGP3bXgx0Uhkx",
      "name": "CPJALE"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T22:01:09.824Z",
  "versionId": "5289ffee-d8e4-49c3-95c4-5981e98b509f"
}