workflows/[PG] - CPJALE - Compra Aprovada.json
{
  "active": true,
  "connections": {
    "Compra Aprovada": {
      "main": [
        [
          {
            "node": "Formatação da Data do Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados da Compra 1": {
      "main": [
        [
          {
            "node": "Atualiza BD - Compra Aprovada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data do Pedido": {
      "main": [
        [
          {
            "node": "Consulta Venda na Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar DDD>": {
      "main": [
        [
          {
            "node": "Sem nono dígito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nono dígito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem nono dígito": {
      "main": [
        [
          {
            "node": "Dados validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nono dígito": {
      "main": [
        [
          {
            "node": "Dados validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados validados": {
      "main": [
        [
          {
            "node": "Verificar na audiência",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tem Manychat no SRC?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência": {
      "main": [
        [
          {
            "node": "Contato existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência": {
      "main": [
        [
          {
            "node": "Informações do Produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Venda na Hotmart": {
      "main": [
        [
          {
            "node": "Formatação da Data da Garantia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Users na Hotmart": {
      "main": [
        [
          {
            "node": "Nomeia Forma de Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data da Garantia": {
      "main": [
        [
          {
            "node": "Consulta Users na Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento": {
      "main": [
        [
          {
            "node": "Boleto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cartão de Crédito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paypal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nomeia Forma de Pagamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boleto": {
      "main": [
        [
          {
            "node": "Nomeia Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartão de Crédito": {
      "main": [
        [
          {
            "node": "Nomeia Cartão de Crédito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paypal": {
      "main": [
        [
          {
            "node": "Nomeia Paypal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento1": {
      "main": [
        [
          {
            "node": "PIX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Carteira da Hotmart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX": {
      "main": [
        [
          {
            "node": "Nomeia PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carteira da Hotmart": {
      "main": [
        [
          {
            "node": "Nomeia Carteira da Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outros": {
      "main": [
        [
          {
            "node": "Segue Nomenclatura da Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Boleto": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Cartão de Crédito": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Paypal": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia PIX": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Carteira da Hotmart": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segue Nomenclatura da Hotmart": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza BD - Compra Aprovada": {
      "main": [
        [
          {
            "node": "Verificar DDD>",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Manychat no SRC?": {
      "main": [
        [
          {
            "node": "Preenche Campo \"[CPJALE] - ID da Transação\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Adiciona Tag Aluno_CPJALE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência1": {
      "main": [
        [
          {
            "node": "Possui tag \"Aluno_CAC\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona CPF/CNPJ": {
      "main": [
        [
          {
            "node": "Enviar Fluxo de Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preenche Campo \"[CPJALE] - ID da Transação\"": {
      "main": [
        [
          {
            "node": "Preenche Campo \"[CPJALE] - E-mail da Compra\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Tag Aluno_CPJALE": {
      "main": [
        [
          {
            "node": "Adiciona Email da Compra CPJALE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Email da Compra CPJALE": {
      "main": [
        [
          {
            "node": "Adiciona ID-Transacao-CPJALE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona ID-Transacao-CPJALE": {
      "main": [
        [
          {
            "node": "Adiciona CPF/CNPJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Possui tag \"Aluno_CAC\"": {
      "main": [
        [
          {
            "node": "Não faz Upsell",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensagem de Upsell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 2 dias": {
      "main": [
        [
          {
            "node": "Buscar na audiência1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Fluxo de Onboarding": {
      "main": [
        [
          {
            "node": "Espera 2 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T17:05:38.192Z",
  "id": "nAjyj9mYVU1IKaZR",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PG] - CPJALE - Compra Aprovada",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cpjale-compra-aprovada",
        "options": {}
      },
      "id": "fe4e3d44-3cfb-4c83-823b-8d85b6d7ffb7",
      "name": "Compra Aprovada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3120,
        1080
      ],
      "webhookId": "fdaadeba-366a-4088-9f24-1ac305522b44"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Produto",
              "value": "={{ $json[\"items\"][\"0\"][\"product\"][\"name\"] }}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente",
              "value": "={{ $node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"] }}"
            },
            {
              "name": "CPF/CNPJ do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"documents\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "ID da Transação",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            },
            {
              "name": "Oferta da Compra",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"offer\"][\"code\"] }}"
            },
            {
              "name": "Moeda da Compra",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"original_offer_price\"][\"currency_value\"] }}"
            },
            {
              "name": "Código da Inscrição",
              "value": "={{ $node[\"Compra Aprovada\"].json && $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] ? $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] : \".\" }}"
            },
            {
              "name": "Plano",
              "value": "={{ $node[\"Compra Aprovada\"].json && $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] ? $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] : \".\" }}"
            },
            {
              "name": "Forma de Pagamento",
              "value": "={{ $json[\"Nome da Forma de Pagamento\"] }}"
            },
            {
              "name": "Status da Compra",
              "value": "=Aprovada"
            },
            {
              "name": "DDD",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"].slice(0,2)  }}"
            },
            {
              "name": "Plataforma de Origem",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"tracking\"][\"source\"].split('-')[0] }}"
            },
            {
              "name": "Temperatura do Público",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"tracking\"][\"source\"].split('-')[1] }}"
            },
            {
              "name": "Público",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"tracking\"][\"source\"].split('-')[2] }}"
            },
            {
              "name": "Posicionamento",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"tracking\"][\"source\"].split('-')[3] }}"
            },
            {
              "name": "Anúncio",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"tracking\"][\"source\"].split('-')[4] }}"
            }
          ],
          "number": [
            {
              "name": "Valor da Compra",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"full_price\"][\"value\"] }}"
            },
            {
              "name": "Data da Compra",
              "value": "={{ $node[\"Formatação da Data do Pedido\"].json[\"Data do Pedido Formatada\"] }}"
            },
            {
              "name": "Comissão Hotmart",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"commissions\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "Número de Parcelas",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"installments_number\"] }}"
            },
            {
              "name": "Data de Vencimento da Garantia",
              "value": "={{ $item(\"0\").$node[\"Formatação da Data da Garantia\"].json[\"Data da Garantia Formatada\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "1d752ae4-deca-436c-91d3-5e28966e585b",
      "name": "Dados da Compra 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -920,
        1080
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"approved_date\"]/1000 }}",
        "dataPropertyName": "Data do Pedido Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "d3f5a17b-cd90-43f5-a2e6-1dc90171c21e",
      "name": "Formatação da Data do Pedido",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -2920,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Dados da Compra 1\"].json[\"DDD\"] }}",
              "operation": "larger",
              "value2": 28
            }
          ]
        }
      },
      "name": "Verificar DDD>",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -440,
        1080
      ],
      "id": "3e6d3a27-08df-4049-b30b-93d2fdc7abbf"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        1100
      ],
      "id": "91485824-c961-4107-978f-7b583a370751"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-sem-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Sem nono dígito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -180,
        860
      ],
      "id": "a624fc84-fb80-4b4b-96fd-a7c145e9e77e"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-9) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Nono dígito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -180,
        1100
      ],
      "id": "e5386a8a-46d6-4ce2-9931-935dce2dd4ef"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-formatado",
              "value": "={{ $node[\"Sem nono dígito\"].runIndex >= 0      ?   $node[\"Sem nono dígito\"].json[\"whatsapp-sem-nono\"] : $node[\"Nono dígito\"].json[\"whatsapp-nono\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados validados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        140,
        1100
      ],
      "id": "7481a1a6-87f0-4d81-9515-7bfeea5a9364"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Verificar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        400,
        1100
      ],
      "id": "8de71ff3-4bee-4223-bb77-cbb3a56df6cb",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Dados da Compra 1\"].json[\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Dados da Compra 1\"].json[\"Nome do Cliente\"].split(' ')[1] }}"
            }
          ]
        }
      },
      "name": "Cadastrar contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        920,
        1200
      ],
      "id": "c0edb4d5-422e-4eb8-8f55-f5188fecd61b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1140,
        1080
      ],
      "id": "061c5741-f3bb-4453-b825-67970d58b683",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/history",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a43a404-badb-43c3-88ed-5909d4e0d0d0",
      "name": "Consulta Venda na Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -2720,
        1080
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c04fbb3e-1780-44c3-bb04-3382d535bc09",
      "name": "Consulta Users na Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -2340,
        1080
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "value": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"warranty_expire_date\"]/1000 }}",
        "dataPropertyName": "Data da Garantia Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "a1deeec3-c3db-4a17-8eab-291aed27c8af",
      "name": "Formatação da Data da Garantia",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -2520,
        1080
      ]
    },
    {
      "parameters": {
        "content": "# Substituir pelos Campos Correspondentes no AC",
        "height": 302.26975741239875,
        "width": 197.47474957688246
      },
      "id": "5002ff8a-9e3d-4a18-872a-ba9ba6e48a9f",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        500
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "BILLET"
            },
            {
              "value2": "CREDIT_CARD",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "PAYPAL",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "b848544d-9b0c-4d08-a078-cdba808a0aa1",
      "name": "Nomeia Forma de Pagamento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2120,
        1080
      ]
    },
    {
      "parameters": {},
      "id": "1a7b3dc3-bdfa-4527-a49b-346d8fb7fba2",
      "name": "Boleto",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1820,
        840
      ]
    },
    {
      "parameters": {},
      "id": "dae0468b-5f7e-4e1e-be5f-9a315be847ea",
      "name": "Cartão de Crédito",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1820,
        1020
      ]
    },
    {
      "parameters": {},
      "id": "7b6bd6e8-3bce-4981-b663-5aeb40e55cbb",
      "name": "Paypal",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1820,
        1220
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "PIX"
            },
            {
              "value2": "WALLET",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "b05c51f6-4407-4b65-ae26-4c5172f4fba7",
      "name": "Nomeia Forma de Pagamento1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1960,
        1500
      ]
    },
    {
      "parameters": {},
      "id": "27629660-873d-4ca9-9c2a-da54d908db36",
      "name": "PIX",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1640,
        1400
      ]
    },
    {
      "parameters": {},
      "id": "131ca633-9169-4f98-aa8f-844dfc5d96d8",
      "name": "Carteira da Hotmart",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1640,
        1600
      ]
    },
    {
      "parameters": {},
      "id": "0ff9d8e7-7191-4dab-8c75-f2f794e30986",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1640,
        1780
      ]
    },
    {
      "parameters": {},
      "id": "b632d022-1350-40da-ad43-3522481eba69",
      "name": "Outros",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1640,
        1960
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Boleto"
            }
          ]
        },
        "options": {}
      },
      "id": "0ec7a9d0-9377-4cc0-9dd1-23f8f199e7c6",
      "name": "Nomeia Boleto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1600,
        840
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Cartão de Crédito"
            }
          ]
        },
        "options": {}
      },
      "id": "ebaebc41-f871-4a59-bb1f-a6e1e71a557e",
      "name": "Nomeia Cartão de Crédito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1600,
        1020
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Paypal"
            }
          ]
        },
        "options": {}
      },
      "id": "e2335b6b-ee63-439f-b3f0-a0cf8d1a4d29",
      "name": "Nomeia Paypal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1600,
        1220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "PIX"
            }
          ]
        },
        "options": {}
      },
      "id": "dfac0c47-9c7a-4ad5-806f-b9bc977fff92",
      "name": "Nomeia PIX",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1420,
        1400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Carteira da Hotmart"
            }
          ]
        },
        "options": {}
      },
      "id": "e2035643-c4e8-4958-92d8-a563ca7269ca",
      "name": "Nomeia Carteira da Hotmart",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1420,
        1600
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3962b5eb-fa70-4cf1-ae2e-9c3f1797565f",
      "name": "Segue Nomenclatura da Hotmart",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1420,
        1960
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1292197698,
          "mode": "list",
          "cachedResultName": "[Geral] - Compra Aprovada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo/edit#gid=1292197698"
        },
        "columnToMatchOn": "ID DA TRANSAÇÃO",
        "valueToMatchOn": "={{ $json[\"ID da Transação\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DA COMPRA",
              "fieldValue": "={{ $json[\"Data da Compra\"] }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json[\"Nome do Cliente\"] }}"
            },
            {
              "column": "E-MAIL",
              "fieldValue": "={{ $json[\"E-mail do Cliente\"] }}"
            },
            {
              "column": "CÓDIGO DO ASSINANTE",
              "fieldValue": "={{ $json[\"Código da Inscrição\"] }}"
            },
            {
              "column": "OFERTA DA COMPRA",
              "fieldValue": "={{ $json[\"Oferta da Compra\"] }}"
            },
            {
              "column": "COMISSÃO GATEWAY",
              "fieldValue": "={{ $json[\"Comissão Hotmart\"] }}"
            },
            {
              "column": "PLANO",
              "fieldValue": "={{ $json[\"Plano\"] }}"
            },
            {
              "column": "VALOR DA COMPRA",
              "fieldValue": "={{ $json[\"Valor da Compra\"] }}"
            },
            {
              "column": "MOEDA DA COMPRA",
              "fieldValue": "={{ $json[\"Moeda da Compra\"] }}"
            },
            {
              "column": "FORMA DE PAGAMENTO",
              "fieldValue": "={{ $json[\"Forma de Pagamento\"] }}"
            },
            {
              "column": "NÚMERO DE PARCELAS",
              "fieldValue": "={{ $json[\"Número de Parcelas\"] }}"
            },
            {
              "column": "STATUS DA COMPRA",
              "fieldValue": "={{ $json[\"Status da Compra\"] }}"
            },
            {
              "column": "CPF/CNPJ",
              "fieldValue": "={{ $json[\"CPF/CNPJ do Cliente\"] }}"
            },
            {
              "column": "PLATAFORMA DE ORIGEM",
              "fieldValue": "={{ $json[\"Plataforma de Origem\"] }}"
            },
            {
              "column": "TEMPERATURA DO PÚBLICO",
              "fieldValue": "={{ $json[\"Temperatura do Público\"] }}"
            },
            {
              "column": "PÚBLICO",
              "fieldValue": "={{ $json[\"Público\"] }}"
            },
            {
              "column": "POSICIONAMENTO",
              "fieldValue": "={{ $json[\"Posicionamento\"] }}"
            },
            {
              "column": "ANÚNCIO",
              "fieldValue": "={{ $json[\"Anúncio\"] }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json[\"Telefone do Cliente\"] }}"
            },
            {
              "column": "DATA DE VENCIMENTO DA GARANTIA",
              "fieldValue": "={{ $item(\"0\").$node[\"Dados da Compra 1\"].json[\"Data de Vencimento da Garantia\"] }}"
            },
            {
              "column": "PRODUTO",
              "fieldValue": "={{    $json[\"Nome do Produto\"]    }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "cff53b3d-e7d3-4c98-91dc-e7ba273d08ce",
      "name": "Atualiza BD - Compra Aprovada",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -700,
        1080
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "renLSoeRurwGxrLn",
          "name": "[PRIGEO] - Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"Plataforma de Origem\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "manychat"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "60c4ab70-c879-4a3c-ad92-cf3631891b18",
      "name": "Tem Manychat no SRC?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        300,
        880
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/custom_fields/631990/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra 1\"].json[\"CPF/CNPJ do Cliente\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona CPF/CNPJ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2380,
        1080
      ],
      "id": "ad7cbfef-1636-44a4-b4cf-b811a38d5f60",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link da Área de Membros",
              "value": "https://cursopraticodejogoseatividades.club.hotmart.com/login"
            },
            {
              "name": "Link do Checkout do Upsell",
              "value": "https://pay.hotmart.com/Q54094421C?checkoutMode=10"
            },
            {
              "name": "SRC de Upsell com WhatsApp",
              "value": "&src=whatsapp-upsellcpjale-ofertacac"
            }
          ]
        },
        "options": {}
      },
      "id": "b63188b7-608a-4eee-9ff7-e14b8cc935ce",
      "name": "Informações do Produto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1340,
        1080
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Fluxo de Onboarding",
              "value": "=1163268"
            },
            {
              "name": "Fluxo de Upsell",
              "value": "1148332"
            }
          ]
        },
        "options": {}
      },
      "id": "87a16d28-e292-499f-aa22-053e2ea05636",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1540,
        1080
      ]
    },
    {
      "parameters": {
        "content": "## Colocar credenciais corretas do cliente e ID dos Campos correspondentes na conta do Manychat do cliente",
        "height": 127.29293048830951,
        "width": 482.8690026954177
      },
      "id": "7a37eba2-edd2-4800-bf9c-52f5276cbccd",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3060,
        1080
      ],
      "id": "4ab43481-213b-400e-98c5-ff1d854cdb09",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "89f1513d-19a4-4349-a80d-451619f2e8a2",
      "name": "Não faz Upsell",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3520,
        900
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência1\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"Fluxo de Upsell\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Upsell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3520,
        1200
      ],
      "id": "ba9cd909-95a1-4991-bea2-7dc809e6d8fa",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.manychat.com/fb/subscriber/setCustomField",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{  $node[\"Dados da Compra 1\"].json[\"Temperatura do Público\"]  }}"
            },
            {
              "name": "field_id",
              "value": "=8925176"
            },
            {
              "name": "field_value",
              "value": "={{  $node[\"Dados da Compra 1\"].json[\"ID da Transação\"]  }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c9f2b7b-95d1-4c33-a38c-41924ac18953",
      "name": "Preenche Campo \"[CPJALE] - ID da Transação\"",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        520,
        640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4VKTnFTcOLtmNWxN",
          "name": "[PRIGEO] - Manychat"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{  $node[\"Dados da Compra 1\"].json[\"Temperatura do Público\"]  }}"
            },
            {
              "name": "field_id",
              "value": "=8925177"
            },
            {
              "name": "field_value",
              "value": "={{  $node[\"Dados da Compra 1\"].json[\"E-mail do Cliente\"]  }}"
            }
          ]
        },
        "options": {}
      },
      "id": "01086943-a1b4-4b87-a4a4-500c5fc63a65",
      "name": "Preenche Campo \"[CPJALE] - E-mail da Compra\"",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        780,
        640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4VKTnFTcOLtmNWxN",
          "name": "[PRIGEO] - Manychat"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/tags/1827684/",
        "options": {}
      },
      "name": "Adiciona Tag Aluno_CPJALE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1720,
        1080
      ],
      "id": "16edb2e6-4179-42cf-8b1f-7448eb0c94f7",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/custom_fields/632050/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra 1\"].json[\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona Email da Compra CPJALE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1940,
        1080
      ],
      "id": "dbce8d84-ae88-47b6-9b49-768cd15a7c3f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/custom_fields/632052/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra 1\"].json[\"ID da Transação\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona ID-Transacao-CPJALE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2160,
        1080
      ],
      "id": "f8404a34-7148-4088-8d89-31ba440463c4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "## Validado ☝🏻"
      },
      "id": "60b82cb7-2c4f-45bb-b377-26e8a4132ea1",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3460,
        1400
      ]
    },
    {
      "parameters": {
        "content": "## Validado ☝🏻"
      },
      "id": "a3489e7f-3f83-4d2d-91b8-c108c42d4ba8",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3200,
        1240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"tags\"] }}",
              "operation": "contains",
              "value2": "Aluno_CAC"
            }
          ]
        }
      },
      "id": "020a60ce-e27b-457d-891e-c113562eb914",
      "name": "Possui tag \"Aluno_CAC\"",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3280,
        1080
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "id": "0cdfb33f-a6cb-4813-89d3-8c7f8caad23d",
      "name": "Espera 2 dias",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2840,
        1080
      ],
      "webhookId": "da427c8c-f9b2-4587-a75f-4b94c4f205aa"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"Fluxo de Onboarding\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de Onboarding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2580,
        1080
      ],
      "id": "330e6629-7783-4913-a799-21f698c356b3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T21:28:12.912Z",
      "updatedAt": "2024-05-03T21:28:12.912Z",
      "id": "m5bTGP3bXgx0Uhkx",
      "name": "CPJALE"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T22:27:34.110Z",
  "versionId": "f99e8c0a-6e02-47f2-a4df-5e0a8c002e13"
}