workflows/[PG] - TABUADA - Compra Aprovada.json
{
  "active": true,
  "connections": {
    "Compra Aprovada": {
      "main": [
        [
          {
            "node": "Formatação da Data do Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados da Compra 1": {
      "main": [
        [
          {
            "node": "Atualiza BD - Compra Aprovada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data do Pedido": {
      "main": [
        [
          {
            "node": "Consulta Venda na Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar DDD>": {
      "main": [
        [
          {
            "node": "Sem nono dígito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nono dígito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem nono dígito": {
      "main": [
        [
          {
            "node": "Dados validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nono dígito": {
      "main": [
        [
          {
            "node": "Dados validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados validados": {
      "main": [
        [
          {
            "node": "Verificar na audiência",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tem Manychat no SRC?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência": {
      "main": [
        [
          {
            "node": "Contato existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência": {
      "main": [
        [
          {
            "node": "Informações do Produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Venda na Hotmart": {
      "main": [
        [
          {
            "node": "Formatação da Data da Garantia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Users na Hotmart": {
      "main": [
        [
          {
            "node": "Nomeia Forma de Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data da Garantia": {
      "main": [
        [
          {
            "node": "Consulta Users na Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento": {
      "main": [
        [
          {
            "node": "Boleto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cartão de Crédito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paypal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nomeia Forma de Pagamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boleto": {
      "main": [
        [
          {
            "node": "Nomeia Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartão de Crédito": {
      "main": [
        [
          {
            "node": "Nomeia Cartão de Crédito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paypal": {
      "main": [
        [
          {
            "node": "Nomeia Paypal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento1": {
      "main": [
        [
          {
            "node": "PIX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Carteira da Hotmart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX": {
      "main": [
        [
          {
            "node": "Nomeia PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carteira da Hotmart": {
      "main": [
        [
          {
            "node": "Nomeia Carteira da Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outros": {
      "main": [
        [
          {
            "node": "Segue Nomenclatura da Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Boleto": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Cartão de Crédito": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Paypal": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia PIX": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Carteira da Hotmart": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segue Nomenclatura da Hotmart": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza BD - Compra Aprovada": {
      "main": [
        [
          {
            "node": "Verificar DDD>",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Manychat no SRC?": {
      "main": [
        [
          {
            "node": "Preenche Campo \"[tabuada] - ID da Transação\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Enviar Fluxo de Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência1": {
      "main": [
        [
          {
            "node": "Possui tag \"Aluno_CAC\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona CPF/CNPJ": {
      "main": [
        [
          {
            "node": "Espera 2 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Fluxo de Onboarding": {
      "main": [
        [
          {
            "node": "Adiciona Tag Aluno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Possui tag \"Aluno_CAC\"": {
      "main": [
        [
          {
            "node": "Não faz Upsell",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensagem de Upsell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 2 dias": {
      "main": [
        [
          {
            "node": "Buscar na audiência1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preenche Campo \"[tabuada] - ID da Transação\"": {
      "main": [
        [
          {
            "node": "Preenche Campo \"[tabuada] - E-mail da Compra\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Tag Aluno": {
      "main": [
        [
          {
            "node": "Adiciona Email da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Email da Compra": {
      "main": [
        [
          {
            "node": "Adiciona ID-Transacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona ID-Transacao": {
      "main": [
        [
          {
            "node": "Adiciona CPF/CNPJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-03T19:23:14.427Z",
  "id": "Agc9xIcDobvjN7yi",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PG] - TABUADA - Compra Aprovada",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tabuada-compra-aprovada",
        "options": {}
      },
      "id": "fcf9d61a-4fcc-4531-bd3b-b833168cb5da",
      "name": "Compra Aprovada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3180,
        900
      ],
      "webhookId": "feb654b4-0cba-4d2c-82d4-c63cf2686b33"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Produto",
              "value": "={{ $json[\"items\"][\"0\"][\"product\"][\"name\"] }}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente",
              "value": "={{ $node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"] }}"
            },
            {
              "name": "CPF/CNPJ do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"documents\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "ID da Transação",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            },
            {
              "name": "Oferta da Compra",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"offer\"][\"code\"] }}"
            },
            {
              "name": "Moeda da Compra",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"original_offer_price\"][\"currency_value\"] }}"
            },
            {
              "name": "Código da Inscrição",
              "value": "={{ $node[\"Compra Aprovada\"].json && $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] ? $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] : \".\" }}\n"
            },
            {
              "name": "Plano",
              "value": "={{ $node[\"Compra Aprovada\"].json && $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] ? $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] : \".\" }}"
            },
            {
              "name": "Forma de Pagamento",
              "value": "={{ $json[\"Nome da Forma de Pagamento\"] }}"
            },
            {
              "name": "Status da Compra",
              "value": "=Aprovada"
            },
            {
              "name": "DDD",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"].slice(0,2)  }}"
            },
            {
              "name": "Plataforma de Origem",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"tracking\"][\"source\"].split('-')[0] }}"
            },
            {
              "name": "Temperatura do Público",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"tracking\"][\"source\"].split('-')[1] }}"
            },
            {
              "name": "Público",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"tracking\"][\"source\"].split('-')[2] }}"
            },
            {
              "name": "Posicionamento",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"tracking\"][\"source\"].split('-')[3] }}"
            },
            {
              "name": "Anúncio",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"tracking\"][\"source\"].split('-')[4] }}"
            }
          ],
          "number": [
            {
              "name": "Valor da Compra",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"full_price\"][\"value\"] }}"
            },
            {
              "name": "Data da Compra",
              "value": "={{ $node[\"Formatação da Data do Pedido\"].json[\"Data do Pedido Formatada\"] }}"
            },
            {
              "name": "Comissão Hotmart",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"commissions\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "Número de Parcelas",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"installments_number\"] }}"
            },
            {
              "name": "Data de Vencimento da Garantia",
              "value": "={{ $item(\"0\").$node[\"Formatação da Data da Garantia\"].json[\"Data da Garantia Formatada\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "55e28b8f-7c8c-477a-94fb-1688f8fe60dc",
      "name": "Dados da Compra 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -980,
        900
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"approved_date\"]/1000 }}",
        "dataPropertyName": "Data do Pedido Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "dc598b89-9c98-4565-a642-2652405a8d80",
      "name": "Formatação da Data do Pedido",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -2980,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Dados da Compra 1\"].json[\"DDD\"] }}",
              "operation": "larger",
              "value2": 28
            }
          ]
        }
      },
      "name": "Verificar DDD>",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -500,
        900
      ],
      "id": "ea2bb8a3-831f-4ef5-88da-22aa899fd42d"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        620,
        920
      ],
      "id": "e5944946-e558-421c-a53b-84d02625f811"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-sem-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Sem nono dígito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -240,
        680
      ],
      "id": "36f7da7e-38e3-431a-a35d-8c2c7d7d1078"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-9) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Nono dígito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -240,
        920
      ],
      "id": "4ab6d125-ed42-4fe6-9db7-cd67e2d30736"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-formatado",
              "value": "={{ $node[\"Sem nono dígito\"].runIndex >= 0      ?   $node[\"Sem nono dígito\"].json[\"whatsapp-sem-nono\"] : $node[\"Nono dígito\"].json[\"whatsapp-nono\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados validados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        80,
        920
      ],
      "id": "cde0d618-a37e-4d6f-ab22-3ecb240e000b"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Verificar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        340,
        920
      ],
      "id": "d1262bf3-1026-4686-95ab-e482ce24cc96",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Dados da Compra 1\"].json[\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Dados da Compra 1\"].json[\"Nome do Cliente\"].split(' ')[1] }}"
            }
          ]
        }
      },
      "name": "Cadastrar contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        860,
        1020
      ],
      "id": "6d9450a4-bed6-414c-8924-566d6a8abafd",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1080,
        900
      ],
      "id": "6da51e3c-75a3-4dd4-86f9-fbd84c585d15",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/history",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "60673b99-74aa-4a8d-8d06-2abc8028908d",
      "name": "Consulta Venda na Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -2780,
        900
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4949b8de-3ca5-4bcf-a750-b0cc1affef2d",
      "name": "Consulta Users na Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -2400,
        900
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "value": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"warranty_expire_date\"]/1000 }}",
        "dataPropertyName": "Data da Garantia Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "827d23d0-6213-4c3d-9a1f-fb2e993c0362",
      "name": "Formatação da Data da Garantia",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -2580,
        900
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "BILLET"
            },
            {
              "value2": "CREDIT_CARD",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "PAYPAL",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "14e60cf1-71df-4e90-bcb0-daf1971d8704",
      "name": "Nomeia Forma de Pagamento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2180,
        900
      ]
    },
    {
      "parameters": {},
      "id": "53a04b51-8591-4442-a1b8-1f4aa0e8af59",
      "name": "Boleto",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1880,
        660
      ]
    },
    {
      "parameters": {},
      "id": "6bd7f9d0-3796-4f3a-b9af-09764b672423",
      "name": "Cartão de Crédito",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1880,
        840
      ]
    },
    {
      "parameters": {},
      "id": "6e854e93-054f-4924-8155-8db17bbdf727",
      "name": "Paypal",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1880,
        1040
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "PIX"
            },
            {
              "value2": "WALLET",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "d50396d5-2482-4805-85ba-eedb591fea4a",
      "name": "Nomeia Forma de Pagamento1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2020,
        1320
      ]
    },
    {
      "parameters": {},
      "id": "67f60121-e08e-486e-8c0c-436d724d7e55",
      "name": "PIX",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1700,
        1220
      ]
    },
    {
      "parameters": {},
      "id": "931da2e3-3345-455d-8448-932a145f1d2a",
      "name": "Carteira da Hotmart",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1700,
        1420
      ]
    },
    {
      "parameters": {},
      "id": "d440c35a-2861-4b4f-adce-8bc8e693875f",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1700,
        1600
      ]
    },
    {
      "parameters": {},
      "id": "263bf89c-04a5-4894-b15c-3c5ee4d58350",
      "name": "Outros",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1700,
        1780
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Boleto"
            }
          ]
        },
        "options": {}
      },
      "id": "a5a99619-d6b5-427e-9eb8-baf55f3b0147",
      "name": "Nomeia Boleto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1660,
        660
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Cartão de Crédito"
            }
          ]
        },
        "options": {}
      },
      "id": "31c1eac9-e237-406e-8daf-da03fac1c0a7",
      "name": "Nomeia Cartão de Crédito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1660,
        840
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Paypal"
            }
          ]
        },
        "options": {}
      },
      "id": "d49608f9-7b23-44bf-bae4-2ff2d05073a1",
      "name": "Nomeia Paypal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1660,
        1040
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "PIX"
            }
          ]
        },
        "options": {}
      },
      "id": "b68a2887-85f5-4af5-aa25-aba67007eef3",
      "name": "Nomeia PIX",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1480,
        1220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Carteira da Hotmart"
            }
          ]
        },
        "options": {}
      },
      "id": "c705964c-21cd-47f2-b388-690c648753d3",
      "name": "Nomeia Carteira da Hotmart",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1480,
        1420
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "73638d9d-a260-406c-8108-d7158850848b",
      "name": "Segue Nomenclatura da Hotmart",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1480,
        1780
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1292197698,
          "mode": "list",
          "cachedResultName": "[Geral] - Compra Aprovada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo/edit#gid=1292197698"
        },
        "columnToMatchOn": "ID DA TRANSAÇÃO",
        "valueToMatchOn": "={{ $json[\"ID da Transação\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DA COMPRA",
              "fieldValue": "={{ $json[\"Data da Compra\"] }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json[\"Nome do Cliente\"] }}"
            },
            {
              "column": "E-MAIL",
              "fieldValue": "={{ $json[\"E-mail do Cliente\"] }}"
            },
            {
              "column": "CÓDIGO DO ASSINANTE",
              "fieldValue": "={{ $json[\"Código da Inscrição\"] }}"
            },
            {
              "column": "OFERTA DA COMPRA",
              "fieldValue": "={{ $json[\"Oferta da Compra\"] }}"
            },
            {
              "column": "COMISSÃO GATEWAY",
              "fieldValue": "={{ $json[\"Comissão Hotmart\"] }}"
            },
            {
              "column": "PLANO",
              "fieldValue": "={{ $json[\"Plano\"] }}"
            },
            {
              "column": "VALOR DA COMPRA",
              "fieldValue": "={{ $json[\"Valor da Compra\"] }}"
            },
            {
              "column": "MOEDA DA COMPRA",
              "fieldValue": "={{ $json[\"Moeda da Compra\"] }}"
            },
            {
              "column": "FORMA DE PAGAMENTO",
              "fieldValue": "={{ $json[\"Forma de Pagamento\"] }}"
            },
            {
              "column": "NÚMERO DE PARCELAS",
              "fieldValue": "={{ $json[\"Número de Parcelas\"] }}"
            },
            {
              "column": "STATUS DA COMPRA",
              "fieldValue": "={{ $json[\"Status da Compra\"] }}"
            },
            {
              "column": "CPF/CNPJ",
              "fieldValue": "={{ $json[\"CPF/CNPJ do Cliente\"] }}"
            },
            {
              "column": "PLATAFORMA DE ORIGEM",
              "fieldValue": "={{ $json[\"Plataforma de Origem\"] }}"
            },
            {
              "column": "TEMPERATURA DO PÚBLICO",
              "fieldValue": "={{ $json[\"Temperatura do Público\"] }}"
            },
            {
              "column": "PÚBLICO",
              "fieldValue": "={{ $json[\"Público\"] }}"
            },
            {
              "column": "POSICIONAMENTO",
              "fieldValue": "={{ $json[\"Posicionamento\"] }}"
            },
            {
              "column": "ANÚNCIO",
              "fieldValue": "={{ $json[\"Anúncio\"] }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json[\"Telefone do Cliente\"] }}"
            },
            {
              "column": "DATA DE VENCIMENTO DA GARANTIA",
              "fieldValue": "={{ $item(\"0\").$node[\"Dados da Compra 1\"].json[\"Data de Vencimento da Garantia\"] }}"
            },
            {
              "column": "PRODUTO",
              "fieldValue": "={{    $json[\"Nome do Produto\"]    }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "7bcef801-c458-43be-9911-6a5755a9e35d",
      "name": "Atualiza BD - Compra Aprovada",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -760,
        900
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "renLSoeRurwGxrLn",
          "name": "[PRIGEO] - Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"Plataforma de Origem\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "manychat"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "71af9806-8f9e-4c9c-af00-ea1780623503",
      "name": "Tem Manychat no SRC?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        240,
        700
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/custom_fields/631990/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra 1\"].json[\"CPF/CNPJ do Cliente\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona CPF/CNPJ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2560,
        900
      ],
      "id": "4559fb4a-bfb1-442c-9320-1c4edb60a1bd",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link do Checkout do Upsell",
              "value": "https://pay.hotmart.com/J81962199P?checkoutMode=10"
            },
            {
              "name": "SRC de Upsell com WhatsApp",
              "value": "&src=whatsapp-upsellkitalfabet-ofertacac"
            }
          ]
        },
        "options": {}
      },
      "id": "849cf422-323a-4ca8-abd5-b757d2f7b4a2",
      "name": "Informações do Produto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1280,
        900
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID do Flow de Onboarding",
              "value": "=1514781"
            },
            {
              "name": "Fluxo de Upsell",
              "value": "1515162"
            }
          ]
        },
        "options": {}
      },
      "id": "03a09e99-342d-465f-b69a-1e40ec9b7967",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1480,
        900
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3000,
        900
      ],
      "id": "9ed349f3-03cc-4644-9f24-6b023e6e0969",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "4f85b163-c2c5-4709-964f-466843b9e704",
      "name": "Não faz Upsell",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3460,
        720
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência1\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"Fluxo de Upsell\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Upsell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3460,
        1020
      ],
      "id": "a817d5cb-e35c-4f6b-bb65-cb8216881923",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"ID do Flow de Onboarding\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de Onboarding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1700,
        900
      ],
      "id": "9636d43f-8e66-43bb-bf04-b12ac8b95f19",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"tags\"] }}",
              "operation": "contains",
              "value2": "Aluno_Tabuada"
            }
          ]
        }
      },
      "id": "c2f21e78-6b95-4aa3-bcd0-0cbc23a6b726",
      "name": "Possui tag \"Aluno_CAC\"",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3220,
        900
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "id": "b46d6e50-bc07-4c23-bdd0-8f50d82fa5ab",
      "name": "Espera 2 dias",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2780,
        900
      ],
      "webhookId": "ad587d1d-6009-4ca9-8472-9dd1616db596"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{  $node[\"Dados da Compra 1\"].json[\"Temperatura do Público\"]  }}"
            },
            {
              "name": "field_id",
              "value": "=9314834"
            },
            {
              "name": "field_value",
              "value": "={{  $node[\"Dados da Compra 1\"].json[\"ID da Transação\"]  }}"
            }
          ]
        },
        "options": {}
      },
      "id": "81206d33-09d3-40f2-88f3-8af39cf296f8",
      "name": "Preenche Campo \"[tabuada] - ID da Transação\"",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        460,
        460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4VKTnFTcOLtmNWxN",
          "name": "[PRIGEO] - Manychat"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{  $node[\"Dados da Compra 1\"].json[\"Temperatura do Público\"]  }}"
            },
            {
              "name": "field_id",
              "value": "=9314824"
            },
            {
              "name": "field_value",
              "value": "={{  $node[\"Dados da Compra 1\"].json[\"E-mail do Cliente\"]  }}"
            }
          ]
        },
        "options": {}
      },
      "id": "87892985-511e-4321-bb4c-e4e22622e729",
      "name": "Preenche Campo \"[tabuada] - E-mail da Compra\"",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        720,
        460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4VKTnFTcOLtmNWxN",
          "name": "[PRIGEO] - Manychat"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/tags/2883448/",
        "options": {}
      },
      "name": "Adiciona Tag Aluno",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1900,
        900
      ],
      "id": "e7fb4d16-7ab2-4590-a83e-3568b2d84a11",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/custom_fields/919303/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra 1\"].json[\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona Email da Compra",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2120,
        900
      ],
      "id": "0205570d-634b-49de-b92f-4e177ab6d5b8",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/custom_fields/919508/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra 1\"].json[\"ID da Transação\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona ID-Transacao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2340,
        900
      ],
      "id": "0794ce12-788f-4ac4-850b-830e1c016769",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {
    "Compra Aprovada": [
      {
        "json": {
          "headers": {
            "host": "n8neditorprigeo.amarads.com.br",
            "user-agent": "Jodd HTTP",
            "content-length": "1252",
            "content-type": "application/json",
            "x-forwarded-for": "44.199.231.140",
            "x-forwarded-host": "n8neditorprigeo.amarads.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "93e459737a09",
            "x-hotmart-hottok": "C0M0zxU3tOxl79rtObW21JucfNTfa006c2cecc-32a6-4356-b7a6-4327bf1cd88c",
            "x-real-ip": "44.199.231.140",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "has_co_production": false,
                "name": "Produto test Tabuada",
                "id": 0,
                "ucode": "fb056612-bcc6-4217-9e6d-2a5d1110ac2f"
              },
              "commissions": [
                {
                  "currency_value": "BRL",
                  "source": "MARKETPLACE",
                  "value": 149.5
                },
                {
                  "currency_value": "BRL",
                  "source": "PRODUCER",
                  "value": 1350.5
                }
              ],
              "purchase": {
                "offer": {
                  "code": "test"
                },
                "order_date": 1511783344000,
                "original_offer_price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "checkout_country": {
                  "iso": "BR",
                  "name": "Brasil"
                },
                "buyer_ip": "00.00.00.00",
                "order_bump": {
                  "parent_purchase_transaction": "HP02316330308193",
                  "is_order_bump": true
                },
                "payment": {
                  "installments_number": 12,
                  "type": "CREDIT_CARD"
                },
                "approved_date": 1511783346000,
                "full_price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "transaction": "HP1121336654889",
                "status": "APPROVED"
              },
              "affiliates": [
                {
                  "affiliate_code": "Q58388177J",
                  "name": "Affiliate name"
                }
              ],
              "producer": {
                "name": "Producer Test Name"
              },
              "subscription": {
                "subscriber": {
                  "code": "I9OT62C3"
                },
                "plan": {
                  "name": "plano de teste",
                  "id": 123
                },
                "status": "ACTIVE"
              },
              "buyer": {
                "name": "Teste Comprador",
                "checkout_phone": "99999999900",
                "email": "testeComprador271101postman15@example.com"
              }
            },
            "id": "c30e38a5-d7c6-4168-9b5b-a2aaf1ee80e5",
            "creation_date": 1684497470101,
            "event": "PURCHASE_APPROVED",
            "version": "2.0.0"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T20:05:33.257Z",
      "updatedAt": "2024-05-03T20:05:33.257Z",
      "id": "1RzcPkfrhtHE1fUx",
      "name": "TABUADA"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T20:05:54.869Z",
  "versionId": "7921b2ee-b5f3-4293-a27b-42c67e3e9ec6"
}