workflows/[PG] - CE - Compra Cancelada.json
{
  "active": true,
  "connections": {
    "Compra Cancelada": {
      "main": [
        [
          {
            "node": "Formatação da Data do Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados do Cancelamento": {
      "main": [
        [
          {
            "node": "Atualiza BD - Compra Cancelada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar DDD>3": {
      "main": [
        [
          {
            "node": "Sem nono dígito3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nono dígito3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem nono dígito3": {
      "main": [
        [
          {
            "node": "Dados validados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nono dígito3": {
      "main": [
        [
          {
            "node": "Dados validados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados validados3": {
      "main": [
        [
          {
            "node": "Verificar na audiência3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência3": {
      "main": [
        [
          {
            "node": "Contato existe?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?3": {
      "main": [
        [
          {
            "node": "Buscar na audiência3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar contato3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato3": {
      "main": [
        [
          {
            "node": "Buscar na audiência3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência3": {
      "main": [
        [
          {
            "node": "Condições",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Users na Hotmart": {
      "main": [
        [
          {
            "node": "Nomeia Forma de Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data do Pedido": {
      "main": [
        [
          {
            "node": "Consulta Users na Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento": {
      "main": [
        [
          {
            "node": "Boleto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cartão de Crédito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paypal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nomeia Forma de Pagamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boleto": {
      "main": [
        [
          {
            "node": "Nomeia Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartão de Crédito": {
      "main": [
        [
          {
            "node": "Nomeia Cartão de Crédito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paypal": {
      "main": [
        [
          {
            "node": "Nomeia Paypal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento1": {
      "main": [
        [
          {
            "node": "PIX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Carteira da Hotmart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX": {
      "main": [
        [
          {
            "node": "Nomeia PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carteira da Hotmart": {
      "main": [
        [
          {
            "node": "Nomeia Carteira da Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outros": {
      "main": [
        [
          {
            "node": "Segue Nomenclatura da Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Boleto": {
      "main": [
        [
          {
            "node": "Dados do Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Cartão de Crédito": {
      "main": [
        [
          {
            "node": "Dados do Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Paypal": {
      "main": [
        [
          {
            "node": "Dados do Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia PIX": {
      "main": [
        [
          {
            "node": "Dados do Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Carteira da Hotmart": {
      "main": [
        [
          {
            "node": "Dados do Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segue Nomenclatura da Hotmart": {
      "main": [
        [
          {
            "node": "Dados do Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza BD - Compra Cancelada": {
      "main": [
        [
          {
            "node": "Verificar DDD>3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Enviar Fluxo de Compra Cancelada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condições": {
      "main": [
        [
          {
            "node": "Dá desconto para compras canceladas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dá desconto para compras canceladas": {
      "main": [
        [
          {
            "node": "Informações do Produto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Informações do Produto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto1": {
      "main": [
        [
          {
            "node": "Mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens1": {
      "main": [
        [
          {
            "node": "Enviar Fluxo de Compra Cancelada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T16:55:52.766Z",
  "id": "cTwERpTZC8XdhVhz",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PG] - CE - Compra Cancelada",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ce-compra-cancelada",
        "options": {}
      },
      "id": "e9abf22f-bbec-48ff-ace2-50838acccf15",
      "name": "Compra Cancelada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        700
      ],
      "webhookId": "b610cb00-af1a-4708-a6e8-fbf88dd4bcd0"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Produto",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"product\"][\"name\"] }}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"email\"] }}"
            },
            {
              "name": "ID da Transação",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"transaction\"] }}"
            },
            {
              "name": "Telefone do Cliente",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"] }}"
            },
            {
              "name": "CPF/CNPJ do Cliente",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"documents\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "Oferta da Compra",
              "value": "={{ $item(\"0\").$node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"purchase\"][\"offer\"][\"code\"] }}"
            },
            {
              "name": "Moeda da Compra",
              "value": "={{ $item(\"0\").$node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"purchase\"][\"original_offer_price\"][\"currency_value\"] }}"
            },
            {
              "name": "Plano",
              "value": "={{ $node[\"Compra Cancelada\"].json && $node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] ? $node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] : \".\" }}"
            },
            {
              "name": "Forma de Pagamento",
              "value": "={{ $json[\"Nome da Forma de Pagamento\"] }}"
            },
            {
              "name": "Status da Compra",
              "value": "=Cancelada"
            },
            {
              "name": "DDD",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"].slice(0,2) }}"
            }
          ],
          "number": [
            {
              "name": "Data da Compra",
              "value": "={{ $node[\"Formatação da Data do Pedido\"].json[\"Data do Pedido Formatada\"] }}"
            },
            {
              "name": "Valor da Compra",
              "value": "={{ $item(\"0\").$node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"purchase\"][\"price\"][\"value\"] }}"
            },
            {
              "name": "Comissão Hotmart",
              "value": "={{ $item(\"0\").$node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"commissions\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "Número de Parcelas",
              "value": "={{ $item(\"0\").$node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"installments_number\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "254047bc-d632-4318-9ede-6297ad0dae2b",
      "name": "Dados do Cancelamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1160,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Dados do Cancelamento\"].json[\"DDD\"] }}",
              "operation": "larger",
              "value2": 28
            }
          ]
        }
      },
      "name": "Verificar DDD>3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        700
      ],
      "id": "ede71817-7491-4b4c-bf28-f35fb211981b"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-sem-nono",
              "value": "=+55{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"DDD\"] }}{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Telefone do Cliente\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Sem nono dígito3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1820,
        480
      ],
      "id": "a8c1a7c3-fc88-4c76-89bb-e72862aaf9cf"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-nono",
              "value": "=+55{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"DDD\"] }}{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Telefone do Cliente\"].slice(-9) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Nono dígito3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1820,
        720
      ],
      "id": "ff37780a-0c59-4b3a-b8aa-c8f69f8db4cb"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-formatado",
              "value": "={{ $node[\"Sem nono dígito3\"].runIndex >= 0      ?   $node[\"Sem nono dígito3\"].json[\"whatsapp-sem-nono\"] : $node[\"Nono dígito3\"].json[\"whatsapp-nono\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados validados3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2140,
        720
      ],
      "id": "412253a6-1de9-4a3c-b7e5-0fb2b2fda650"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Dados validados3\"].json[\"whatsapp-formatado\"] }}/",
        "options": {}
      },
      "name": "Verificar na audiência3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2380,
        720
      ],
      "id": "f1720713-a8b1-49df-ab2e-32361a7636c0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2620,
        720
      ],
      "id": "78fb98ab-1090-48a1-ba9f-3fb50da23b69"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Dados validados3\"].json[\"whatsapp-formatado\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].split(' ')[1] }}"
            }
          ]
        }
      },
      "name": "Cadastrar contato3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2840,
        880
      ],
      "id": "1110c1ff-2715-4710-98d7-03ca2b19fe99",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados3\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3040,
        700
      ],
      "id": "196d406f-3919-4b01-b386-2b67774c6985",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a87a2a5d-43ac-4f46-8d38-20972a38c3e5",
      "name": "Consulta Users na Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -100,
        700
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"order_date\"]/1000 }}",
        "dataPropertyName": "Data do Pedido Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "9de08337-c053-48ff-9348-6bc12593f10b",
      "name": "Formatação da Data do Pedido",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -340,
        700
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $item(\"0\").$node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "BILLET"
            },
            {
              "value2": "CREDIT_CARD",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "PAYPAL",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "167fff4c-6f55-4226-986b-4609ed08fdc9",
      "name": "Nomeia Forma de Pagamento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        160,
        700
      ]
    },
    {
      "parameters": {},
      "id": "384a82e6-706a-4391-94f4-cc43407e6e70",
      "name": "Boleto",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {},
      "id": "7c9c437d-e298-414d-9c12-da7ea0e8a248",
      "name": "Cartão de Crédito",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        640
      ]
    },
    {
      "parameters": {},
      "id": "e9726cbc-9470-4115-bfd6-e3609207f6c5",
      "name": "Paypal",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        840
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $item(\"0\").$node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "PIX"
            },
            {
              "value2": "WALLET",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "c71f9ae7-c9c7-44fa-82c5-bb88b195a60d",
      "name": "Nomeia Forma de Pagamento1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        320,
        1120
      ]
    },
    {
      "parameters": {},
      "id": "8dfffa34-f9ca-48ab-8f8f-6b15e6e32a9e",
      "name": "PIX",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        1020
      ]
    },
    {
      "parameters": {},
      "id": "134c581a-8a38-49b4-abeb-b03cf0bdb5c8",
      "name": "Carteira da Hotmart",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        1220
      ]
    },
    {
      "parameters": {},
      "id": "257569e9-1494-4cc1-921f-23fa5813a059",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        1400
      ]
    },
    {
      "parameters": {},
      "id": "37b08793-e6ea-4868-9329-00548cd24933",
      "name": "Outros",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        1580
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Boleto"
            }
          ]
        },
        "options": {}
      },
      "id": "8b01897d-894a-4e49-9bf7-fa529b8126da",
      "name": "Nomeia Boleto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Cartão de Crédito"
            }
          ]
        },
        "options": {}
      },
      "id": "485f1064-e87f-4397-a864-57ef0088fdf6",
      "name": "Nomeia Cartão de Crédito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        640
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Paypal"
            }
          ]
        },
        "options": {}
      },
      "id": "f41eb103-4715-4f24-874d-e0151e50e44e",
      "name": "Nomeia Paypal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        840
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "PIX"
            }
          ]
        },
        "options": {}
      },
      "id": "7e9ef37b-638d-49dc-8e1f-8b1da83f0114",
      "name": "Nomeia PIX",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        860,
        1020
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Carteira da Hotmart"
            }
          ]
        },
        "options": {}
      },
      "id": "f0956fa2-d93f-4929-8e19-3587af6c6376",
      "name": "Nomeia Carteira da Hotmart",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        860,
        1220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "60fac5dc-a5c5-4fa6-9e70-5ae71cd04822",
      "name": "Segue Nomenclatura da Hotmart",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        860,
        1580
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 455011098,
          "mode": "list",
          "cachedResultName": "[Geral] - Compra Cancelada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo/edit#gid=455011098"
        },
        "columnToMatchOn": "ID DA TRANSAÇÃO",
        "valueToMatchOn": "={{ $json[\"ID da Transação\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DA COMPRA",
              "fieldValue": "={{ $json[\"Data da Compra\"] }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json[\"Nome do Cliente\"] }}"
            },
            {
              "column": "E-MAIL",
              "fieldValue": "={{ $json[\"E-mail do Cliente\"] }}"
            },
            {
              "column": "CÓDIGO DO ASSINANTE",
              "fieldValue": "={{ $json[\"Código da Inscrição\"] }}"
            },
            {
              "column": "OFERTA DA COMPRA",
              "fieldValue": "={{ $json[\"Oferta da Compra\"] }}"
            },
            {
              "column": "COMISSÃO GATEWAY",
              "fieldValue": "={{ $json[\"Comissão Hotmart\"] }}"
            },
            {
              "column": "PLANO",
              "fieldValue": "={{ $json[\"Plano\"] }}"
            },
            {
              "column": "VALOR DA COMPRA",
              "fieldValue": "={{ $json[\"Valor da Compra\"] }}"
            },
            {
              "column": "MOEDA DA COMPRA",
              "fieldValue": "={{ $json[\"Moeda da Compra\"] }}"
            },
            {
              "column": "FORMA DE PAGAMENTO",
              "fieldValue": "={{ $json[\"Forma de Pagamento\"] }}"
            },
            {
              "column": "NÚMERO DE PARCELAS",
              "fieldValue": "={{ $json[\"Número de Parcelas\"] }}"
            },
            {
              "column": "STATUS DA COMPRA",
              "fieldValue": "={{ $json[\"Status da Compra\"] }}"
            },
            {
              "column": "CPF/CNPJ",
              "fieldValue": "={{ $json[\"CPF/CNPJ do Cliente\"] }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json[\"Telefone do Cliente\"] }}"
            },
            {
              "column": "PRODUTO",
              "fieldValue": "={{    $json[\"Nome do Produto\"]    }}"
            }
          ]
        },
        "options": {}
      },
      "id": "28d478ae-8fde-4ee4-9886-76b9ad6e77dd",
      "name": "Atualiza BD - Compra Cancelada",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1360,
        700
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "renLSoeRurwGxrLn",
          "name": "[PRIGEO] - Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link do Checkout do Produto com Desconto",
              "value": "https://pay.hotmart.com/K56483731D?checkoutMode=10"
            },
            {
              "name": "SRC de Compra Cancelada com WhatsApp",
              "value": "=&src=whatsapp-rmkt-compracancelada&email={{ $node[\"Dados do Cancelamento\"].json[\"E-mail do Cliente\"] }}&phonenumber={{ $node[\"Dados do Cancelamento\"].json[\"Telefone do Cliente\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0ebfcca1-724f-4f9d-91fc-be2ff25686ee",
      "name": "Informações do Produto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3760,
        560
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de Compra Cancelada com Desconto",
              "value": "=Vish {{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}! Você quaaaase entrou no Evolua Podologia. 😩\n\nParece que houve um probleminha com seu cartão de crédito, e sua compra foi recusada.\n\nPor isso, recomendo fortemente que entre novamente no checkout, e compre com um outro cartão, Pix, ou Boleto. Afinal, é menos de 1 pizza por mês para estar no maior Curso de Podologia do Brasil! 🤩\n\nSegue o Link do Checkout para você realizar sua compra novamente, {{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}:\n\n{{ $node[\"Informações do Produto\"].json[\"Link do Checkout do Produto com Desconto\"] }}{{ $node[\"Informações do Produto\"].json[\"SRC de Compra Cancelada com WhatsApp\"] }}\n\nPS.: Conto contigo para se manter conosco, {{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}!"
            },
            {
              "name": "Fluxo de Compra Cancelada",
              "value": "1020558"
            }
          ]
        },
        "options": {}
      },
      "id": "9790dcb5-bcce-4a11-803c-3abec46968e3",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3980,
        560
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "Dá desconto para compras canceladas?"
            }
          ]
        },
        "options": {}
      },
      "id": "0a19e31f-ac1e-49dc-b6bb-a0119b8dff55",
      "name": "Condições",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3260,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Condições\"].json[\"Dá desconto para compras canceladas?\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "79fd95b9-f02b-4cf2-a570-4e81f65e809b",
      "name": "Dá desconto para compras canceladas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3480,
        700
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link do Checkout do Produto",
              "value": "https://pay.hotmart.com/K56483731D?checkoutMode=10"
            },
            {
              "name": "SRC de Compra Cancelada com WhatsApp",
              "value": "=&src=whatsapp-rmkt-compracancelada&email={{ $node[\"Dados do Cancelamento\"].json[\"E-mail do Cliente\"] }}&phonenumber={{ $node[\"Dados do Cancelamento\"].json[\"Telefone do Cliente\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "94c77bb4-32dd-4c3b-b188-2868205471b7",
      "name": "Informações do Produto1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3760,
        780
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de Compra Cancelada",
              "value": "={{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}, tudo bem? Aqui é a PriGeo.\n\nParece que houve um probleminha com seu cartão de crédito e sua compra foi cancelada.\n\nPor isso, recomendo fortemente que entre novamente no checkout e compre com um outro cartão, Pix ou Boleto. Afinal, é bem menos de 1 pizza por mês para ter acesso a aulas que te mostrarão metodologias e técnicas para encantar seus alunos e transformar você em um professor admirado e reconhecido🤩\n\nSegue o Link do Checkout para você realizar sua compra novamente, {{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}:\n\n{{ $node[\"Informações do Produto1\"].json[\"Link do Checkout do Produto\"] }}{{ $node[\"Informações do Produto1\"].json[\"SRC de Compra Cancelada com WhatsApp\"] }}\n\nGrande abraço da PriGeo"
            },
            {
              "name": "Fluxo de Compra Cancelada",
              "value": "1020558"
            }
          ]
        },
        "options": {}
      },
      "id": "d95cae66-c3d6-4d84-8baf-fe9f3314132a",
      "name": "Mensagens1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3980,
        780
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência3\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"Fluxo de Compra Cancelada\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de Compra Cancelada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4200,
        560
      ],
      "id": "e7e70ab2-8301-4c00-a560-a4d97d7eb1b8",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência3\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens1\"].json[\"Fluxo de Compra Cancelada\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de Compra Cancelada1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4200,
        780
      ],
      "id": "238b633b-1af6-4ba2-ae66-3f6f9c2c9381",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T20:48:47.883Z",
      "updatedAt": "2024-05-03T20:48:47.883Z",
      "id": "YU6gVyrnmykMQycr",
      "name": "CE"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T20:52:41.641Z",
  "versionId": "cb0fa1e1-dc62-442c-906b-f3e5c709e4d8"
}