workflows/[PG] - Isca_no_Manychat (2).json
{
  "active": true,
  "connections": {
    "Sem nono dígito": {
      "main": [
        [
          {
            "node": "Dados validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nono dígito": {
      "main": [
        [
          {
            "node": "Dados validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DDD > 28": {
      "main": [
        [
          {
            "node": "Sem nono dígito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nono dígito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados validados": {
      "main": [
        [
          {
            "node": "Cadastrar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência": {
      "main": [
        [
          {
            "node": "Contato existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Adiciona AmostraEscolhida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kits": {
      "main": [
        [
          {
            "node": "Enviar Fluxo de Amostra - Geografia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Fluxo de Amostra - Matemática",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Fluxo de Amostra - Alfabetização",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Fluxo de Amostra": {
      "main": [
        [
          {
            "node": "Adiciona Dados na Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens1": {
      "main": [
        [
          {
            "node": "Adiciona Dados na Planilha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Dados na Planilha1": {
      "main": [
        [
          {
            "node": "Kits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona AmostraEscolhida": {
      "main": [
        [
          {
            "node": "Enviar Fluxo de Amostra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamado do Manychat": {
      "main": [
        [
          {
            "node": "DDD > 28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T14:44:27.057Z",
  "id": "S2ZcTUEC4YWN0DMN",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PG] - Isca_no_Manychat (2)",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{   $json[\"body\"][\"Telefone\"].slice(0,2)   }}",
              "operation": "larger",
              "value2": 28
            }
          ]
        }
      },
      "id": "2b1750e9-8fe9-4ae4-9f00-f715cc44f38b",
      "name": "DDD > 28",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        220,
        680
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-sem-nono",
              "value": "=+55{{   $json[\"body\"][\"Telefone\"].slice(0,2)   }}{{   $json[\"body\"][\"Telefone\"].slice(-8)   }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Sem nono dígito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "id": "6122ee05-6039-4bd0-adcc-7f9dd909bb54"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-nono",
              "value": "=+55{{   $json[\"body\"][\"Telefone\"].slice(0,2)   }}{{   $json[\"body\"][\"Telefone\"].slice(-9)   }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Nono dígito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        700
      ],
      "id": "8591aaa4-70d6-414a-a851-515af8033cac"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-formatado",
              "value": "={{ $node[\"Sem nono dígito\"].runIndex >= 0      ?   $node[\"Sem nono dígito\"].json[\"whatsapp-sem-nono\"] : $node[\"Nono dígito\"].json[\"whatsapp-nono\"]}}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Chamado do Manychat\"].json[\"body\"][\"Nome\"] }}"
            },
            {
              "name": "Kit Escolhido",
              "value": "={{ $node[\"Chamado do Manychat\"].json[\"body\"][\"Kit\"] }}"
            },
            {
              "name": "ID do Manychat",
              "value": "={{ $node[\"Chamado do Manychat\"].json[\"body\"][\"ID_manychat\"] }}"
            },
            {
              "name": "Sobrenome do Cliente",
              "value": "={{ $node[\"Chamado do Manychat\"].json[\"body\"][\"Sobrenome\"] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados validados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        780,
        700
      ],
      "id": "7d9b95a3-b5ff-4b7b-9cc3-fbc051a0873e"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1640,
        280
      ],
      "id": "8f8f6dc1-284e-4161-9cd2-aaaf2ea44e3e"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Verificar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1420,
        280
      ],
      "id": "2ac5f779-3b45-402c-bc61-98043486aa06",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Dados validados\"].json[\"Nome do Cliente\"].split(' ')[0].slice(0,1).toUpperCase() }}{{ $node[\"Dados validados\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Dados validados\"].json[\"Sobrenome do Cliente\"].slice(0,1).toUpperCase() }}{{ $node[\"Dados validados\"].json[\"Sobrenome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}."
            }
          ]
        }
      },
      "name": "Cadastrar contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1000,
        700
      ],
      "id": "81c8ceb1-476a-4421-8e43-575138721793",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2060,
        260
      ],
      "id": "0bed74f7-e9a0-47e3-a45e-8f0a138b3af7",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Ol7914Zihnkq26wXOF7sR5X6Rx6EgM61X3OhCteMLMI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1292197698,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ol7914Zihnkq26wXOF7sR5X6Rx6EgM61X3OhCteMLMI/edit#gid=1292197698"
        },
        "columnToMatchOn": "ID MANYCHAT",
        "valueToMatchOn": "={{ $node[\"Dados validados\"].json[\"ID do Manychat\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "ID BOT CONVERSA",
              "fieldValue": "={{ $node[\"Cadastrar contato\"].json[\"id\"].toString()  }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $node[\"Dados validados\"].json[\"Nome do Cliente\"] }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{      $node[\"Dados validados\"].json[\"whatsapp-formatado\"].replace('+','')      }}"
            },
            {
              "column": "KIT",
              "fieldValue": "={{ $node[\"Dados validados\"].json[\"Kit Escolhido\"] }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "fcf9a833-d8fb-403b-9462-bd4defb8fba2",
      "name": "Adiciona Dados na Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1860,
        700
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "renLSoeRurwGxrLn",
          "name": "[PRIGEO] - Google Sheets"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID do Flow da Amostra",
              "value": "=1011790"
            }
          ]
        },
        "options": {}
      },
      "id": "7bc2d9ee-c7c8-432d-9c8a-8a5f66aa6c28",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1200,
        700
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"ID do Flow da Amostra - Geografia\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de Amostra - Geografia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2920,
        1000
      ],
      "id": "7f4cfcb2-813f-4e56-8522-958d5553dd6f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Dados validados\"].json[\"Kit Escolhido\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "Geografia"
            },
            {
              "value2": "Matemática",
              "output": 1
            },
            {
              "value2": "Alfabetização",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "57adc582-7158-4384-a16d-9f37277ca929",
      "name": "Kits",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2680,
        1300
      ]
    },
    {
      "parameters": {},
      "id": "541ad7c1-eafa-484b-9567-a13f9f0c9360",
      "name": "Não faça nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2920,
        1580
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"ID do Flow da Amostra - Alfabetização\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de Amostra - Alfabetização",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2920,
        1380
      ],
      "id": "0daa8b6d-b544-45ee-8ba9-d73fcfe6c244",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"ID do Flow da Amostra - Matemática\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de Amostra - Matemática",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2920,
        1200
      ],
      "id": "2cc564e8-038b-4717-a6fc-32d793c61348",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrar contato\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"ID do Flow da Amostra\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de Amostra",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1640,
        700
      ],
      "id": "82667b05-43c1-4dc1-9d34-1e3082c1bc70",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID do Flow da Amostra - Geografia",
              "value": "=976663"
            },
            {
              "name": "ID do Flow da Amostra - Matemática"
            },
            {
              "name": "ID do Flow da Amostra - Alfabetização"
            }
          ]
        },
        "options": {}
      },
      "id": "e71a0c36-4677-4414-86cb-1f9f1051d3a6",
      "name": "Mensagens1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2240,
        1300
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Ol7914Zihnkq26wXOF7sR5X6Rx6EgM61X3OhCteMLMI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1292197698,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ol7914Zihnkq26wXOF7sR5X6Rx6EgM61X3OhCteMLMI/edit#gid=1292197698"
        },
        "columnToMatchOn": "ID MANYCHAT",
        "valueToMatchOn": "={{ $node[\"Dados validados\"].json[\"ID do Manychat\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "ID BOT CONVERSA",
              "fieldValue": "={{     $node[\"Buscar na audiência\"].json[\"id\"].toString()  }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $node[\"Dados validados\"].json[\"Nome do Cliente\"] }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{      $node[\"Dados validados\"].json[\"whatsapp-formatado\"].replace('+','')      }}"
            },
            {
              "column": "KIT",
              "fieldValue": "={{ $node[\"Dados validados\"].json[\"Kit Escolhido\"] }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "06421144-229c-4e97-80ca-75b73e21dc28",
      "name": "Adiciona Dados na Planilha1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2460,
        1300
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "renLSoeRurwGxrLn",
          "name": "[PRIGEO] - Google Sheets"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrar contato\"].json[\"id\"] }}/custom_fields/632353/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados validados\"].json[\"Kit Escolhido\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona AmostraEscolhida",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1420,
        700
      ],
      "id": "4707a008-4d6a-452c-bac1-a98b59cc28ee",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pg-manychat-isca-kits",
        "options": {}
      },
      "id": "f5181a3e-4c50-4914-abd7-88ec3163d48a",
      "name": "Chamado do Manychat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        680
      ],
      "webhookId": "b229e72e-606b-420b-bf62-607e878625fe"
    }
  ],
  "pinData": {
    "Chamado do Manychat": [
      {
        "json": {
          "headers": {
            "host": "webhook.prigeo.com.br",
            "user-agent": "ManyChat",
            "content-length": "125",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "18.185.102.134",
            "x-forwarded-host": "webhook.prigeo.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "65bf580ce34d",
            "x-real-ip": "18.185.102.134",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "ID_manychat": "1895452057",
            "Nome": "Pri",
            "Sobrenome": "Mello",
            "Telefone": "21 995378639",
            "Kit": "Consciência negra"
          },
          "webhookUrl": "https://webhook.prigeo.com.br/webhook/pg-manychat-isca-kits",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-04T17:23:47.959Z",
      "updatedAt": "2024-05-04T17:23:47.959Z",
      "id": "k8MAPCc1oZec7tRH",
      "name": "ISCA_MANYCHAT"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-22T18:22:03.836Z",
  "versionId": "860bbf76-72ed-4f27-90d6-676a07012ea0"
}