workflows/[PG] - CPJALE - Aguardando Pagamento.json
{
  "active": true,
  "connections": {
    "Aguardando Pagamento": {
      "main": [
        [
          {
            "node": "Formatação da Data do Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar DDD>1": {
      "main": [
        [
          {
            "node": "Sem nono dígito1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nono dígito1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?1": {
      "main": [
        [
          {
            "node": "Buscar na audiência1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar contato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem nono dígito1": {
      "main": [
        [
          {
            "node": "Dados validados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nono dígito1": {
      "main": [
        [
          {
            "node": "Dados validados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados validados1": {
      "main": [
        [
          {
            "node": "Verificar na audiência1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência1": {
      "main": [
        [
          {
            "node": "Contato existe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato1": {
      "main": [
        [
          {
            "node": "Buscar na audiência1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência1": {
      "main": [
        [
          {
            "node": "É Boleto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Boleto?": {
      "main": [
        [
          {
            "node": "Boleto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É PIX?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boleto": {
      "main": [
        [
          {
            "node": "Adiciona Linha Digitavel do Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX": {
      "main": [
        [
          {
            "node": "Adiciona Linha Digitavel do PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É PIX?": {
      "main": [
        [
          {
            "node": "PIX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Faça Nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados da Compra": {
      "main": [
        [
          {
            "node": "Atualiza BD - Aguardando Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Usuários na Hotmart": {
      "main": [
        [
          {
            "node": "Nomeia Forma de Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data do Pedido": {
      "main": [
        [
          {
            "node": "Consulta Venda na Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Venda na Hotmart": {
      "main": [
        [
          {
            "node": "Consulta Usuários na Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento": {
      "main": [
        [
          {
            "node": "Boleto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cartão de Crédito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paypal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nomeia Forma de Pagamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartão de Crédito": {
      "main": [
        [
          {
            "node": "Nomeia Cartão de Crédito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paypal": {
      "main": [
        [
          {
            "node": "Nomeia Paypal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento1": {
      "main": [
        [
          {
            "node": "PIX1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Carteira da Hotmart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carteira da Hotmart": {
      "main": [
        [
          {
            "node": "Nomeia Carteira da Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outros": {
      "main": [
        [
          {
            "node": "Segue Nomenclatura da Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Boleto": {
      "main": [
        [
          {
            "node": "É Boleto?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Cartão de Crédito": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Paypal": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia PIX": {
      "main": [
        [
          {
            "node": "É Boleto?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Carteira da Hotmart": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segue Nomenclatura da Hotmart": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boleto1": {
      "main": [
        [
          {
            "node": "Nomeia Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX1": {
      "main": [
        [
          {
            "node": "Nomeia PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Boleto?1": {
      "main": [
        [
          {
            "node": "Status de Boleto Gerado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status de PIX Gerado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status de Boleto Gerado": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status de PIX Gerado": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza BD - Aguardando Pagamento": {
      "main": [
        [
          {
            "node": "Verificar DDD>1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Enviar Fluxo de Boleto Gerado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Linha Digitavel do Boleto": {
      "main": [
        [
          {
            "node": "Adiciona Link do Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Link do Boleto": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens1": {
      "main": [
        [
          {
            "node": "Enviar Fluxo de PIX Gerado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Linha Digitavel do PIX": {
      "main": [
        [
          {
            "node": "Adiciona Link do PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Link do PIX": {
      "main": [
        [
          {
            "node": "Mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T17:01:56.038Z",
  "id": "hjSvebt9BaqJvlOG",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PG] - CPJALE - Aguardando Pagamento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cpjale-aguardando-pagamento",
        "options": {}
      },
      "id": "a700e44a-52a1-4300-9c6b-cc36da672399",
      "name": "Aguardando Pagamento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1520,
        760
      ],
      "webhookId": "d80b8550-2f64-4ce2-b42c-905fc16cc089"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Dados da Compra\"].json[\"DDD\"] }}",
              "operation": "larger",
              "value2": 28
            }
          ]
        }
      },
      "name": "Verificar DDD>1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1160,
        760
      ],
      "id": "07425193-3a01-456c-b228-049768907c27"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2280,
        780
      ],
      "id": "a677dd87-017f-478b-bb02-f507f34a8c5e"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-sem-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Sem nono dígito1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1420,
        540
      ],
      "id": "2f374cb9-542e-4ea4-8eb7-0a9beaf5608e"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-9) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Nono dígito1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1420,
        780
      ],
      "id": "31e1f496-71f3-499a-b4b5-f8da98a0cbd7"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-formatado",
              "value": "={{ $node[\"Sem nono dígito1\"].runIndex >= 0      ?   $node[\"Sem nono dígito1\"].json[\"whatsapp-sem-nono\"] : $node[\"Nono dígito1\"].json[\"whatsapp-nono\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados validados1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1740,
        780
      ],
      "id": "7bf7e9b3-7c35-496a-80e3-0de665283322"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados1\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Verificar na audiência1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2000,
        780
      ],
      "id": "21d92d1a-1533-44eb-a26e-155ceda68d92",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Dados validados1\"].json[\"whatsapp-formatado\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[1] }}"
            }
          ]
        }
      },
      "name": "Cadastrar contato1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2520,
        880
      ],
      "id": "939d0847-b255-44e9-93d5-d470c6c9c11b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados1\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2740,
        760
      ],
      "id": "9f26deb7-76e3-4f10-9341-b9622c2a3161",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
              "value2": "BILLET"
            }
          ]
        }
      },
      "id": "210cd5f0-5cf9-4c9c-bdb6-396724357c6c",
      "name": "É Boleto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2960,
        760
      ]
    },
    {
      "parameters": {},
      "id": "5e26cafd-f660-4602-a8f0-5a77a9d51c9e",
      "name": "Boleto",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3220,
        740
      ]
    },
    {
      "parameters": {},
      "id": "17a977fc-44d2-4180-9e18-ffc74965d99d",
      "name": "PIX",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3380,
        1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
              "value2": "PIX"
            }
          ]
        }
      },
      "id": "db19b495-beb9-4f0f-bd02-b5e1a612d14b",
      "name": "É PIX?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3120,
        1040
      ]
    },
    {
      "parameters": {},
      "id": "14c99c7b-2465-4106-952a-eed4dfca882c",
      "name": "Não Faça Nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3380,
        1260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Produto",
              "value": "={{ $json[\"items\"][\"0\"][\"product\"][\"name\"] }}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"] }}"
            },
            {
              "name": "CPF/CNPJ do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"documents\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "ID da Transação",
              "value": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            },
            {
              "name": "Oferta da Compra",
              "value": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"offer\"][\"code\"] }}"
            },
            {
              "name": "Moeda da Compra",
              "value": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"original_offer_price\"][\"currency_value\"] }}"
            },
            {
              "name": "Código da Inscrição",
              "value": "={{ $node[\"Aguardando Pagamento\"].json && $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"]  ? $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"]  : \".\" }}"
            },
            {
              "name": "Plano",
              "value": "={{ $node[\"Aguardando Pagamento\"].json && $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] ? $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] : \".\" }}"
            },
            {
              "name": "Forma de Pagamento",
              "value": "={{ $json[\"Nome da Forma de Pagamento\"] }}"
            },
            {
              "name": "Status da Compra",
              "value": "={{ $node[\"Status de Boleto Gerado\"].runIndex >= 0      ?   $node[\"Status de Boleto Gerado\"].json[\"Status\"] : $node[\"Status de PIX Gerado\"].json[\"Status\"] }}"
            },
            {
              "name": "DDD",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"].slice(0,2)  }}"
            },
            {
              "name": "Link do PIX",
              "value": "={{ $node[\"Aguardando Pagamento\"].json && $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"pix_qrcode\"] ? $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"pix_qrcode\"] : \".\" }}"
            },
            {
              "name": "Linha Digitável do PIX",
              "value": "={{ $node[\"Aguardando Pagamento\"].json && $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"pix_code\"] ? $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"pix_code\"] : \".\" }}"
            },
            {
              "name": "Link do Boleto",
              "value": "={{ $node[\"Aguardando Pagamento\"].json && $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"billet_url\"]  ? $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"billet_url\"]  : \".\" }}"
            },
            {
              "name": "Linha Digitável do Boleto",
              "value": "={{ $node[\"Aguardando Pagamento\"].json && $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"billet_barcode\"] ? $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"billet_barcode\"] : \".\" }}"
            }
          ],
          "number": [
            {
              "name": "Valor da Compra",
              "value": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"full_price\"][\"value\"] }}"
            },
            {
              "name": "Data da Compra",
              "value": "={{ $node[\"Formatação da Data do Pedido\"].json[\"Data do Pedido Formatada\"] }}"
            },
            {
              "name": "Comissão Hotmart",
              "value": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"commissions\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "Número de Parcelas",
              "value": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"installments_number\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "40552b74-4528-4583-b839-2f950aeb38b9",
      "name": "Dados da Compra",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        760,
        760
      ]
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $item(\"0\").$node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9fd65c83-5d94-43e9-b24b-298ed1f35846",
      "name": "Consulta Usuários na Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -820,
        760
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"order_date\"]/1000 }}",
        "dataPropertyName": "Data do Pedido Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "bbc14009-6849-49f8-9999-e4a45c61e830",
      "name": "Formatação da Data do Pedido",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -1280,
        760
      ]
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/history",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d05f08e0-8374-4391-9d60-1a65c06db8f6",
      "name": "Consulta Venda na Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1060,
        760
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "BILLET"
            },
            {
              "value2": "CREDIT_CARD",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "PAYPAL",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "7b5cff3f-74dc-4a96-9d76-932de88cc589",
      "name": "Nomeia Forma de Pagamento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -580,
        760
      ]
    },
    {
      "parameters": {},
      "id": "f0908abd-9958-4496-a846-894d2dc73844",
      "name": "Cartão de Crédito",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -280,
        700
      ]
    },
    {
      "parameters": {},
      "id": "832003e3-6403-45ee-8bd3-f1bb586b42ea",
      "name": "Paypal",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -280,
        900
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "PIX"
            },
            {
              "value2": "WALLET",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "5235a732-8164-4b8c-964c-cb9a5cbfa341",
      "name": "Nomeia Forma de Pagamento1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -420,
        1180
      ]
    },
    {
      "parameters": {},
      "id": "909e3660-cb34-46b7-81ff-9fad49dadcda",
      "name": "Carteira da Hotmart",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -100,
        1280
      ]
    },
    {
      "parameters": {},
      "id": "5833a5a7-3c4a-4c2f-ab24-c128870dce9e",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -100,
        1460
      ]
    },
    {
      "parameters": {},
      "id": "b651700b-8b0f-4243-9302-7bae4f9c2b8b",
      "name": "Outros",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -100,
        1640
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Boleto"
            }
          ]
        },
        "options": {}
      },
      "id": "6f139170-9897-44df-bba9-d98501243004",
      "name": "Nomeia Boleto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -60,
        520
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Cartão de Crédito"
            }
          ]
        },
        "options": {}
      },
      "id": "fd54e982-27fb-4d11-9fc2-0d6c5b7cb850",
      "name": "Nomeia Cartão de Crédito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -60,
        700
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Paypal"
            }
          ]
        },
        "options": {}
      },
      "id": "1f823030-f363-4c72-ac89-75dedc753dd1",
      "name": "Nomeia Paypal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -60,
        900
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "PIX"
            }
          ]
        },
        "options": {}
      },
      "id": "55eec25e-d153-4a14-959f-35ed088041b5",
      "name": "Nomeia PIX",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        120,
        1080
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Carteira da Hotmart"
            }
          ]
        },
        "options": {}
      },
      "id": "986f3c7e-f7f1-4f7e-bb73-1f3f548b812c",
      "name": "Nomeia Carteira da Hotmart",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        120,
        1280
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fbd87ede-1f2f-4fc1-925e-86b0f5c5b49c",
      "name": "Segue Nomenclatura da Hotmart",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        120,
        1640
      ]
    },
    {
      "parameters": {},
      "id": "f0f1554b-56c4-41ae-93e0-6e904f370ebb",
      "name": "Boleto1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -280,
        520
      ]
    },
    {
      "parameters": {},
      "id": "3c55867b-33a6-45ea-af5e-1001404f2fd2",
      "name": "PIX1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -100,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $item(\"0\").$node[\"Nomeia PIX\"].runIndex >= 0      ?   $item(\"0\").$node[\"Nomeia PIX\"].json[\"Nome da Forma de Pagamento\"] : $item(\"0\").$node[\"Nomeia Boleto\"].json[\"Nome da Forma de Pagamento\"]}}",
              "value2": "Boleto"
            }
          ]
        }
      },
      "id": "c39cae7a-a441-4df2-be7b-855620a3fa3b",
      "name": "É Boleto?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        260,
        560
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Status",
              "value": "Boleto Gerado"
            }
          ]
        },
        "options": {}
      },
      "id": "7b0feb04-0dcf-4d65-aa89-84f01e837f04",
      "name": "Status de Boleto Gerado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Status",
              "value": "PIX Gerado"
            }
          ]
        },
        "options": {}
      },
      "id": "135b50bb-9a10-4795-9628-b4ed5b56e604",
      "name": "Status de PIX Gerado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        640
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 291317753,
          "mode": "list",
          "cachedResultName": "[Geral] - Aguardando Pagamento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo/edit#gid=291317753"
        },
        "columnToMatchOn": "ID DA TRANSAÇÃO",
        "valueToMatchOn": "={{ $json[\"ID da Transação\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DA COMPRA",
              "fieldValue": "={{ $json[\"Data da Compra\"] }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json[\"Nome do Cliente\"] }}"
            },
            {
              "column": "E-MAIL",
              "fieldValue": "={{ $json[\"E-mail do Cliente\"] }}"
            },
            {
              "column": "CÓDIGO DO ASSINANTE",
              "fieldValue": "={{ $json[\"Código da Inscrição\"] }}"
            },
            {
              "column": "OFERTA DA COMPRA",
              "fieldValue": "={{ $json[\"Oferta da Compra\"] }}"
            },
            {
              "column": "COMISSÃO GATEWAY",
              "fieldValue": "={{ $json[\"Comissão Hotmart\"] }}"
            },
            {
              "column": "PLANO",
              "fieldValue": "={{ $json[\"Plano\"] }}"
            },
            {
              "column": "VALOR DA COMPRA",
              "fieldValue": "={{ $json[\"Valor da Compra\"] }}"
            },
            {
              "column": "MOEDA DA COMPRA",
              "fieldValue": "={{ $json[\"Moeda da Compra\"] }}"
            },
            {
              "column": "FORMA DE PAGAMENTO",
              "fieldValue": "={{ $json[\"Forma de Pagamento\"] }}"
            },
            {
              "column": "NÚMERO DE PARCELAS",
              "fieldValue": "={{ $json[\"Número de Parcelas\"] }}"
            },
            {
              "column": "STATUS DA COMPRA",
              "fieldValue": "={{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Status\"] }}"
            },
            {
              "column": "CPF/CNPJ",
              "fieldValue": "={{ $json[\"CPF/CNPJ do Cliente\"] }}"
            },
            {
              "column": "PRODUTO",
              "fieldValue": "={{     $json[\"Nome do Produto\"]     }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{     $json[\"Telefone do Cliente\"]     }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bd6c0360-94f9-4e96-bced-9797dbd20f02",
      "name": "Atualiza BD - Aguardando Pagamento",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        960,
        760
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "renLSoeRurwGxrLn",
          "name": "[PRIGEO] - Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de Boleto Gerado",
              "value": "=Parabéns, {{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}! Você acaba de dar seu primeiro passo para ter acesso ao melhor kit de atividades e jogos prontos para se usar na sala de aula!\n\nSó falta você finalizar o pagamento do seu Boleto 🥰\n\nVou deixar aqui o Link de Pagamento do seu Boleto e a Linha Digitável, para que você consiga realizar o pagamento:\n\nLink de Pagamento: {{ $item(\"0\").$node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"billet_url\"] }}\n\nLinha Digitável: {{ $item(\"0\").$node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"billet_barcode\"] }}\n\nPS.: O prazo de compensação do pagamento é de 72h\n\nAbraços, PriGeo"
            },
            {
              "name": "Fluxo de Boleto Gerado",
              "value": "1035497"
            }
          ]
        },
        "options": {}
      },
      "id": "77cac2a5-c0a5-407d-9c0b-13b47debae5e",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3860,
        740
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência1\"].json[\"id\"] }}/custom_fields/644794/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Linha Digitável do Boleto\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona Linha Digitavel do Boleto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3420,
        740
      ],
      "id": "4f0112ee-524d-4ff9-ad70-9b8b5a99151c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência1\"].json[\"id\"] }}/custom_fields/644787/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Link do Boleto\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona Link do Boleto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3640,
        740
      ],
      "id": "882b9e25-5e72-434f-8ee1-59aff74c8724",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência1\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"Fluxo de Boleto Gerado\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de Boleto Gerado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4080,
        740
      ],
      "id": "bd14bf4e-e1ac-44bc-ae9f-4af6d1f02c14",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de PIX Gerado",
              "value": "=Parabéns, {{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}! Você acaba de dar seu primeiro passo para ter acesso ao melhor kit de atividades e jogos prontos para se usar na sala de aula!\n\nSó falta você finalizar o pagamento do seu PIX para acessar esse material que tem encantado professores e alunos por todo o Brasil\n\nVou deixar aqui o Link de Pagamento do seu PIX, e a Linha Digitável, para que você consiga realizar o pagamento:\n\nLink de Pagamento: {{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"pix_qrcode\"] }}\n\nLinha Digitável: {{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"pix_code\"] }}\n\nPS.: Após o pagamento, você receberá no seu e-mail {{ $item(\"0\").$node[\"Dados da Compra\"].json[\"E-mail do Cliente\"] }} as informações de acesso ao {{     $node[\"Dados da Compra\"].json[\"Nome do Produto\"]     }}.\n\nAbraços, PriGeo"
            },
            {
              "name": "Fluxo de PIX Gerado",
              "value": "1035498"
            }
          ]
        },
        "options": {}
      },
      "id": "31e501f5-a357-4935-96c8-31596bbd9ad8",
      "name": "Mensagens1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4060,
        1020
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência1\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens1\"].json[\"Fluxo de PIX Gerado\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de PIX Gerado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4260,
        1020
      ],
      "id": "3c1e2c99-c672-4066-a77d-66a367a6eba5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência1\"].json[\"id\"] }}/custom_fields/644776/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Linha Digitável do PIX\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona Linha Digitavel do PIX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3620,
        1020
      ],
      "id": "8b81ef22-54a8-4116-a77c-77ed5719292a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência1\"].json[\"id\"] }}/custom_fields/644769/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Link do PIX\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona Link do PIX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3840,
        1020
      ],
      "id": "dfa77bf0-df98-4cbe-a471-de09d91f3213",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T21:28:12.912Z",
      "updatedAt": "2024-05-03T21:28:12.912Z",
      "id": "m5bTGP3bXgx0Uhkx",
      "name": "CPJALE"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-22T17:53:47.294Z",
  "versionId": "60f5fb10-9366-4cfc-83e2-e80e87553a45"
}