workflows/[PG] - CE - Compra Completa.json
{
  "active": true,
  "connections": {
    "Dados da Compra": {
      "main": [
        [
          {
            "node": "Verificar DDD>4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compra Completa": {
      "main": [
        [
          {
            "node": "Formatação da Data do Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data do Pedido": {
      "main": [
        [
          {
            "node": "Consulta na Hotmart para Completar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta na Hotmart para Completar Dados": {
      "main": [
        [
          {
            "node": "Nomeia Forma de Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento": {
      "main": [
        [
          {
            "node": "Boleto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cartão de Crédito1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paypal1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nomeia Forma de Pagamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento2": {
      "main": [
        [
          {
            "node": "PIX1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Carteira da Hotmart1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outros1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outros1": {
      "main": [
        [
          {
            "node": "Segue Nomenclatura da Hotmart1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carteira da Hotmart1": {
      "main": [
        [
          {
            "node": "Nomeia Carteira da Hotmart1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX1": {
      "main": [
        [
          {
            "node": "Nomeia PIX1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paypal1": {
      "main": [
        [
          {
            "node": "Nomeia Paypal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartão de Crédito1": {
      "main": [
        [
          {
            "node": "Nomeia Cartão de Crédito1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boleto": {
      "main": [
        [
          {
            "node": "Nomeia Boleto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Boleto1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Cartão de Crédito1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Paypal1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia PIX1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Carteira da Hotmart1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segue Nomenclatura da Hotmart1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar DDD>4": {
      "main": [
        [
          {
            "node": "Sem nono dígito4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nono dígito4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nono dígito4": {
      "main": [
        [
          {
            "node": "Dados validados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem nono dígito4": {
      "main": [
        [
          {
            "node": "Dados validados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados validados4": {
      "main": [
        [
          {
            "node": "Verificar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência": {
      "main": [
        [
          {
            "node": "Contato existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência": {
      "main": [
        [
          {
            "node": "Condições1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condições1": {
      "main": [
        [
          {
            "node": "Libera conteúdo após a garantia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Libera conteúdo após a garantia": {
      "main": [
        [
          {
            "node": "Faz upsell após o vencimento da garantia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Faz upsell após o vencimento da garantia": {
      "main": [
        [
          {
            "node": "Informações do Produto2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Informações do Produto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto2": {
      "main": [
        [
          {
            "node": "Mensagens2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto3": {
      "main": [
        [
          {
            "node": "Mensagens3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens2": {
      "main": [
        [
          {
            "node": "Enviar Mensagem de Conteúdo Liberado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens3": {
      "main": [
        [
          {
            "node": "Enviar Mensagem de Conteúdo Liberado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem de Conteúdo Liberado1": {
      "main": [
        [
          {
            "node": "Espera 5 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 5 segundos": {
      "main": [
        [
          {
            "node": "Enviar Mensagem de Upsell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T16:57:48.806Z",
  "id": "QrnLNQX6B82ZiSmC",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PG] - CE - Compra Completa",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ce-compra-completa",
        "options": {}
      },
      "id": "51d0c077-a88f-40c8-b8fc-9a2c46407670",
      "name": "Compra Completa",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4100,
        1620
      ],
      "webhookId": "7fcd9696-2b4f-4740-ac2f-2b7d87f530cb"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Dados da Compra\"].json[\"DDD\"] }}",
              "operation": "larger",
              "value2": 28
            }
          ]
        }
      },
      "name": "Verificar DDD>4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2140,
        1620
      ],
      "id": "343a1a2e-e4ee-4df2-a8b2-039bf932ccf9"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-sem-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Sem nono dígito4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1860,
        1520
      ],
      "id": "0e4f04c3-41d3-475c-88ba-603c93f5f676"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-9) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Nono dígito4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1860,
        1740
      ],
      "id": "cee419ef-dc83-4249-b3f6-bed1b72c2205"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-formatado",
              "value": "={{ $node[\"Sem nono dígito4\"].runIndex >= 0      ?   $node[\"Sem nono dígito4\"].json[\"whatsapp-sem-nono\"] : $node[\"Nono dígito4\"].json[\"whatsapp-nono\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados validados4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1600,
        1640
      ],
      "id": "77d8cdf1-299d-4ed9-9aba-43c067493888"
    },
    {
      "parameters": {
        "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"order_date\"]/1000 }}",
        "dataPropertyName": "Data do Pedido Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "399725fa-7013-473d-b55f-3c812ebd3aa5",
      "name": "Formatação da Data do Pedido",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -3880,
        1620
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Produto",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"product\"][\"name\"] }}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"buyer\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"buyer\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"] }}"
            },
            {
              "name": "CPF/CNPJ do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"documents\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "ID da Transação",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            },
            {
              "name": "Oferta da Compra",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"offer\"][\"code\"] }}"
            },
            {
              "name": "Moeda da Compra",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"original_offer_price\"][\"currency_value\"] }}"
            },
            {
              "name": "Código da Inscrição",
              "value": "={{ $node[\"Compra Completa\"].json && $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] ? $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] : \".\" }}"
            },
            {
              "name": "Plano",
              "value": "={{ $node[\"Compra Completa\"].json && $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] ? $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] : \".\" }}"
            },
            {
              "name": "Forma de Pagamento",
              "value": "={{ $json[\"Nome da Forma de Pagamento\"] }}"
            },
            {
              "name": "Status da Compra",
              "value": "=Completa"
            },
            {
              "name": "DDD",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"].slice(0,2)  }}"
            }
          ],
          "number": [
            {
              "name": "Valor da Compra",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"full_price\"][\"value\"] }}"
            },
            {
              "name": "Data da Compra",
              "value": "={{ $node[\"Formatação da Data do Pedido\"].json[\"Data do Pedido Formatada\"] }}"
            },
            {
              "name": "Comissão Hotmart",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"commissions\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "Número de Parcelas",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"installments_number\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "5e3dff1e-99ba-4882-bde2-b5659696a2aa",
      "name": "Dados da Compra",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2340,
        1620
      ]
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $item(\"0\").$node[\"Formatação da Data do Pedido\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "36d15111-e669-4551-9e62-63d265125f4b",
      "name": "Consulta na Hotmart para Completar Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -3600,
        1620
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "BILLET"
            },
            {
              "value2": "CREDIT_CARD",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "PAYPAL",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "2aaf04e2-b93a-4748-a213-59eac92a9dbb",
      "name": "Nomeia Forma de Pagamento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -3320,
        1620
      ]
    },
    {
      "parameters": {},
      "id": "346af54f-00eb-495f-941d-2837386a373b",
      "name": "Boleto",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3020,
        1380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1000,
        1640
      ],
      "id": "fa24f2b6-aa85-4049-95b0-140525098bab"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados4\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Verificar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1280,
        1640
      ],
      "id": "7dca6fef-767a-4f28-91ad-6104cbcad115",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Dados validados4\"].json[\"whatsapp-formatado\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[1] }}"
            }
          ]
        }
      },
      "name": "Cadastrar contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -760,
        1740
      ],
      "id": "4e371223-9d66-408e-8d14-f0504c722d39",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados4\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -540,
        1620
      ],
      "id": "79e46485-dd5b-4ce4-9269-eb16ea5e8987",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"Conteúdo liberado após garantia?\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "9e71a0e5-a27a-4e08-95a3-299e6bbd46a4",
      "name": "Libera conteúdo após a garantia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -20,
        1620
      ]
    },
    {
      "parameters": {},
      "id": "a3190c2e-18b9-4377-b966-74695d09e246",
      "name": "Não faça nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        260,
        1640
      ]
    },
    {
      "parameters": {
        "content": "## Preencher este Node 👇🏻\n\n## Se fizer upsell, colocar link do checkout do produto de upsell aqui\n\n## Caso seja uma oferta de upsell diferente da oferta padrão, lembre-se de coolocar o link do checkout desta oferta",
        "height": 683.1925581395351,
        "width": 195.00515995872038
      },
      "id": "2d55c8ae-0986-4489-953c-a639605197ac",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Preencher este Node 👇🏻\n\n## Se fizer upsell, coloque a mensagem de upsell aqui neste Node",
        "height": 683.1925581395351,
        "width": 195.00515995872038
      },
      "id": "30c1765b-247c-4d3e-b731-ca63d1fd7600",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"Faz upsell após garantia?\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "22b7dbe3-0460-4a7c-91b0-102df96178cb",
      "name": "Faz upsell após o vencimento da garantia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        260,
        1400
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Mensagens3\"].json[\"Mensagem de Liberação de Conteúdo\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Conteúdo Liberado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        960,
        1440
      ],
      "id": "e921d2f9-a3da-4530-8791-d65d3bb6c0b1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Mensagens2\"].json[\"Mensagem de Liberação de Conteúdo\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Conteúdo Liberado1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        960,
        1220
      ],
      "id": "6f200f79-8dc4-41c4-b43f-0a0cf82ef165",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Mensagens2\"].json[\"Mensagem de Upsell\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Upsell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1400,
        1220
      ],
      "id": "93436afe-43f0-42d6-92ee-d6be184fb380",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "05c98ef0-d45c-4de7-9261-d476bc5157b5",
      "name": "Espera 5 segundos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1180,
        1220
      ],
      "webhookId": "b23a81ec-9c8d-49f2-a2f1-dbda74e3cb97"
    },
    {
      "parameters": {},
      "id": "d91ee81e-b96c-4b45-bcc8-85d94a8ab88c",
      "name": "Cartão de Crédito1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3020,
        1560
      ]
    },
    {
      "parameters": {},
      "id": "ecc33f86-ed55-452a-80ec-f2ee408d31ca",
      "name": "Paypal1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3020,
        1760
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "PIX"
            },
            {
              "value2": "WALLET",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "0899708c-1d69-4736-bf63-6acd8d5f91cf",
      "name": "Nomeia Forma de Pagamento2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -3160,
        2040
      ]
    },
    {
      "parameters": {},
      "id": "f3c8c49c-d362-4926-8dfe-573927a7b906",
      "name": "PIX1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2840,
        1940
      ]
    },
    {
      "parameters": {},
      "id": "8b1513c3-a6df-4cb4-bc89-5caff10480c5",
      "name": "Carteira da Hotmart1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2840,
        2140
      ]
    },
    {
      "parameters": {},
      "id": "38ede128-5780-4916-b027-324ff620b112",
      "name": "NoOp1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2840,
        2320
      ]
    },
    {
      "parameters": {},
      "id": "1ce09b48-9c30-4255-8a45-cbfbc1ecd220",
      "name": "Outros1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2840,
        2500
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Boleto"
            }
          ]
        },
        "options": {}
      },
      "id": "2f9e054b-283b-4fa9-92c3-1027cff8a912",
      "name": "Nomeia Boleto1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2800,
        1380
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Cartão de Crédito"
            }
          ]
        },
        "options": {}
      },
      "id": "32b46059-75f8-4572-81eb-4134385da6ae",
      "name": "Nomeia Cartão de Crédito1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2800,
        1560
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Paypal"
            }
          ]
        },
        "options": {}
      },
      "id": "a2fd63cc-dfd4-4cd0-8522-dda81254e26d",
      "name": "Nomeia Paypal1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2800,
        1760
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "PIX"
            }
          ]
        },
        "options": {}
      },
      "id": "45ee4313-159f-499d-8afb-9ccaee883888",
      "name": "Nomeia PIX1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2620,
        1940
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Carteira da Hotmart"
            }
          ]
        },
        "options": {}
      },
      "id": "3177380b-96e3-46e2-868c-d6b6e0e02359",
      "name": "Nomeia Carteira da Hotmart1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2620,
        2140
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "={{ $item(\"0\").$node[\"Consulta na Hotmart para Completar Dados\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ee7950eb-9bd2-48ca-8223-010a6ffaa44a",
      "name": "Segue Nomenclatura da Hotmart1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2620,
        2500
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link da Área de Membros"
            },
            {
              "name": "Link do Checkout do Upsell"
            }
          ]
        },
        "options": {}
      },
      "id": "70839e7e-4437-4c1c-93e4-1d9fb04cdb9c",
      "name": "Informações do Produto2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        520,
        1220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de Liberação de Conteúdo",
              "value": "={{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}, passando para te avisar que já temos conteúdo novo do Brocas na Podologia - Sistema S.I.P te esperando na plataforma.\n\nAcompanhe por lá nosso cronograma de liberação de aulas. Você já pode acessá-los agora mesmo se quiser. Basta apertar no link abaixo:\n\n{{ $node[\"Informações do Produto2\"].json[\"Link da Área de Membros\"] }}\n\nAbraços, time Alê Nogueira."
            },
            {
              "name": "Mensagem de Upsell",
              "value": "={{ $node[\"Informações do Produto2\"].json[\"Link do Checkout do Upsell\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "414c9711-ed3e-4fbc-9701-fad5d2b0ab18",
      "name": "Mensagens2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        1220
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "Conteúdo liberado após garantia?"
            },
            {
              "name": "Faz upsell após garantia?"
            }
          ]
        },
        "options": {}
      },
      "id": "db26af9b-1ad6-4ade-8825-cd0ac680b3b5",
      "name": "Condições1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -240,
        1620
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link da Área de Membros"
            }
          ]
        },
        "options": {}
      },
      "id": "0d3454f0-b6e7-4c5d-9d0d-58504513db29",
      "name": "Informações do Produto3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        520,
        1440
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de Liberação de Conteúdo",
              "value": "={{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}, passando para te avisar que já temos conteúdo novo do Brocas na Podologia - Sistema S.I.P te esperando na plataforma.\n\nAcompanhe por lá nosso cronograma de liberação de aulas. Você já pode acessá-los agora mesmo se quiser. Basta apertar no link abaixo:\n\n{{ $node[\"Informações do Produto3\"].json[\"Link da Área de Membros\"] }}\n\nAbraços, time Alê Nogueira."
            }
          ]
        },
        "options": {}
      },
      "id": "1f88712c-977a-4a19-b521-5acf0dddc662",
      "name": "Mensagens3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        1440
      ]
    },
    {
      "parameters": {
        "content": "## Validado"
      },
      "id": "aab09232-7778-49d7-90c7-d6dac111e678",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        1420
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T20:48:47.883Z",
      "updatedAt": "2024-05-03T20:48:47.883Z",
      "id": "YU6gVyrnmykMQycr",
      "name": "CE"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T20:51:04.699Z",
  "versionId": "d1ad469e-ec82-4e30-be10-8ad296d77b6d"
}