workflows/[PG] - PM2.0 - Compra Completa.json
{
  "active": true,
  "connections": {
    "Mensagens3": {
      "main": [
        [
          {
            "node": "Enviar Mensagem de Conteúdo Liberado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto3": {
      "main": [
        [
          {
            "node": "Mensagens3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condições1": {
      "main": [
        [
          {
            "node": "Libera conteúdo após a garantia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens2": {
      "main": [
        [
          {
            "node": "Enviar Mensagem de Conteúdo Liberado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto2": {
      "main": [
        [
          {
            "node": "Mensagens2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segue Nomenclatura da Hotmart1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Carteira da Hotmart1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia PIX1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Paypal1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Cartão de Crédito1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Boleto1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outros1": {
      "main": [
        [
          {
            "node": "Segue Nomenclatura da Hotmart1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carteira da Hotmart1": {
      "main": [
        [
          {
            "node": "Nomeia Carteira da Hotmart1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX1": {
      "main": [
        [
          {
            "node": "Nomeia PIX1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento2": {
      "main": [
        [
          {
            "node": "PIX1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Carteira da Hotmart1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outros1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paypal1": {
      "main": [
        [
          {
            "node": "Nomeia Paypal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartão de Crédito1": {
      "main": [
        [
          {
            "node": "Nomeia Cartão de Crédito1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 5 segundos": {
      "main": [
        [
          {
            "node": "Enviar Mensagem de Upsell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem de Conteúdo Liberado1": {
      "main": [
        [
          {
            "node": "Espera 5 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Faz upsell após o vencimento da garantia": {
      "main": [
        [
          {
            "node": "Informações do Produto2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Informações do Produto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Libera conteúdo após a garantia": {
      "main": [
        [
          {
            "node": "Faz upsell após o vencimento da garantia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência": {
      "main": [
        [
          {
            "node": "Condições1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência": {
      "main": [
        [
          {
            "node": "Contato existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boleto": {
      "main": [
        [
          {
            "node": "Nomeia Boleto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento": {
      "main": [
        [
          {
            "node": "Boleto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cartão de Crédito1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paypal1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nomeia Forma de Pagamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta na Hotmart para Completar Dados": {
      "main": [
        [
          {
            "node": "Nomeia Forma de Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados da Compra": {
      "main": [
        [
          {
            "node": "Verificar DDD>4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data do Pedido": {
      "main": [
        [
          {
            "node": "Consulta na Hotmart para Completar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados validados4": {
      "main": [
        [
          {
            "node": "Verificar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nono dígito4": {
      "main": [
        [
          {
            "node": "Dados validados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem nono dígito4": {
      "main": [
        [
          {
            "node": "Dados validados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar DDD>4": {
      "main": [
        [
          {
            "node": "Sem nono dígito4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nono dígito4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compra Completa": {
      "main": [
        [
          {
            "node": "Formatação da Data do Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-03T18:58:38.332Z",
  "id": "KpuRkhXtFvZ772FI",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PG] - PM2.0 - Compra Completa",
  "nodes": [
    {
      "parameters": {
        "content": "## Validado"
      },
      "id": "d4746d36-6307-4d7e-9168-383bd228472d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -360,
        660
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de Liberação de Conteúdo",
              "value": "={{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}, passando para te avisar que já temos conteúdo novo do Brocas na Podologia - Sistema S.I.P te esperando na plataforma.\n\nAcompanhe por lá nosso cronograma de liberação de aulas. Você já pode acessá-los agora mesmo se quiser. Basta apertar no link abaixo:\n\n{{ $node[\"Informações do Produto3\"].json[\"Link da Área de Membros\"] }}\n\nAbraços, time Alê Nogueira."
            }
          ]
        },
        "options": {}
      },
      "id": "87f66283-efd8-4717-8068-496ade79e2b8",
      "name": "Mensagens3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        680
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link da Área de Membros"
            }
          ]
        },
        "options": {}
      },
      "id": "a37b1fdc-0691-445f-819f-285cbe504258",
      "name": "Informações do Produto3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        680
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "Conteúdo liberado após garantia?"
            },
            {
              "name": "Faz upsell após garantia?"
            }
          ]
        },
        "options": {}
      },
      "id": "7a9e5af0-c70c-4927-bc0a-4a215fe1ed3f",
      "name": "Condições1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -300,
        860
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de Liberação de Conteúdo",
              "value": "={{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}, passando para te avisar que já temos conteúdo novo do Brocas na Podologia - Sistema S.I.P te esperando na plataforma.\n\nAcompanhe por lá nosso cronograma de liberação de aulas. Você já pode acessá-los agora mesmo se quiser. Basta apertar no link abaixo:\n\n{{ $node[\"Informações do Produto2\"].json[\"Link da Área de Membros\"] }}\n\nAbraços, time Alê Nogueira."
            },
            {
              "name": "Mensagem de Upsell",
              "value": "={{ $node[\"Informações do Produto2\"].json[\"Link do Checkout do Upsell\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5e84c6f-d308-441d-ad14-e6aafb9e235d",
      "name": "Mensagens2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link da Área de Membros",
              "value": "https://aprendizagembaseadaemjogoseens.club.hotmart.com/login"
            }
          ]
        },
        "options": {}
      },
      "id": "14b499b1-ad4e-4ca2-802d-dc858d40f9de",
      "name": "Informações do Produto2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "={{ $item(\"0\").$node[\"Consulta na Hotmart para Completar Dados\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0cacfd26-9f11-4ee9-9b28-db7421bc2795",
      "name": "Segue Nomenclatura da Hotmart1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2680,
        1740
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Carteira da Hotmart"
            }
          ]
        },
        "options": {}
      },
      "id": "c5657f63-6358-4184-8939-bcc1fd610d0a",
      "name": "Nomeia Carteira da Hotmart1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2680,
        1380
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "PIX"
            }
          ]
        },
        "options": {}
      },
      "id": "a3dd35b1-dcae-491a-b4f0-69287f49f4ed",
      "name": "Nomeia PIX1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2680,
        1180
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Paypal"
            }
          ]
        },
        "options": {}
      },
      "id": "14575ba7-65ee-4e95-89a4-9b8970e47cec",
      "name": "Nomeia Paypal1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2860,
        1000
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Cartão de Crédito"
            }
          ]
        },
        "options": {}
      },
      "id": "9290d1fe-4ffc-4fe8-a920-c7421663ec08",
      "name": "Nomeia Cartão de Crédito1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2860,
        800
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Boleto"
            }
          ]
        },
        "options": {}
      },
      "id": "2a634a8c-a3ed-4152-af15-2914eb261295",
      "name": "Nomeia Boleto1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2860,
        620
      ]
    },
    {
      "parameters": {},
      "id": "75fb9ea4-7e8a-4522-bf26-e0c73e9b8920",
      "name": "Outros1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2900,
        1740
      ]
    },
    {
      "parameters": {},
      "id": "d47665f3-6ade-42bc-bd43-619d90a2a6d0",
      "name": "NoOp1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2900,
        1560
      ]
    },
    {
      "parameters": {},
      "id": "d288a823-6a65-45a8-aff2-145435b2f4b0",
      "name": "Carteira da Hotmart1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2900,
        1380
      ]
    },
    {
      "parameters": {},
      "id": "07e4cd3f-15b7-48eb-80bb-e1a573691e13",
      "name": "PIX1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2900,
        1180
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "PIX"
            },
            {
              "value2": "WALLET",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "014ee2f9-6a43-492a-a62e-099e8d33fdd2",
      "name": "Nomeia Forma de Pagamento2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -3220,
        1280
      ]
    },
    {
      "parameters": {},
      "id": "715449c5-2e2e-4b35-a1c4-c1ac6f7974a1",
      "name": "Paypal1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3080,
        1000
      ]
    },
    {
      "parameters": {},
      "id": "26ac5f84-3dab-4808-b8bb-9b2a44cf41d3",
      "name": "Cartão de Crédito1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3080,
        800
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "51454c0b-682c-42a3-900d-54f61cb89cd2",
      "name": "Espera 5 segundos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1120,
        460
      ],
      "webhookId": "c3b7deea-2546-476f-85ed-bfac200d8932"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Mensagens2\"].json[\"Mensagem de Upsell\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Upsell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1340,
        460
      ],
      "id": "697f1aac-42ea-4b34-8d9f-7cb719ed8dfc",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Mensagens2\"].json[\"Mensagem de Liberação de Conteúdo\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Conteúdo Liberado1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        900,
        460
      ],
      "id": "c71902ef-3604-4e22-bd29-03bb7927643a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Mensagens3\"].json[\"Mensagem de Liberação de Conteúdo\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Conteúdo Liberado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        900,
        680
      ],
      "id": "52b7c22a-fabe-46b9-8191-76e8f8bf4bbf",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"Faz upsell após garantia?\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a7153d5a-c04e-4bbe-bbf3-5269475f431e",
      "name": "Faz upsell após o vencimento da garantia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        640
      ]
    },
    {
      "parameters": {},
      "id": "f2c315c6-6b6d-4862-bc08-36c9437b3e66",
      "name": "Não faça nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        200,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"Conteúdo liberado após garantia?\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b4e0d431-338a-4744-b98a-df4d55cac2cb",
      "name": "Libera conteúdo após a garantia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -80,
        860
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados4\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -600,
        860
      ],
      "id": "ba85e671-b481-475a-8ae0-939917d0ef30",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Dados validados4\"].json[\"whatsapp-formatado\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[1] }}"
            }
          ]
        }
      },
      "name": "Cadastrar contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -820,
        980
      ],
      "id": "9ec9f3b8-1f0e-48dc-89d3-0d3867a762af",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados4\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Verificar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1340,
        880
      ],
      "id": "dde94c0b-ab40-4ac9-acd7-c4bcd768b5e4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1060,
        880
      ],
      "id": "18afc52f-94c8-468f-aa5d-4509065a399b"
    },
    {
      "parameters": {},
      "id": "3dba8b11-95d4-44c7-9afa-98c217509913",
      "name": "Boleto",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3080,
        620
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "BILLET"
            },
            {
              "value2": "CREDIT_CARD",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "PAYPAL",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "99b605c8-d5fa-4f76-b76d-18f0a4e2b542",
      "name": "Nomeia Forma de Pagamento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -3380,
        860
      ]
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $item(\"0\").$node[\"Formatação da Data do Pedido\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "895aa19b-fd69-44e9-ae5c-5e50a811fb90",
      "name": "Consulta na Hotmart para Completar Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -3660,
        860
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Produto",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"product\"][\"name\"] }}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"buyer\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"buyer\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"] }}"
            },
            {
              "name": "CPF/CNPJ do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"documents\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "ID da Transação",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            },
            {
              "name": "Oferta da Compra",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"offer\"][\"code\"] }}"
            },
            {
              "name": "Moeda da Compra",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"original_offer_price\"][\"currency_value\"] }}"
            },
            {
              "name": "Código da Inscrição",
              "value": "={{ $node[\"Compra Completa\"].json && $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] ? $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] : \".\" }}\n"
            },
            {
              "name": "Plano",
              "value": "={{ $node[\"Compra Completa\"].json && $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] ? $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] : \".\" }}"
            },
            {
              "name": "Forma de Pagamento",
              "value": "={{ $.json[\"Nome da Forma de Pagamento\"] }}"
            },
            {
              "name": "Status da Compra",
              "value": "=Completa"
            },
            {
              "name": "DDD",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"].slice(0,2)  }}"
            }
          ],
          "number": [
            {
              "name": "Valor da Compra",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"full_price\"][\"value\"] }}"
            },
            {
              "name": "Data da Compra",
              "value": "={{ $node[\"Formatação da Data do Pedido\"].json[\"Data do Pedido Formatada\"] }}"
            },
            {
              "name": "Comissão Hotmart",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"commissions\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "Número de Parcelas",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"installments_number\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "66ee1d20-241a-4e5f-a8f1-5de2479b8752",
      "name": "Dados da Compra",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2400,
        860
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"order_date\"]/1000 }}",
        "dataPropertyName": "Data do Pedido Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "6fb57a45-66ef-4dcf-a7dd-99455352e047",
      "name": "Formatação da Data do Pedido",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -3940,
        860
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-formatado",
              "value": "={{ $node[\"Sem nono dígito4\"].runIndex >= 0      ?   $node[\"Sem nono dígito4\"].json[\"whatsapp-sem-nono\"] : $node[\"Nono dígito4\"].json[\"whatsapp-nono\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados validados4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1660,
        880
      ],
      "id": "c85c5671-b218-4ff4-a3a2-82679151e68e"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-9) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Nono dígito4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1920,
        980
      ],
      "id": "0cdaa3e1-3dee-4112-b88f-f30bc11bdabc"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-sem-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Sem nono dígito4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1920,
        760
      ],
      "id": "90867099-05d2-42b8-bc1b-37feccc4c151"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Dados da Compra\"].json[\"DDD\"] }}",
              "operation": "larger",
              "value2": 28
            }
          ]
        }
      },
      "name": "Verificar DDD>4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2200,
        860
      ],
      "id": "855451c7-95aa-4da2-a3c0-369dc2603d12"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pm2-compra-completa",
        "options": {}
      },
      "id": "d6960e48-a447-4720-8884-0681ed9c1486",
      "name": "Compra Completa",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4160,
        860
      ],
      "webhookId": "29b0ab26-5d23-4257-9806-13b73abf1cda"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T20:03:39.928Z",
      "updatedAt": "2024-05-03T20:03:39.928Z",
      "id": "5aLaCKE6gU2KHuDT",
      "name": "PM2.0"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T20:04:35.797Z",
  "versionId": "f713b1d0-9448-4589-9075-a30fcf2dde9e"
}