workflows/[PG] - CPJALE - Compra Cancelada.json
{
  "active": true,
  "connections": {
    "Compra Cancelada": {
      "main": [
        [
          {
            "node": "Formatação da Data do Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados do Cancelamento": {
      "main": [
        [
          {
            "node": "Atualiza BD - Compra Cancelada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar DDD>3": {
      "main": [
        [
          {
            "node": "Sem nono dígito3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nono dígito3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem nono dígito3": {
      "main": [
        [
          {
            "node": "Dados validados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nono dígito3": {
      "main": [
        [
          {
            "node": "Dados validados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados validados3": {
      "main": [
        [
          {
            "node": "Verificar na audiência3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência3": {
      "main": [
        [
          {
            "node": "Contato existe?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?3": {
      "main": [
        [
          {
            "node": "Buscar na audiência3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar contato3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato3": {
      "main": [
        [
          {
            "node": "Buscar na audiência3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência3": {
      "main": [
        [
          {
            "node": "Condições",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Users na Hotmart": {
      "main": [
        [
          {
            "node": "Nomeia Forma de Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data do Pedido": {
      "main": [
        [
          {
            "node": "Consulta Users na Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento": {
      "main": [
        [
          {
            "node": "Boleto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cartão de Crédito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paypal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nomeia Forma de Pagamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boleto": {
      "main": [
        [
          {
            "node": "Nomeia Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartão de Crédito": {
      "main": [
        [
          {
            "node": "Nomeia Cartão de Crédito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paypal": {
      "main": [
        [
          {
            "node": "Nomeia Paypal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento1": {
      "main": [
        [
          {
            "node": "PIX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Carteira da Hotmart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX": {
      "main": [
        [
          {
            "node": "Nomeia PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carteira da Hotmart": {
      "main": [
        [
          {
            "node": "Nomeia Carteira da Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outros": {
      "main": [
        [
          {
            "node": "Segue Nomenclatura da Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Boleto": {
      "main": [
        [
          {
            "node": "Dados do Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Cartão de Crédito": {
      "main": [
        [
          {
            "node": "Dados do Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Paypal": {
      "main": [
        [
          {
            "node": "Dados do Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia PIX": {
      "main": [
        [
          {
            "node": "Dados do Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Carteira da Hotmart": {
      "main": [
        [
          {
            "node": "Dados do Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segue Nomenclatura da Hotmart": {
      "main": [
        [
          {
            "node": "Dados do Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza BD - Compra Cancelada": {
      "main": [
        [
          {
            "node": "Verificar DDD>3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Enviar Fluxo de Compra Cancelada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condições": {
      "main": [
        [
          {
            "node": "Dá desconto para compras canceladas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dá desconto para compras canceladas": {
      "main": [
        [
          {
            "node": "Informações do Produto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Informações do Produto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto1": {
      "main": [
        [
          {
            "node": "Mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens1": {
      "main": [
        [
          {
            "node": "Enviar Fluxo de Compra Cancelada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T17:15:57.102Z",
  "id": "iF3UPn8TJ9b1R6W1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PG] - CPJALE - Compra Cancelada",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cpjale-compra-cancelada",
        "options": {}
      },
      "id": "3b3a8657-0153-484a-abd4-bec5a1680a4f",
      "name": "Compra Cancelada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        700
      ],
      "webhookId": "59921c9f-7c06-442a-afb2-383f91e79e80"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Produto",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"product\"][\"name\"] }}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"email\"] }}"
            },
            {
              "name": "ID da Transação",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"transaction\"] }}"
            },
            {
              "name": "Telefone do Cliente",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"] }}"
            },
            {
              "name": "CPF/CNPJ do Cliente",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"documents\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "Oferta da Compra",
              "value": "={{ $item(\"0\").$node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"purchase\"][\"offer\"][\"code\"] }}"
            },
            {
              "name": "Moeda da Compra",
              "value": "={{ $item(\"0\").$node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"purchase\"][\"original_offer_price\"][\"currency_value\"] }}"
            },
            {
              "name": "Plano",
              "value": "={{ $node[\"Compra Cancelada\"].json && $node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] ? $node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] : \".\" }}"
            },
            {
              "name": "Forma de Pagamento",
              "value": "={{ $json[\"Nome da Forma de Pagamento\"] }}"
            },
            {
              "name": "Status da Compra",
              "value": "=Cancelada"
            },
            {
              "name": "DDD",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"].slice(0,2) }}"
            }
          ],
          "number": [
            {
              "name": "Data da Compra",
              "value": "={{ $node[\"Formatação da Data do Pedido\"].json[\"Data do Pedido Formatada\"] }}"
            },
            {
              "name": "Valor da Compra",
              "value": "={{ $item(\"0\").$node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"purchase\"][\"price\"][\"value\"] }}"
            },
            {
              "name": "Comissão Hotmart",
              "value": "={{ $item(\"0\").$node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"commissions\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "Número de Parcelas",
              "value": "={{ $item(\"0\").$node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"installments_number\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a184923a-5986-4378-9a1c-2d21017e4e52",
      "name": "Dados do Cancelamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1160,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Dados do Cancelamento\"].json[\"DDD\"] }}",
              "operation": "larger",
              "value2": 28
            }
          ]
        }
      },
      "name": "Verificar DDD>3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        700
      ],
      "id": "0f466b82-8ceb-4ad9-9cdd-440f6ac0a537"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-sem-nono",
              "value": "=+55{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"DDD\"] }}{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Telefone do Cliente\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Sem nono dígito3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1820,
        480
      ],
      "id": "23461379-255b-4b06-9a9c-19abff187584"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-nono",
              "value": "=+55{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"DDD\"] }}{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Telefone do Cliente\"].slice(-9) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Nono dígito3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1820,
        720
      ],
      "id": "bb0816a3-0742-47bb-b675-1a78f5d84722"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-formatado",
              "value": "={{ $node[\"Sem nono dígito3\"].runIndex >= 0      ?   $node[\"Sem nono dígito3\"].json[\"whatsapp-sem-nono\"] : $node[\"Nono dígito3\"].json[\"whatsapp-nono\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados validados3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2140,
        720
      ],
      "id": "6e5dd42f-ac04-4498-ab90-5d5d3f8b15ee"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Dados validados3\"].json[\"whatsapp-formatado\"] }}/",
        "options": {}
      },
      "name": "Verificar na audiência3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2380,
        720
      ],
      "id": "4b26f6c6-627e-4960-8bb2-a6e3864e9d86",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2620,
        720
      ],
      "id": "38209e59-09fd-4c99-8c99-e566284dec92"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Dados validados3\"].json[\"whatsapp-formatado\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].split(' ')[1] }}"
            }
          ]
        }
      },
      "name": "Cadastrar contato3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2840,
        880
      ],
      "id": "9b3a6784-4962-4421-a0af-2a830967bdbe",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados3\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3040,
        700
      ],
      "id": "aab60764-61a0-40bc-9543-9cb6525cb958",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "499cc1d1-fddd-476f-a284-77fa4e1b4ce0",
      "name": "Consulta Users na Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -100,
        700
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"order_date\"]/1000 }}",
        "dataPropertyName": "Data do Pedido Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "6b2e4ae0-d073-47d2-8cbc-ff4c35333444",
      "name": "Formatação da Data do Pedido",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -340,
        700
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $item(\"0\").$node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "BILLET"
            },
            {
              "value2": "CREDIT_CARD",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "PAYPAL",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "fa0b7b31-db77-4d7f-a490-55d06a5e73cd",
      "name": "Nomeia Forma de Pagamento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        160,
        700
      ]
    },
    {
      "parameters": {},
      "id": "a77e6815-dfdb-4899-a772-e2229c365138",
      "name": "Boleto",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {},
      "id": "7f496251-5d36-4ee3-88ac-d0cf254d2cea",
      "name": "Cartão de Crédito",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        640
      ]
    },
    {
      "parameters": {},
      "id": "eed6a967-5200-40b5-88fd-9d7bdcde3daf",
      "name": "Paypal",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        840
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $item(\"0\").$node[\"Compra Cancelada\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "PIX"
            },
            {
              "value2": "WALLET",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "ff0cdd87-1380-4f07-8bd7-9e19821ad0c7",
      "name": "Nomeia Forma de Pagamento1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        320,
        1120
      ]
    },
    {
      "parameters": {},
      "id": "58e31d1b-64ab-47d1-b221-890f555dfbde",
      "name": "PIX",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        1020
      ]
    },
    {
      "parameters": {},
      "id": "6ee5c5b7-ef07-4c89-832f-745501e64ba8",
      "name": "Carteira da Hotmart",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        1220
      ]
    },
    {
      "parameters": {},
      "id": "fee0303d-3531-4691-8780-87a09a3e7406",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        1400
      ]
    },
    {
      "parameters": {},
      "id": "ced11298-716a-48cf-a4cc-c746177be4e6",
      "name": "Outros",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        1580
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Boleto"
            }
          ]
        },
        "options": {}
      },
      "id": "fdb9dff5-f672-46cb-927e-e10f6a1e0d62",
      "name": "Nomeia Boleto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Cartão de Crédito"
            }
          ]
        },
        "options": {}
      },
      "id": "948e6607-4588-4fe8-94c5-af39b12745bd",
      "name": "Nomeia Cartão de Crédito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        640
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Paypal"
            }
          ]
        },
        "options": {}
      },
      "id": "b07b7ca1-7971-4d28-8134-a764cc71ca1d",
      "name": "Nomeia Paypal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        840
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "PIX"
            }
          ]
        },
        "options": {}
      },
      "id": "6f3957e5-beb2-4d25-bfd7-c104f0de8976",
      "name": "Nomeia PIX",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        860,
        1020
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Carteira da Hotmart"
            }
          ]
        },
        "options": {}
      },
      "id": "33a81941-450d-496e-966d-9e57461707b0",
      "name": "Nomeia Carteira da Hotmart",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        860,
        1220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "={{ $item(\"0\").$node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3cc19c40-1bec-4e35-a10e-83bf803d9901",
      "name": "Segue Nomenclatura da Hotmart",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        860,
        1580
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 455011098,
          "mode": "list",
          "cachedResultName": "[Geral] - Compra Cancelada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo/edit#gid=455011098"
        },
        "columnToMatchOn": "ID DA TRANSAÇÃO",
        "valueToMatchOn": "={{ $json[\"ID da Transação\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DA COMPRA",
              "fieldValue": "={{ $json[\"Data da Compra\"] }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json[\"Nome do Cliente\"] }}"
            },
            {
              "column": "E-MAIL",
              "fieldValue": "={{ $json[\"E-mail do Cliente\"] }}"
            },
            {
              "column": "CÓDIGO DO ASSINANTE",
              "fieldValue": "={{ $json[\"Código da Inscrição\"] }}"
            },
            {
              "column": "OFERTA DA COMPRA",
              "fieldValue": "={{ $json[\"Oferta da Compra\"] }}"
            },
            {
              "column": "COMISSÃO GATEWAY",
              "fieldValue": "={{ $json[\"Comissão Hotmart\"] }}"
            },
            {
              "column": "PLANO",
              "fieldValue": "={{ $json[\"Plano\"] }}"
            },
            {
              "column": "VALOR DA COMPRA",
              "fieldValue": "={{ $json[\"Valor da Compra\"] }}"
            },
            {
              "column": "MOEDA DA COMPRA",
              "fieldValue": "={{ $json[\"Moeda da Compra\"] }}"
            },
            {
              "column": "FORMA DE PAGAMENTO",
              "fieldValue": "={{ $json[\"Forma de Pagamento\"] }}"
            },
            {
              "column": "NÚMERO DE PARCELAS",
              "fieldValue": "={{ $json[\"Número de Parcelas\"] }}"
            },
            {
              "column": "STATUS DA COMPRA",
              "fieldValue": "={{ $json[\"Status da Compra\"] }}"
            },
            {
              "column": "CPF/CNPJ",
              "fieldValue": "={{ $json[\"CPF/CNPJ do Cliente\"] }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json[\"Telefone do Cliente\"] }}"
            },
            {
              "column": "PRODUTO",
              "fieldValue": "={{    $json[\"Nome do Produto\"]    }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ceacaead-e6c6-4138-819d-40bd608f3a65",
      "name": "Atualiza BD - Compra Cancelada",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1360,
        700
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "renLSoeRurwGxrLn",
          "name": "[PRIGEO] - Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link do Checkout do Produto com Desconto",
              "value": "https://pay.hotmart.com/N69775381S?checkoutMode=10"
            },
            {
              "name": "SRC de Compra Cancelada com WhatsApp",
              "value": "=&src=whatsapp-rmkt-compracancelada&email={{ $node[\"Dados do Cancelamento\"].json[\"E-mail do Cliente\"] }}&phonenumber={{ $node[\"Dados do Cancelamento\"].json[\"Telefone do Cliente\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b68e6f5b-89b8-48ef-aa46-bbcbadebec50",
      "name": "Informações do Produto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3760,
        560
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de Compra Cancelada com Desconto",
              "value": "=Vish {{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}! Você quaaaase entrou no Evolua Podologia. 😩\n\nParece que houve um probleminha com seu cartão de crédito, e sua compra foi recusada.\n\nPor isso, recomendo fortemente que entre novamente no checkout, e compre com um outro cartão, Pix, ou Boleto. Afinal, é menos de 1 pizza por mês para estar no maior Curso de Podologia do Brasil! 🤩\n\nSegue o Link do Checkout para você realizar sua compra novamente, {{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}:\n\n{{ $node[\"Informações do Produto\"].json[\"Link do Checkout do Produto com Desconto\"] }}{{ $node[\"Informações do Produto\"].json[\"SRC de Compra Cancelada com WhatsApp\"] }}\n\nPS.: Conto contigo para se manter conosco, {{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}!"
            },
            {
              "name": "Fluxo de Compra Cancelada",
              "value": "1020581"
            }
          ]
        },
        "options": {}
      },
      "id": "075982f9-bbab-40e5-9e37-36b9afc940b4",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3980,
        560
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "Dá desconto para compras canceladas?"
            }
          ]
        },
        "options": {}
      },
      "id": "ce3ae50b-b17d-433d-bee0-fc789a7ab0de",
      "name": "Condições",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3260,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Condições\"].json[\"Dá desconto para compras canceladas?\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "19ba681d-eddc-40b3-89f4-2b17d0b6d284",
      "name": "Dá desconto para compras canceladas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3480,
        700
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link do Checkout do Produto",
              "value": "https://pay.hotmart.com/N69775381S?checkoutMode=10"
            },
            {
              "name": "SRC de Compra Cancelada com WhatsApp",
              "value": "=&src=whatsapp-rmkt-compracancelada&email={{ $node[\"Dados do Cancelamento\"].json[\"E-mail do Cliente\"] }}&phonenumber={{ $node[\"Dados do Cancelamento\"].json[\"Telefone do Cliente\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7006fdf0-b6cf-4e0a-b047-472d867bf523",
      "name": "Informações do Produto1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3760,
        780
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de Compra Cancelada",
              "value": "={{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}, tudo bem? Aqui é a PriGeo.\n\nParece que houve um probleminha com seu cartão de crédito e sua compra foi cancelada.\n\nPor isso, recomendo fortemente que entre novamente no checkout e compre com um outro cartão, Pix ou Boleto. Afinal, é bem menos de 1 pizza por mês para ter acesso a aulas que te mostrarão metodologias e técnicas para encantar seus alunos e transformar você em um professor admirado e reconhecido🤩\n\nSegue o Link do Checkout para você realizar sua compra novamente, {{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados do Cancelamento\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}:\n\n{{ $node[\"Informações do Produto1\"].json[\"Link do Checkout do Produto\"] }}{{ $node[\"Informações do Produto1\"].json[\"SRC de Compra Cancelada com WhatsApp\"] }}\n\nGrande abraço da PriGeo"
            },
            {
              "name": "Fluxo de Compra Cancelada",
              "value": "1020581"
            }
          ]
        },
        "options": {}
      },
      "id": "35188d4e-480a-42c3-a68b-981e76a79d0d",
      "name": "Mensagens1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3980,
        780
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência3\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"Fluxo de Compra Cancelada\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de Compra Cancelada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4200,
        560
      ],
      "id": "b94b1fb2-3d94-457c-984a-673de55c159d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência3\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens1\"].json[\"Fluxo de Compra Cancelada\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de Compra Cancelada1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4200,
        780
      ],
      "id": "6fcef3f7-88da-4008-8812-23bb1266cae9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T21:28:12.912Z",
      "updatedAt": "2024-05-03T21:28:12.912Z",
      "id": "m5bTGP3bXgx0Uhkx",
      "name": "CPJALE"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T22:33:04.883Z",
  "versionId": "19f98f07-6dc7-40a8-8a10-b84334ceaa03"
}