workflows/[PG] - CAC - Compra Completa.json
{
  "active": true,
  "connections": {
    "Dados da Compra": {
      "main": [
        [
          {
            "node": "Verificar DDD>4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compra Completa": {
      "main": [
        [
          {
            "node": "Formatação da Data do Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data do Pedido": {
      "main": [
        [
          {
            "node": "Consulta na Hotmart para Completar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta na Hotmart para Completar Dados": {
      "main": [
        [
          {
            "node": "Nomeia Forma de Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento": {
      "main": [
        [
          {
            "node": "Boleto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cartão de Crédito1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paypal1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nomeia Forma de Pagamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento2": {
      "main": [
        [
          {
            "node": "PIX1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Carteira da Hotmart1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outros1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outros1": {
      "main": [
        [
          {
            "node": "Segue Nomenclatura da Hotmart1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carteira da Hotmart1": {
      "main": [
        [
          {
            "node": "Nomeia Carteira da Hotmart1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX1": {
      "main": [
        [
          {
            "node": "Nomeia PIX1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paypal1": {
      "main": [
        [
          {
            "node": "Nomeia Paypal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartão de Crédito1": {
      "main": [
        [
          {
            "node": "Nomeia Cartão de Crédito1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boleto": {
      "main": [
        [
          {
            "node": "Nomeia Boleto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Boleto1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Cartão de Crédito1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Paypal1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia PIX1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Carteira da Hotmart1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segue Nomenclatura da Hotmart1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp1": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar DDD>4": {
      "main": [
        [
          {
            "node": "Sem nono dígito4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nono dígito4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nono dígito4": {
      "main": [
        [
          {
            "node": "Dados validados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem nono dígito4": {
      "main": [
        [
          {
            "node": "Dados validados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados validados4": {
      "main": [
        [
          {
            "node": "Verificar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência": {
      "main": [
        [
          {
            "node": "Contato existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência": {
      "main": [
        [
          {
            "node": "Condições1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condições1": {
      "main": [
        [
          {
            "node": "Libera conteúdo após a garantia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Libera conteúdo após a garantia": {
      "main": [
        [
          {
            "node": "Faz upsell após o vencimento da garantia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Faz upsell após o vencimento da garantia": {
      "main": [
        [
          {
            "node": "Informações do Produto2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Informações do Produto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto2": {
      "main": [
        [
          {
            "node": "Mensagens2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto3": {
      "main": [
        [
          {
            "node": "Mensagens3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens2": {
      "main": [
        [
          {
            "node": "Enviar Mensagem de Conteúdo Liberado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens3": {
      "main": [
        [
          {
            "node": "Enviar Mensagem de Conteúdo Liberado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem de Conteúdo Liberado1": {
      "main": [
        [
          {
            "node": "Espera 5 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 5 segundos": {
      "main": [
        [
          {
            "node": "Enviar Mensagem de Upsell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T16:18:24.822Z",
  "id": "SvYE9Qk49arf2kmF",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PG] - CAC - Compra Completa",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cac-compra-completa",
        "options": {}
      },
      "id": "bf639b23-006a-48a8-b142-929825313602",
      "name": "Compra Completa",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4100,
        1620
      ],
      "webhookId": "d869b660-0d65-4aab-ad1a-dbf771324582"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Dados da Compra\"].json[\"DDD\"] }}",
              "operation": "larger",
              "value2": 28
            }
          ]
        }
      },
      "name": "Verificar DDD>4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2140,
        1620
      ],
      "id": "40400ceb-e185-42de-9796-df398ffc8d39"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-sem-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Sem nono dígito4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1860,
        1520
      ],
      "id": "0eae65a7-58a9-4506-89a5-01a8d6c7bf6e"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-9) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Nono dígito4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1860,
        1740
      ],
      "id": "c2d33983-b8d1-4ce0-bb76-96450e6ad025"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-formatado",
              "value": "={{ $node[\"Sem nono dígito4\"].runIndex >= 0      ?   $node[\"Sem nono dígito4\"].json[\"whatsapp-sem-nono\"] : $node[\"Nono dígito4\"].json[\"whatsapp-nono\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados validados4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1600,
        1640
      ],
      "id": "a0d45ed6-e8be-438a-8258-174d524d101e"
    },
    {
      "parameters": {
        "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"order_date\"]/1000 }}",
        "dataPropertyName": "Data do Pedido Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "c6f55232-c1f0-4469-853e-a1bc2f232c0d",
      "name": "Formatação da Data do Pedido",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -3880,
        1620
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Produto",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"product\"][\"name\"] }}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"buyer\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"buyer\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"] }}"
            },
            {
              "name": "CPF/CNPJ do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"documents\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "ID da Transação",
              "value": "={{ $item(\"0\").$node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            },
            {
              "name": "Oferta da Compra",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"offer\"][\"code\"] }}"
            },
            {
              "name": "Moeda da Compra",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"original_offer_price\"][\"currency_value\"] }}"
            },
            {
              "name": "Código da Inscrição",
              "value": "={{ $node[\"Compra Completa\"].json && $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] ? $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] : \".\" }}"
            },
            {
              "name": "Plano",
              "value": "={{ $node[\"Compra Completa\"].json && $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] ? $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] : \".\" }}"
            },
            {
              "name": "Forma de Pagamento",
              "value": "={{ $json[\"Nome da Forma de Pagamento\"] }}"
            },
            {
              "name": "Status da Compra",
              "value": "=Completa"
            },
            {
              "name": "DDD",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"].slice(0,2)  }}"
            }
          ],
          "number": [
            {
              "name": "Valor da Compra",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"full_price\"][\"value\"] }}"
            },
            {
              "name": "Data da Compra",
              "value": "={{ $node[\"Formatação da Data do Pedido\"].json[\"Data do Pedido Formatada\"] }}"
            },
            {
              "name": "Comissão Hotmart",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"commissions\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "Número de Parcelas",
              "value": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"installments_number\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "6184ce51-2431-49d9-966b-50edfb7bc09c",
      "name": "Dados da Compra",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2340,
        1620
      ]
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $item(\"0\").$node[\"Formatação da Data do Pedido\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7491e497-f22f-4d1b-bbd5-596eed236ff4",
      "name": "Consulta na Hotmart para Completar Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -3600,
        1620
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "BILLET"
            },
            {
              "value2": "CREDIT_CARD",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "PAYPAL",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "9ec04c23-e926-4841-ba37-c5947f62dd6d",
      "name": "Nomeia Forma de Pagamento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -3320,
        1620
      ]
    },
    {
      "parameters": {},
      "id": "95705e2d-b3ef-436c-bec6-5392865b80fd",
      "name": "Boleto",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3020,
        1380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1000,
        1640
      ],
      "id": "66afdb11-5b5d-4c2d-be5d-6b0fa7ce8511"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados4\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Verificar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1280,
        1640
      ],
      "id": "ce97169d-c403-40c1-beaf-19b1230189e7",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Dados validados4\"].json[\"whatsapp-formatado\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[1] }}"
            }
          ]
        }
      },
      "name": "Cadastrar contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -760,
        1740
      ],
      "id": "a6f26437-84dc-49df-9650-ea202c67e7d4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados4\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -540,
        1620
      ],
      "id": "c459323a-1e14-4194-8284-8aa4cd5270ef",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"Conteúdo liberado após garantia?\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c51f9d07-45c0-4fc2-a729-4dc46e37ac84",
      "name": "Libera conteúdo após a garantia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -20,
        1620
      ]
    },
    {
      "parameters": {},
      "id": "0d2e3fd1-874f-4a24-9774-bafb67b602b4",
      "name": "Não faça nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        260,
        1640
      ]
    },
    {
      "parameters": {
        "content": "## Preencher este Node 👇🏻\n\n## Se fizer upsell, colocar link do checkout do produto de upsell aqui\n\n## Caso seja uma oferta de upsell diferente da oferta padrão, lembre-se de coolocar o link do checkout desta oferta",
        "height": 683.1925581395351,
        "width": 195.00515995872038
      },
      "id": "8db9c52b-f69f-4abe-8c40-4b5fd44c75d6",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Preencher este Node 👇🏻\n\n## Se fizer upsell, coloque a mensagem de upsell aqui neste Node",
        "height": 683.1925581395351,
        "width": 195.00515995872038
      },
      "id": "6a75d97e-6da6-494a-90d0-8e5bc0af5669",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"Faz upsell após garantia?\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "f7977835-fb43-402c-954b-188ffe8a6ad5",
      "name": "Faz upsell após o vencimento da garantia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        260,
        1400
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Mensagens3\"].json[\"Mensagem de Liberação de Conteúdo\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Conteúdo Liberado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        960,
        1440
      ],
      "id": "8ea1f859-81fc-412f-8658-18ce36c467ff",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Mensagens2\"].json[\"Mensagem de Liberação de Conteúdo\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Conteúdo Liberado1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        960,
        1220
      ],
      "id": "c2685b24-75ec-4b47-8ea3-867e773b3ff1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Mensagens2\"].json[\"Mensagem de Upsell\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Upsell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1400,
        1220
      ],
      "id": "c3041dc1-9b3a-4a69-82e9-6b1ff25ce140",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "dc787887-d07c-498e-9c50-d640d58d69fc",
      "name": "Espera 5 segundos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1180,
        1220
      ],
      "webhookId": "e711f617-1d01-49a5-a440-04533df3c012"
    },
    {
      "parameters": {},
      "id": "986c599b-7557-44b3-9bc8-b98c888d56fc",
      "name": "Cartão de Crédito1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3020,
        1560
      ]
    },
    {
      "parameters": {},
      "id": "97ec3c80-3d28-4e17-ace2-41c94a7c0f08",
      "name": "Paypal1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3020,
        1760
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Compra Completa\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "PIX"
            },
            {
              "value2": "WALLET",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "89b70428-9ace-4b8f-b5ba-8b738875d6ff",
      "name": "Nomeia Forma de Pagamento2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -3160,
        2040
      ]
    },
    {
      "parameters": {},
      "id": "d8f8336d-0394-4c1d-951c-df15af7641b9",
      "name": "PIX1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2840,
        1940
      ]
    },
    {
      "parameters": {},
      "id": "c69c1346-dfec-4889-a492-e2fdfc4c24cb",
      "name": "Carteira da Hotmart1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2840,
        2140
      ]
    },
    {
      "parameters": {},
      "id": "9eb5b010-0eef-414a-bd05-ee6ec9a6df99",
      "name": "NoOp1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2840,
        2320
      ]
    },
    {
      "parameters": {},
      "id": "13e9a9e3-655d-4e06-8db4-ed19e6f0b071",
      "name": "Outros1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2840,
        2500
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Boleto"
            }
          ]
        },
        "options": {}
      },
      "id": "9c9a0874-84f5-4591-affc-a855f0f8b792",
      "name": "Nomeia Boleto1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2800,
        1380
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Cartão de Crédito"
            }
          ]
        },
        "options": {}
      },
      "id": "6053acea-5e03-4df6-9830-994e15b4a947",
      "name": "Nomeia Cartão de Crédito1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2800,
        1560
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Paypal"
            }
          ]
        },
        "options": {}
      },
      "id": "b029c073-235c-43b6-b89f-2fe93c186731",
      "name": "Nomeia Paypal1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2800,
        1760
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "PIX"
            }
          ]
        },
        "options": {}
      },
      "id": "48e609b0-d025-4d49-b967-28770a974e7b",
      "name": "Nomeia PIX1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2620,
        1940
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Carteira da Hotmart"
            }
          ]
        },
        "options": {}
      },
      "id": "f52188aa-0786-42be-b779-83088939b19b",
      "name": "Nomeia Carteira da Hotmart1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2620,
        2140
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "={{ $item(\"0\").$node[\"Consulta na Hotmart para Completar Dados\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "259ac033-9819-43e9-b5f0-0ec50e1492a6",
      "name": "Segue Nomenclatura da Hotmart1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2620,
        2500
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link da Área de Membros"
            },
            {
              "name": "Link do Checkout do Upsell"
            }
          ]
        },
        "options": {}
      },
      "id": "d0524a3e-0238-4ef0-8dd6-d77241fcc7bc",
      "name": "Informações do Produto2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        520,
        1220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de Liberação de Conteúdo",
              "value": "={{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}, passando para te avisar que já temos conteúdo novo do Brocas na Podologia - Sistema S.I.P te esperando na plataforma.\n\nAcompanhe por lá nosso cronograma de liberação de aulas. Você já pode acessá-los agora mesmo se quiser. Basta apertar no link abaixo:\n\n{{ $node[\"Informações do Produto2\"].json[\"Link da Área de Membros\"] }}\n\nAbraços, time Alê Nogueira."
            },
            {
              "name": "Mensagem de Upsell",
              "value": "={{ $node[\"Informações do Produto2\"].json[\"Link do Checkout do Upsell\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a74e4a8c-3124-4783-8741-0f0761b7f583",
      "name": "Mensagens2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        1220
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "Conteúdo liberado após garantia?"
            },
            {
              "name": "Faz upsell após garantia?"
            }
          ]
        },
        "options": {}
      },
      "id": "998548f1-bca7-46a8-b350-52bbf768b5cd",
      "name": "Condições1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -240,
        1620
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link da Área de Membros"
            }
          ]
        },
        "options": {}
      },
      "id": "9aeef32f-f60d-4fec-a311-3a1777c00572",
      "name": "Informações do Produto3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        520,
        1440
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de Liberação de Conteúdo",
              "value": "={{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}, passando para te avisar que já temos conteúdo novo do Brocas na Podologia - Sistema S.I.P te esperando na plataforma.\n\nAcompanhe por lá nosso cronograma de liberação de aulas. Você já pode acessá-los agora mesmo se quiser. Basta apertar no link abaixo:\n\n{{ $node[\"Informações do Produto3\"].json[\"Link da Área de Membros\"] }}\n\nAbraços, time Alê Nogueira."
            }
          ]
        },
        "options": {}
      },
      "id": "09dc96ce-b6dd-4f21-9e8b-f5185c18f4f1",
      "name": "Mensagens3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        1440
      ]
    },
    {
      "parameters": {
        "content": "## Validado"
      },
      "id": "44b75cad-fbbc-45fe-989a-ae847e571b71",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        1420
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T20:28:36.184Z",
      "updatedAt": "2024-05-03T20:28:36.184Z",
      "id": "bRtm2Z82v16aBvCU",
      "name": "CAC"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T20:31:12.198Z",
  "versionId": "695b0aa8-19f8-4527-8c9d-0884df312aa0"
}