workflows/[PG] - EVAC - Carrinho Abandonado.json
{
  "active": true,
  "connections": {
    "Carrinho Abandonado": {
      "main": [
        [
          {
            "node": "Formatação da Data de Abandono do Carrinho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados do Carrinho Abandonado": {
      "main": [
        [
          {
            "node": "Atualiza BD - Carrinho Abandonado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar DDD>28": {
      "main": [
        [
          {
            "node": "Sem nono dígito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nono dígito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem nono dígito": {
      "main": [
        [
          {
            "node": "Dados validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nono dígito": {
      "main": [
        [
          {
            "node": "Dados validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados validados": {
      "main": [
        [
          {
            "node": "Verificar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência": {
      "main": [
        [
          {
            "node": "Contato existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência": {
      "main": [
        [
          {
            "node": "Informações do Produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza BD - Carrinho Abandonado": {
      "main": [
        [
          {
            "node": "Verificar DDD>28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Enviar Fluxo de Carrinho Abandonado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data de Abandono do Carrinho": {
      "main": [
        [
          {
            "node": "Dados do Carrinho Abandonado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T17:46:40.862Z",
  "id": "UtWKphLmBVBAdqWZ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PG] - EVAC - Carrinho Abandonado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evac-carrinho-abandonado",
        "options": {}
      },
      "id": "ec06c56b-c54a-4f39-97a1-6e5073bff14e",
      "name": "Carrinho Abandonado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -760,
        720
      ],
      "webhookId": "0f683ed4-b690-43d6-b147-7a128f94e953"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Produto",
              "value": "={{ $json[\"body\"][\"data\"][\"product\"][\"name\"] }}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $json[\"body\"][\"data\"][\"buyer\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $json[\"body\"][\"data\"][\"buyer\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente",
              "value": "={{ $json[\"body\"][\"data\"][\"buyer\"][\"phone\"] }}"
            },
            {
              "name": "DDD",
              "value": "={{ $json[\"body\"][\"data\"][\"buyer\"][\"phone\"].slice(2,4) }}"
            },
            {
              "name": "Data de Abandono do Carrinho",
              "value": "={{ $json[\"Data de Abandono do Carrinho\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "e00ced33-6618-420b-a2bc-d7894e3e6367",
      "name": "Dados do Carrinho Abandonado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -320,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $item(\"0\").$node[\"Dados do Carrinho Abandonado\"].json[\"DDD\"] }}",
              "operation": "larger",
              "value2": 28
            }
          ]
        }
      },
      "name": "Verificar DDD>28",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        720
      ],
      "id": "a5a3c936-3119-4193-9eeb-8de522dde6ea"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-sem-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Sem nono dígito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "id": "7bab3920-2d87-4d90-bd1e-3f598326e833"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-9) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Nono dígito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        740
      ],
      "id": "e5065ce2-7994-4966-bc9a-55ac85f853ee"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-formatado",
              "value": "={{ $node[\"Sem nono dígito\"].runIndex >= 0      ?   $node[\"Sem nono dígito\"].json[\"whatsapp-sem-nono\"] : $node[\"Nono dígito\"].json[\"whatsapp-nono\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados validados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        780,
        740
      ],
      "id": "767d73a4-211d-48a8-80c4-8b87f3c39d04"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Verificar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1040,
        740
      ],
      "id": "55e28c83-65d4-4ab9-8e49-0a05fa3ebdc1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        740
      ],
      "id": "4bd410a0-9969-42a1-a5bc-a5d9d04801a9"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Dados do Carrinho Abandonado\"].json[\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Dados do Carrinho Abandonado\"].json[\"Nome do Cliente\"].split(' ')[1] }}"
            }
          ]
        }
      },
      "name": "Cadastrar contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1560,
        840
      ],
      "id": "0fae2453-d31f-492e-b117-5889980a255d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1780,
        720
      ],
      "id": "f9e76dd2-c890-41fc-82e9-6707100ad072",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 308595670,
          "mode": "list",
          "cachedResultName": "[Geral] - Carrinhos Abandonados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo/edit#gid=308595670"
        },
        "columnToMatchOn": "TELEFONE",
        "valueToMatchOn": "={{ $item(\"0\").$node[\"Dados do Carrinho Abandonado\"].json[\"Telefone do Cliente\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "NOME",
              "fieldValue": "={{ $item(\"0\").$node[\"Dados do Carrinho Abandonado\"].json[\"Nome do Cliente\"] }}"
            },
            {
              "column": "E-MAIL",
              "fieldValue": "={{ $item(\"0\").$node[\"Dados do Carrinho Abandonado\"].json[\"E-mail do Cliente\"] }}"
            },
            {
              "column": "STATUS DA COMPRA",
              "fieldValue": "=Carrinho Abandonado"
            },
            {
              "column": "DATA DE ABANDONO DO CARRINHO",
              "fieldValue": "={{ $node[\"Dados do Carrinho Abandonado\"].json[\"Data de Abandono do Carrinho\"] }}"
            },
            {
              "column": "PRODUTO",
              "fieldValue": "={{ $node[\"Dados do Carrinho Abandonado\"].json[\"Nome do Produto\"] }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "d95884d9-2d5a-42e8-879e-f61f3b469553",
      "name": "Atualiza BD - Carrinho Abandonado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -80,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "renLSoeRurwGxrLn",
          "name": "[PRIGEO] - Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"ID do Flow de Carrinho Abandonado\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de Carrinho Abandonado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2460,
        720
      ],
      "id": "2fcae0e0-e56a-468b-ad87-8feb6dc39789",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID do Flow de Carrinho Abandonado",
              "value": "1011426"
            }
          ]
        },
        "options": {}
      },
      "id": "be50de29-df92-47c4-a3ec-072e6707e39e",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2240,
        720
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link do Checkout do Produto",
              "value": "https://pay.hotmart.com/K53972940R?checkoutMode=10"
            },
            {
              "name": "SRC de Carrinho Abandonado com WhatsApp",
              "value": "=&src=whatsapp-rmkt-carrinhoabandonado&email={{ $node[\"Dados do Carrinho Abandonado\"].json[\"E-mail do Cliente\"] }}&phonenumber={{ $node[\"Dados do Carrinho Abandonado\"].json[\"Telefone do Cliente\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a4459889-d49d-4848-8385-ec821ba24fb0",
      "name": "Informações do Produto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2020,
        720
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"body\"][\"creation_date\"]/1000 }}",
        "dataPropertyName": "Data de Abandono do Carrinho",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "25b391e9-64e3-4d6b-a5d1-0d3d66e7579b",
      "name": "Formatação da Data de Abandono do Carrinho",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -540,
        720
      ]
    },
    {
      "parameters": {
        "content": "## Validado ☝🏻",
        "width": 695.7680983240223
      },
      "id": "bf24caa6-effe-4737-b9aa-5642ae64e8e0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1980,
        920
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T22:34:22.364Z",
      "updatedAt": "2024-05-03T22:34:22.364Z",
      "id": "Ar5BrylIqWO3iiTZ",
      "name": "EVAC"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T22:42:56.963Z",
  "versionId": "0338a64f-0955-4177-a3a9-a2d681d424b3"
}