workflows/[PG] - TABUADA - Aguardando Pagamento.json
{
  "active": true,
  "connections": {
    "Verificar DDD>1": {
      "main": [
        [
          {
            "node": "Sem nono dígito1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nono dígito1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?1": {
      "main": [
        [
          {
            "node": "Buscar na audiência1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar contato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem nono dígito1": {
      "main": [
        [
          {
            "node": "Dados validados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nono dígito1": {
      "main": [
        [
          {
            "node": "Dados validados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados validados1": {
      "main": [
        [
          {
            "node": "Verificar na audiência1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência1": {
      "main": [
        [
          {
            "node": "Contato existe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato1": {
      "main": [
        [
          {
            "node": "Buscar na audiência1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência1": {
      "main": [
        [
          {
            "node": "É Boleto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Boleto?": {
      "main": [
        [
          {
            "node": "Boleto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É PIX?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boleto": {
      "main": [
        [
          {
            "node": "Adiciona Linha Digitavel do Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX": {
      "main": [
        [
          {
            "node": "Adiciona Linha Digitavel do PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É PIX?": {
      "main": [
        [
          {
            "node": "PIX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Faça Nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados da Compra": {
      "main": [
        [
          {
            "node": "Atualiza BD - Aguardando Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Usuários na Hotmart": {
      "main": [
        [
          {
            "node": "Nomeia Forma de Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data do Pedido": {
      "main": [
        [
          {
            "node": "Consulta Venda na Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Venda na Hotmart": {
      "main": [
        [
          {
            "node": "Consulta Usuários na Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento": {
      "main": [
        [
          {
            "node": "Boleto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cartão de Crédito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paypal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nomeia Forma de Pagamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartão de Crédito": {
      "main": [
        [
          {
            "node": "Nomeia Cartão de Crédito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paypal": {
      "main": [
        [
          {
            "node": "Nomeia Paypal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento1": {
      "main": [
        [
          {
            "node": "PIX1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Carteira da Hotmart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carteira da Hotmart": {
      "main": [
        [
          {
            "node": "Nomeia Carteira da Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outros": {
      "main": [
        [
          {
            "node": "Segue Nomenclatura da Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Boleto": {
      "main": [
        [
          {
            "node": "É Boleto?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Cartão de Crédito": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Paypal": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia PIX": {
      "main": [
        [
          {
            "node": "É Boleto?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Carteira da Hotmart": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segue Nomenclatura da Hotmart": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boleto1": {
      "main": [
        [
          {
            "node": "Nomeia Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX1": {
      "main": [
        [
          {
            "node": "Nomeia PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Boleto?1": {
      "main": [
        [
          {
            "node": "Status de Boleto Gerado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status de PIX Gerado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status de Boleto Gerado": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status de PIX Gerado": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza BD - Aguardando Pagamento": {
      "main": [
        [
          {
            "node": "Verificar DDD>1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Enviar Fluxo de Boleto Gerado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Linha Digitavel do Boleto": {
      "main": [
        [
          {
            "node": "Adiciona Link do Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Link do Boleto": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens1": {
      "main": [
        [
          {
            "node": "Enviar Fluxo de PIX Gerado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Linha Digitavel do PIX": {
      "main": [
        [
          {
            "node": "Adiciona Link do PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Link do PIX": {
      "main": [
        [
          {
            "node": "Mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardando Pagamento": {
      "main": [
        [
          {
            "node": "Formatação da Data do Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-03T19:15:43.781Z",
  "id": "AOROMj6LAzpnVd6r",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PG] - TABUADA - Aguardando Pagamento",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Dados da Compra\"].json[\"DDD\"] }}",
              "operation": "larger",
              "value2": 28
            }
          ]
        }
      },
      "name": "Verificar DDD>1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1160,
        760
      ],
      "id": "8a5b09a0-a725-484f-a408-0b94daa40002"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2280,
        780
      ],
      "id": "7a08f670-f5db-4cf3-a1ff-f6e481778b88"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-sem-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Sem nono dígito1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1420,
        540
      ],
      "id": "806547c7-fd77-4c48-afe5-f47a2e69801f"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-9) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Nono dígito1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1420,
        780
      ],
      "id": "d9ae0753-1941-4f25-9b60-a6f47a9d4b4b"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-formatado",
              "value": "={{ $node[\"Sem nono dígito1\"].runIndex >= 0      ?   $node[\"Sem nono dígito1\"].json[\"whatsapp-sem-nono\"] : $node[\"Nono dígito1\"].json[\"whatsapp-nono\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados validados1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1740,
        780
      ],
      "id": "302eb5df-7147-46ba-8b3c-dd83565f6c6d"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados1\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Verificar na audiência1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2000,
        780
      ],
      "id": "631107cc-7250-440c-b0d3-f5c7bd213a4f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Dados validados1\"].json[\"whatsapp-formatado\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[1] }}"
            }
          ]
        }
      },
      "name": "Cadastrar contato1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2520,
        880
      ],
      "id": "b27c5d63-e609-47b2-aeea-14890834544d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados1\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2740,
        760
      ],
      "id": "ba7c3073-cbcd-49b9-8f6b-c50228d67bd7",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
              "value2": "BILLET"
            }
          ]
        }
      },
      "id": "defe5e7b-93d0-4389-8d72-746d322b5708",
      "name": "É Boleto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2960,
        760
      ]
    },
    {
      "parameters": {},
      "id": "f07846a9-81b4-40af-8931-18cc56700482",
      "name": "Boleto",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3220,
        740
      ]
    },
    {
      "parameters": {},
      "id": "398d716e-fe6c-4e65-a70f-5c6d62e136aa",
      "name": "PIX",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3380,
        1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"type\"] }}",
              "value2": "PIX"
            }
          ]
        }
      },
      "id": "1a71fcbf-a7f0-4e06-be4c-787e82aad346",
      "name": "É PIX?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3120,
        1040
      ]
    },
    {
      "parameters": {},
      "id": "8570d01f-cf72-4ce1-a65d-e3d544fac07b",
      "name": "Não Faça Nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3380,
        1260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Produto",
              "value": "={{ $json[\"items\"][\"0\"][\"product\"][\"name\"] }}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"] }}"
            },
            {
              "name": "CPF/CNPJ do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"documents\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "ID da Transação",
              "value": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            },
            {
              "name": "Oferta da Compra",
              "value": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"offer\"][\"code\"] }}"
            },
            {
              "name": "Moeda da Compra",
              "value": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"original_offer_price\"][\"currency_value\"] }}"
            },
            {
              "name": "Código da Inscrição",
              "value": "={{ $node[\"Aguardando Pagamento\"].json && $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] ? $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] : \".\" }}"
            },
            {
              "name": "Plano",
              "value": "={{ $node[\"Aguardando Pagamento\"].json && $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] ? $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] : \".\" }}"
            },
            {
              "name": "Forma de Pagamento",
              "value": "={{ $json[\"Nome da Forma de Pagamento\"] }}"
            },
            {
              "name": "Status da Compra",
              "value": "={{ $node[\"Status de Boleto Gerado\"].runIndex >= 0      ?   $node[\"Status de Boleto Gerado\"].json[\"Status\"] : $node[\"Status de PIX Gerado\"].json[\"Status\"] }}"
            },
            {
              "name": "DDD",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"].slice(0,2)  }}"
            },
            {
              "name": "Link do PIX",
              "value": "={{ $item(\"0\").$node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"pix_qrcode\"] }}"
            },
            {
              "name": "Linha Digitável do PIX",
              "value": "={{ $item(\"0\").$node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"pix_code\"] }}"
            },
            {
              "name": "Link do Boleto",
              "value": "={{ $node[\"Aguardando Pagamento\"].json && $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"billet_url\"] ? $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"billet_url\"] : \".\" }}"
            },
            {
              "name": "Linha Digitável do Boleto",
              "value": "={{ $node[\"Aguardando Pagamento\"].json && $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"billet_barcode\"] ? $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"billet_barcode\"] : \".\" }}"
            }
          ],
          "number": [
            {
              "name": "Valor da Compra",
              "value": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"full_price\"][\"value\"] }}"
            },
            {
              "name": "Data da Compra",
              "value": "={{ $node[\"Formatação da Data do Pedido\"].json[\"Data do Pedido Formatada\"] }}"
            },
            {
              "name": "Comissão Hotmart",
              "value": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"commissions\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "Número de Parcelas",
              "value": "={{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"installments_number\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "56b361c1-fc4c-4502-9cb1-0dfa67ed9d34",
      "name": "Dados da Compra",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        760,
        760
      ]
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $item(\"0\").$node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e6efa8fa-b09e-4d61-be16-f1afe7e78ef7",
      "name": "Consulta Usuários na Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -820,
        760
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"order_date\"]/1000 }}",
        "dataPropertyName": "Data do Pedido Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "7abfa627-c649-4450-a2c2-df301be468e9",
      "name": "Formatação da Data do Pedido",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -1280,
        760
      ]
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/history",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a54db69c-cee2-4ab5-babb-22ef787c7aeb",
      "name": "Consulta Venda na Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1060,
        760
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "BILLET"
            },
            {
              "value2": "CREDIT_CARD",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "PAYPAL",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "7728c201-9625-44da-89cb-762fb9de26b5",
      "name": "Nomeia Forma de Pagamento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -580,
        760
      ]
    },
    {
      "parameters": {},
      "id": "9f4da2c4-4b0f-4908-bf67-bf1c025ef8e3",
      "name": "Cartão de Crédito",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -280,
        700
      ]
    },
    {
      "parameters": {},
      "id": "07bcd3d8-e2c7-4c7f-a550-a478e654ae4f",
      "name": "Paypal",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -280,
        900
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "PIX"
            },
            {
              "value2": "WALLET",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "b9351a30-278d-4d37-bfdc-62b43d7abbd4",
      "name": "Nomeia Forma de Pagamento1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -420,
        1180
      ]
    },
    {
      "parameters": {},
      "id": "4ff19071-34f0-479b-9239-ea00eb81ee43",
      "name": "Carteira da Hotmart",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -100,
        1280
      ]
    },
    {
      "parameters": {},
      "id": "a0fa6f0d-b593-4320-bf68-707f8c9bb905",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -100,
        1460
      ]
    },
    {
      "parameters": {},
      "id": "8dfdd55f-7288-4d0c-a252-20792e3a7965",
      "name": "Outros",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -100,
        1640
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Boleto"
            }
          ]
        },
        "options": {}
      },
      "id": "6658a3a3-0f69-4d05-a332-9ed4123b7494",
      "name": "Nomeia Boleto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -60,
        520
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Cartão de Crédito"
            }
          ]
        },
        "options": {}
      },
      "id": "0c32564c-d4f6-4b47-b776-5961ac68610f",
      "name": "Nomeia Cartão de Crédito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -60,
        700
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Paypal"
            }
          ]
        },
        "options": {}
      },
      "id": "b267c2a3-abc4-40a1-9211-f40208e1cb90",
      "name": "Nomeia Paypal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -60,
        900
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "PIX"
            }
          ]
        },
        "options": {}
      },
      "id": "e0a3502b-db16-4ac2-bc18-884f757b73d6",
      "name": "Nomeia PIX",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        120,
        1080
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Carteira da Hotmart"
            }
          ]
        },
        "options": {}
      },
      "id": "6bb0e998-250b-4353-ad13-acac52220d6a",
      "name": "Nomeia Carteira da Hotmart",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        120,
        1280
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e8530be8-7847-4a32-b01b-c30753ff46eb",
      "name": "Segue Nomenclatura da Hotmart",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        120,
        1640
      ]
    },
    {
      "parameters": {},
      "id": "f9752710-8ca9-4a56-a033-cc911a116d45",
      "name": "Boleto1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -280,
        520
      ]
    },
    {
      "parameters": {},
      "id": "59370f18-88b4-4a93-8780-fd8b5e84172c",
      "name": "PIX1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -100,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $item(\"0\").$node[\"Nomeia PIX\"].runIndex >= 0      ?   $item(\"0\").$node[\"Nomeia PIX\"].json[\"Nome da Forma de Pagamento\"] : $item(\"0\").$node[\"Nomeia Boleto\"].json[\"Nome da Forma de Pagamento\"]}}",
              "value2": "Boleto"
            }
          ]
        }
      },
      "id": "e5ca589d-9f10-4d90-b93a-4e757f710c9b",
      "name": "É Boleto?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        260,
        560
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Status",
              "value": "Boleto Gerado"
            }
          ]
        },
        "options": {}
      },
      "id": "2a23f128-602b-4276-9761-75970ae8bc0a",
      "name": "Status de Boleto Gerado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Status",
              "value": "PIX Gerado"
            }
          ]
        },
        "options": {}
      },
      "id": "e7d15d9b-c57d-4199-82fb-2a9ddecdb2ae",
      "name": "Status de PIX Gerado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        640
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 291317753,
          "mode": "list",
          "cachedResultName": "[Geral] - Aguardando Pagamento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo/edit#gid=291317753"
        },
        "columnToMatchOn": "ID DA TRANSAÇÃO",
        "valueToMatchOn": "={{ $json[\"ID da Transação\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DA COMPRA",
              "fieldValue": "={{ $json[\"Data da Compra\"] }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json[\"Nome do Cliente\"] }}"
            },
            {
              "column": "E-MAIL",
              "fieldValue": "={{ $json[\"E-mail do Cliente\"] }}"
            },
            {
              "column": "CÓDIGO DO ASSINANTE",
              "fieldValue": "={{ $json[\"Código da Inscrição\"] }}"
            },
            {
              "column": "OFERTA DA COMPRA",
              "fieldValue": "={{ $json[\"Oferta da Compra\"] }}"
            },
            {
              "column": "COMISSÃO GATEWAY",
              "fieldValue": "={{ $json[\"Comissão Hotmart\"] }}"
            },
            {
              "column": "PLANO",
              "fieldValue": "={{ $json[\"Plano\"] }}"
            },
            {
              "column": "VALOR DA COMPRA",
              "fieldValue": "={{ $json[\"Valor da Compra\"] }}"
            },
            {
              "column": "MOEDA DA COMPRA",
              "fieldValue": "={{ $json[\"Moeda da Compra\"] }}"
            },
            {
              "column": "FORMA DE PAGAMENTO",
              "fieldValue": "={{ $json[\"Forma de Pagamento\"] }}"
            },
            {
              "column": "NÚMERO DE PARCELAS",
              "fieldValue": "={{ $json[\"Número de Parcelas\"] }}"
            },
            {
              "column": "STATUS DA COMPRA",
              "fieldValue": "={{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Status\"] }}"
            },
            {
              "column": "CPF/CNPJ",
              "fieldValue": "={{ $json[\"CPF/CNPJ do Cliente\"] }}"
            },
            {
              "column": "PRODUTO",
              "fieldValue": "={{     $json[\"Nome do Produto\"]     }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{     $json[\"Telefone do Cliente\"]     }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4328c3d7-00bc-4c00-929c-ec666c8a6913",
      "name": "Atualiza BD - Aguardando Pagamento",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        960,
        760
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "renLSoeRurwGxrLn",
          "name": "[PRIGEO] - Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de Boleto Gerado",
              "value": "=Parabéns, {{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}! Você acaba de dar seu primeiro passo para ter acesso ao melhor kit de atividades e jogos prontos para se usar na sala de aula!\n\nSó falta você finalizar o pagamento do seu Boleto 🥰\n\nVou deixar aqui o Link de Pagamento do seu Boleto e a Linha Digitável, para que você consiga realizar o pagamento:\n\nLink de Pagamento: {{ $item(\"0\").$node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"billet_url\"] }}\n\nLinha Digitável: {{ $item(\"0\").$node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"billet_barcode\"] }}\n\nPS.: O prazo de compensação do pagamento é de 72h\n\nAbraços, PriGeo"
            },
            {
              "name": "Fluxo de Boleto Gerado",
              "value": "1514782"
            }
          ]
        },
        "options": {}
      },
      "id": "51a00e48-b4f6-4892-8ec8-23558063e94b",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3880,
        740
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência1\"].json[\"id\"] }}/custom_fields/919305/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Linha Digitável do Boleto\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona Linha Digitavel do Boleto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3440,
        740
      ],
      "id": "7f90ef5f-7ba4-4f47-8d92-5b8c226e4b65",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência1\"].json[\"id\"] }}/custom_fields/919306/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Link do Boleto\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona Link do Boleto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3660,
        740
      ],
      "id": "769acc90-0767-4168-bbe1-098e69867653",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência1\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"Fluxo de Boleto Gerado\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de Boleto Gerado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4100,
        740
      ],
      "id": "bcde5e46-6477-4806-809f-f5934dd5649d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de PIX Gerado",
              "value": "=Parabéns, {{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}! Você acaba de dar seu primeiro passo para ter acesso ao melhor kit de atividades e jogos prontos para se usar na sala de aula!\n\nSó falta você finalizar o pagamento do seu PIX para acessar esse material que tem encantado professores e alunos por todo o Brasil\n\nVou deixar aqui o Link de Pagamento do seu PIX, e a Linha Digitável, para que você consiga realizar o pagamento:\n\nLink de Pagamento: {{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"pix_qrcode\"] }}\n\nLinha Digitável: {{ $node[\"Aguardando Pagamento\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"pix_code\"] }}\n\nPS.: Após o pagamento, você receberá no seu e-mail {{ $item(\"0\").$node[\"Dados da Compra\"].json[\"E-mail do Cliente\"] }} as informações de acesso ao {{     $node[\"Dados da Compra\"].json[\"Nome do Produto\"]     }}.\n\nAbraços, PriGeo"
            },
            {
              "name": "Fluxo de PIX Gerado",
              "value": "1514783"
            }
          ]
        },
        "options": {}
      },
      "id": "015dea75-3ff0-46b1-96eb-39f4b5547068",
      "name": "Mensagens1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4040,
        1020
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência1\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens1\"].json[\"Fluxo de PIX Gerado\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de PIX Gerado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4240,
        1020
      ],
      "id": "6d5ec904-5f36-488e-ae89-7dc67907dc2c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência1\"].json[\"id\"] }}/custom_fields/919310/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Linha Digitável do PIX\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona Linha Digitavel do PIX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3600,
        1020
      ],
      "id": "5ca07f3f-fc15-4330-889b-626fcfc7d4c1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência1\"].json[\"id\"] }}/custom_fields/919309/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Link do PIX\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona Link do PIX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3820,
        1020
      ],
      "id": "5754b04c-5932-4da8-ad39-059c47a6484b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tabuada-aguardando-pagamento",
        "options": {}
      },
      "id": "c20601f8-5401-4ccf-8e63-fc91ee828454",
      "name": "Aguardando Pagamento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1520,
        760
      ],
      "webhookId": "97c2a460-17f2-4ab4-a819-839bdcec2aa3"
    }
  ],
  "pinData": {
    "Aguardando Pagamento": [
      {
        "json": {
          "headers": {
            "host": "webhook.prigeo.com.br",
            "user-agent": "Jodd HTTP",
            "content-length": "1540",
            "content-type": "application/json",
            "x-forwarded-for": "3.237.21.135",
            "x-forwarded-host": "webhook.prigeo.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "65bf580ce34d",
            "x-hotmart-hottok": "C0M0zxU3tOxl79rtObW21JucfNTfa006c2cecc-32a6-4356-b7a6-4327bf1cd88c",
            "x-real-ip": "3.237.21.135",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "has_co_production": true,
                "name": "Kit Tabuada Prigeo: jogos e atividades lúdicas",
                "id": 2851846,
                "ucode": "1e38eb60-b778-47b7-91ec-0d922a5115fc"
              },
              "commissions": [
                {
                  "currency_value": "BRL",
                  "source": "MARKETPLACE",
                  "value": 7.85
                },
                {
                  "currency_value": "BRL",
                  "source": "PRODUCER",
                  "value": 41.49
                }
              ],
              "purchase": {
                "offer": {
                  "code": "iyl5g0np"
                },
                "order_date": 1716230591000,
                "original_offer_price": {
                  "currency_value": "BRL",
                  "value": 77
                },
                "subscription_anticipation_purchase": false,
                "price": {
                  "currency_value": "BRL",
                  "value": 77
                },
                "checkout_country": {
                  "iso": "BR",
                  "name": "Brasil"
                },
                "order_bump": {
                  "is_order_bump": false
                },
                "payment": {
                  "pix_qrcode": "https://customer-local-latam.ebanx.com/pix/checkout?hash=664b99bf96f6156b6f23702453e9866097a193db353bc107",
                  "pix_expiration_date": 1716403392000,
                  "installments_number": 1,
                  "type": "PIX",
                  "pix_code": "00020101021226740014br.gov.bcb.pix2552pix.ebanx.com/qr/v2/0B2412D00006AD53E20978DB8CAFC7585204000053039865802BR5924Launch Pad Tecnologia Se6014BELO HORIZONTE62070503***63041FED"
                },
                "full_price": {
                  "currency_value": "BRL",
                  "value": 77
                },
                "invoice_by": "HOTMART",
                "transaction": "HP3850211291",
                "status": "BILLET_PRINTED"
              },
              "affiliates": [
                {
                  "affiliate_code": "",
                  "name": ""
                }
              ],
              "producer": {
                "name": "Prigeo Ensino e Tecnologia"
              },
              "buyer": {
                "address": {
                  "country": "Brasil",
                  "country_iso": "BR"
                },
                "document": "81092954287",
                "name": "Jovanderson dos s Rodrigues",
                "checkout_phone": "91992508612",
                "email": "jovandersonrodrigues@hotmail.com"
              }
            },
            "id": "a4e2641b-6f62-4ff7-b54f-c254a6946680",
            "creation_date": 1716230596044,
            "event": "PURCHASE_BILLET_PRINTED",
            "version": "2.0.0"
          },
          "webhookUrl": "https://webhook.prigeo.com.br/webhook/tabuada-aguardando-pagamento",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T20:05:33.257Z",
      "updatedAt": "2024-05-03T20:05:33.257Z",
      "id": "1RzcPkfrhtHE1fUx",
      "name": "TABUADA"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-22T18:20:30.249Z",
  "versionId": "08132493-2d27-458c-802e-e53d085f65f3"
}