workflows/[PG] - KMJAP - Compra Aprovada.json
{
  "active": true,
  "connections": {
    "Compra Aprovada": {
      "main": [
        [
          {
            "node": "Formatação da Data do Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados da Compra 1": {
      "main": [
        [
          {
            "node": "Atualiza BD - Compra Aprovada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data do Pedido": {
      "main": [
        [
          {
            "node": "Consulta Venda na Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar DDD>": {
      "main": [
        [
          {
            "node": "Sem nono dígito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nono dígito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem nono dígito": {
      "main": [
        [
          {
            "node": "Dados validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nono dígito": {
      "main": [
        [
          {
            "node": "Dados validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados validados": {
      "main": [
        [
          {
            "node": "Verificar na audiência",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tem Manychat no SRC?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência": {
      "main": [
        [
          {
            "node": "Contato existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência": {
      "main": [
        [
          {
            "node": "Informações do Produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Venda na Hotmart": {
      "main": [
        [
          {
            "node": "Formatação da Data da Garantia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Users na Hotmart": {
      "main": [
        [
          {
            "node": "Nomeia Forma de Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data da Garantia": {
      "main": [
        [
          {
            "node": "Consulta Users na Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento": {
      "main": [
        [
          {
            "node": "Boleto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cartão de Crédito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paypal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nomeia Forma de Pagamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boleto": {
      "main": [
        [
          {
            "node": "Nomeia Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartão de Crédito": {
      "main": [
        [
          {
            "node": "Nomeia Cartão de Crédito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paypal": {
      "main": [
        [
          {
            "node": "Nomeia Paypal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Forma de Pagamento1": {
      "main": [
        [
          {
            "node": "PIX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Carteira da Hotmart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX": {
      "main": [
        [
          {
            "node": "Nomeia PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carteira da Hotmart": {
      "main": [
        [
          {
            "node": "Nomeia Carteira da Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outros": {
      "main": [
        [
          {
            "node": "Segue Nomenclatura da Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Boleto": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Cartão de Crédito": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Paypal": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia PIX": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomeia Carteira da Hotmart": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segue Nomenclatura da Hotmart": {
      "main": [
        [
          {
            "node": "Dados da Compra 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza BD - Compra Aprovada": {
      "main": [
        [
          {
            "node": "Verificar DDD>",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Manychat no SRC?": {
      "main": [
        [
          {
            "node": "Preenche Campo \"[KMJAP] - ID da Transação\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Adiciona Tag Aluno_KMJAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência1": {
      "main": [
        [
          {
            "node": "Possui tag \"Aluno_CAC\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona CPF/CNPJ": {
      "main": [
        [
          {
            "node": "Espera 2 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preenche Campo \"[KMJAP] - ID da Transação\"": {
      "main": [
        [
          {
            "node": "Preenche Campo \"[KMJAP] - E-mail da Compra\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Tag Aluno_KMJAP": {
      "main": [
        [
          {
            "node": "Enviar Fluxo de Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Email da Compra KMJAP": {
      "main": [
        [
          {
            "node": "Adiciona ID-Transacao-KMJAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona ID-Transacao-KMJAP": {
      "main": [
        [
          {
            "node": "Adiciona CPF/CNPJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Fluxo de Onboarding": {
      "main": [
        [
          {
            "node": "Adiciona Email da Compra KMJAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Possui tag \"Aluno_CAC\"": {
      "main": [
        [
          {
            "node": "Não faz Upsell",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensagem de Upsell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 2 dias": {
      "main": [
        [
          {
            "node": "Buscar na audiência1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T19:37:21.289Z",
  "id": "ow16Vu2nQyGBblpn",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PG] - KMJAP - Compra Aprovada",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kmjap-compra-aprovada",
        "options": {}
      },
      "id": "927431ba-99ad-4254-bf57-aa661f65ba8f",
      "name": "Compra Aprovada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3120,
        1080
      ],
      "webhookId": "78ee6118-ab4f-4dcb-84fa-4255806ddb53"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Produto",
              "value": "={{ $json[\"items\"][\"0\"][\"product\"][\"name\"] }}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente",
              "value": "={{ $node[\"Consulta Users na Hotmart\"].json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"] }}"
            },
            {
              "name": "CPF/CNPJ do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"documents\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "ID da Transação",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            },
            {
              "name": "Oferta da Compra",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"offer\"][\"code\"] }}"
            },
            {
              "name": "Moeda da Compra",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"original_offer_price\"][\"currency_value\"] }}"
            },
            {
              "name": "Código da Inscrição",
              "value": "={{ $node[\"Compra Aprovada\"].json && $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] ? $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"subscription\"][\"subscriber\"][\"code\"] : \".\" }}"
            },
            {
              "name": "Plano",
              "value": "={{ $node[\"Compra Aprovada\"].json && $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] ? $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"subscription\"][\"plan\"][\"name\"] : \".\" }}"
            },
            {
              "name": "Forma de Pagamento",
              "value": "={{ $json[\"Nome da Forma de Pagamento\"] }}"
            },
            {
              "name": "Status da Compra",
              "value": "=Aprovada"
            },
            {
              "name": "DDD",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"].slice(0,2)  }}"
            },
            {
              "name": "Plataforma de Origem",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"tracking\"][\"source\"].split('-')[0] }}"
            },
            {
              "name": "Temperatura do Público",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"tracking\"][\"source\"].split('-')[1] }}"
            },
            {
              "name": "Público",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"tracking\"][\"source\"].split('-')[2] }}"
            },
            {
              "name": "Posicionamento",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"tracking\"][\"source\"].split('-')[3] }}"
            },
            {
              "name": "Anúncio",
              "value": "={{ $node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"tracking\"][\"source\"].split('-')[4] }}"
            }
          ],
          "number": [
            {
              "name": "Valor da Compra",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"full_price\"][\"value\"] }}"
            },
            {
              "name": "Data da Compra",
              "value": "={{ $node[\"Formatação da Data do Pedido\"].json[\"Data do Pedido Formatada\"] }}"
            },
            {
              "name": "Comissão Hotmart",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"commissions\"][\"0\"][\"value\"] }}"
            },
            {
              "name": "Número de Parcelas",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"installments_number\"] }}"
            },
            {
              "name": "Data de Vencimento da Garantia",
              "value": "={{ $item(\"0\").$node[\"Formatação da Data da Garantia\"].json[\"Data da Garantia Formatada\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "91d1b45d-3b9e-4e44-a0e8-8e701ca44e0c",
      "name": "Dados da Compra 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -920,
        1080
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"approved_date\"]/1000 }}",
        "dataPropertyName": "Data do Pedido Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "5129f630-126e-41f1-ac81-5528c08de0fa",
      "name": "Formatação da Data do Pedido",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -2920,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Dados da Compra 1\"].json[\"DDD\"] }}",
              "operation": "larger",
              "value2": 28
            }
          ]
        }
      },
      "name": "Verificar DDD>",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -440,
        1080
      ],
      "id": "293bfd0a-bfd3-4df7-b405-b74144f97219"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        1100
      ],
      "id": "357efbcd-03dd-40a6-83db-015ab37536bd"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-sem-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Sem nono dígito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -180,
        860
      ],
      "id": "717e37f7-c793-47c3-8636-fa765ee0ce95"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-9) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Nono dígito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -180,
        1100
      ],
      "id": "a71d338d-2349-4a8b-a822-225bf2348156"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-formatado",
              "value": "={{ $node[\"Sem nono dígito\"].runIndex >= 0      ?   $node[\"Sem nono dígito\"].json[\"whatsapp-sem-nono\"] : $node[\"Nono dígito\"].json[\"whatsapp-nono\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados validados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        140,
        1100
      ],
      "id": "3a7857de-2b79-4cf2-ab2b-e086f06de36c"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Verificar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        400,
        1100
      ],
      "id": "e6da3e66-2d83-426a-9770-07c752816b08",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Dados da Compra 1\"].json[\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Dados da Compra 1\"].json[\"Nome do Cliente\"].split(' ')[1] }}"
            }
          ]
        }
      },
      "name": "Cadastrar contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        920,
        1200
      ],
      "id": "66ee97b0-2876-43a8-a6a0-369ca055ec1f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1140,
        1080
      ],
      "id": "5bf65417-48bd-4663-8fe6-911e04593d27",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/history",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b8461df7-7fd4-48c2-a42f-b597c0ea8a3d",
      "name": "Consulta Venda na Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -2720,
        1080
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $node[\"Compra Aprovada\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bb968c0d-7be2-4c0d-9444-5eed2378b518",
      "name": "Consulta Users na Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -2340,
        1080
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "value": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"warranty_expire_date\"]/1000 }}",
        "dataPropertyName": "Data da Garantia Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "6c50fcf4-acc0-4eb3-ae6a-304a2e113e5b",
      "name": "Formatação da Data da Garantia",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -2520,
        1080
      ]
    },
    {
      "parameters": {
        "content": "# Substituir pelos Campos Correspondentes no AC",
        "height": 302.26975741239875,
        "width": 197.47474957688246
      },
      "id": "cdd12774-48c5-4285-81c5-84889700fb5e",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        500
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "BILLET"
            },
            {
              "value2": "CREDIT_CARD",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "PAYPAL",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "6d175e3d-4773-463e-86b0-9a2342635b7b",
      "name": "Nomeia Forma de Pagamento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2120,
        1080
      ]
    },
    {
      "parameters": {},
      "id": "111b3bd8-08be-4865-aab5-059070e72c9c",
      "name": "Boleto",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1820,
        840
      ]
    },
    {
      "parameters": {},
      "id": "db2ff599-43f4-481c-90e0-e060dfa7f26d",
      "name": "Cartão de Crédito",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1820,
        1020
      ]
    },
    {
      "parameters": {},
      "id": "211cf368-8a8f-40e5-bbcb-c5c413bbefc3",
      "name": "Paypal",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1820,
        1220
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "PIX"
            },
            {
              "value2": "WALLET",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "2c353949-726a-4d1f-9821-fd52973cf5cc",
      "name": "Nomeia Forma de Pagamento1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1960,
        1500
      ]
    },
    {
      "parameters": {},
      "id": "1b41b800-57e4-429f-92ef-bb4616f3a107",
      "name": "PIX",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1640,
        1400
      ]
    },
    {
      "parameters": {},
      "id": "dc24be40-463a-4980-a3ec-96d53c4cf607",
      "name": "Carteira da Hotmart",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1640,
        1600
      ]
    },
    {
      "parameters": {},
      "id": "f0e8e4a3-f268-41c1-b38c-23e3a53673d7",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1640,
        1780
      ]
    },
    {
      "parameters": {},
      "id": "92634fec-5ed7-4c5d-b17b-d1497ef03fd5",
      "name": "Outros",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1640,
        1960
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Boleto"
            }
          ]
        },
        "options": {}
      },
      "id": "3dd4ad11-cc05-456e-9c3b-82a90abfb36d",
      "name": "Nomeia Boleto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1600,
        840
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Cartão de Crédito"
            }
          ]
        },
        "options": {}
      },
      "id": "e4204269-7732-4ca0-8ebe-b924f52b15d4",
      "name": "Nomeia Cartão de Crédito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1600,
        1020
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Paypal"
            }
          ]
        },
        "options": {}
      },
      "id": "243248b5-cd66-490f-beb0-147d10c68248",
      "name": "Nomeia Paypal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1600,
        1220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "PIX"
            }
          ]
        },
        "options": {}
      },
      "id": "e445491d-aec4-4dc9-9bfb-f314567d0784",
      "name": "Nomeia PIX",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1420,
        1400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "Carteira da Hotmart"
            }
          ]
        },
        "options": {}
      },
      "id": "9c198690-79ac-4da0-a60d-7af9bd2f4c06",
      "name": "Nomeia Carteira da Hotmart",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1420,
        1600
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome da Forma de Pagamento",
              "value": "={{ $item(\"0\").$node[\"Consulta Venda na Hotmart\"].json[\"items\"][\"0\"][\"purchase\"][\"payment\"][\"type\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "29dae64a-9eea-4ee7-b567-6dd819295c5f",
      "name": "Segue Nomenclatura da Hotmart",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1420,
        1960
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1292197698,
          "mode": "list",
          "cachedResultName": "[Geral] - Compra Aprovada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo/edit#gid=1292197698"
        },
        "columnToMatchOn": "ID DA TRANSAÇÃO",
        "valueToMatchOn": "={{ $json[\"ID da Transação\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DA COMPRA",
              "fieldValue": "={{ $json[\"Data da Compra\"] }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json[\"Nome do Cliente\"] }}"
            },
            {
              "column": "E-MAIL",
              "fieldValue": "={{ $json[\"E-mail do Cliente\"] }}"
            },
            {
              "column": "CÓDIGO DO ASSINANTE",
              "fieldValue": "={{ $json[\"Código da Inscrição\"] }}"
            },
            {
              "column": "OFERTA DA COMPRA",
              "fieldValue": "={{ $json[\"Oferta da Compra\"] }}"
            },
            {
              "column": "COMISSÃO GATEWAY",
              "fieldValue": "={{ $json[\"Comissão Hotmart\"] }}"
            },
            {
              "column": "PLANO",
              "fieldValue": "={{ $json[\"Plano\"] }}"
            },
            {
              "column": "VALOR DA COMPRA",
              "fieldValue": "={{ $json[\"Valor da Compra\"] }}"
            },
            {
              "column": "MOEDA DA COMPRA",
              "fieldValue": "={{ $json[\"Moeda da Compra\"] }}"
            },
            {
              "column": "FORMA DE PAGAMENTO",
              "fieldValue": "={{ $json[\"Forma de Pagamento\"] }}"
            },
            {
              "column": "NÚMERO DE PARCELAS",
              "fieldValue": "={{ $json[\"Número de Parcelas\"] }}"
            },
            {
              "column": "STATUS DA COMPRA",
              "fieldValue": "={{ $json[\"Status da Compra\"] }}"
            },
            {
              "column": "CPF/CNPJ",
              "fieldValue": "={{ $json[\"CPF/CNPJ do Cliente\"] }}"
            },
            {
              "column": "PLATAFORMA DE ORIGEM",
              "fieldValue": "={{ $json[\"Plataforma de Origem\"] }}"
            },
            {
              "column": "TEMPERATURA DO PÚBLICO",
              "fieldValue": "={{ $json[\"Temperatura do Público\"] }}"
            },
            {
              "column": "PÚBLICO",
              "fieldValue": "={{ $json[\"Público\"] }}"
            },
            {
              "column": "POSICIONAMENTO",
              "fieldValue": "={{ $json[\"Posicionamento\"] }}"
            },
            {
              "column": "ANÚNCIO",
              "fieldValue": "={{ $json[\"Anúncio\"] }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json[\"Telefone do Cliente\"] }}"
            },
            {
              "column": "DATA DE VENCIMENTO DA GARANTIA",
              "fieldValue": "={{ $item(\"0\").$node[\"Dados da Compra 1\"].json[\"Data de Vencimento da Garantia\"] }}"
            },
            {
              "column": "PRODUTO",
              "fieldValue": "={{    $json[\"Nome do Produto\"]    }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "84b8c8bb-8030-403b-8443-4691b94a4d06",
      "name": "Atualiza BD - Compra Aprovada",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -700,
        1080
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "renLSoeRurwGxrLn",
          "name": "[PRIGEO] - Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"Plataforma de Origem\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "manychat"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "500ea774-3477-4137-b418-4f595f8744a6",
      "name": "Tem Manychat no SRC?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        300,
        880
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/custom_fields/631990/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra 1\"].json[\"CPF/CNPJ do Cliente\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona CPF/CNPJ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2680,
        1080
      ],
      "id": "3487f314-731d-4020-b8b9-0b0588ff3723",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID do Flow de Onboarding",
              "value": "=1010951"
            },
            {
              "name": "Fluxo de Upsell",
              "value": "=1593330"
            }
          ]
        },
        "options": {}
      },
      "id": "6ec6cf4e-d233-42f0-aee6-2a6fb23f62d5",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1580,
        1080
      ]
    },
    {
      "parameters": {
        "content": "## Colocar credenciais corretas do cliente e ID dos Campos correspondentes na conta do Manychat do cliente",
        "height": 127.29293048830951,
        "width": 482.8690026954177
      },
      "id": "411f5a8d-9ae9-42b8-81e9-6fd0d85174e6",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3120,
        1080
      ],
      "id": "094db4d7-df6f-4662-9f2d-6b35816c1831",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "4b67f38f-70d6-4dba-a965-4365dd4ca003",
      "name": "Não faz Upsell",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3580,
        900
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência1\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"Fluxo de Upsell\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Upsell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3580,
        1200
      ],
      "id": "0fb776ff-3084-4a44-9671-6b559c51b85d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{  $node[\"Dados da Compra 1\"].json[\"Temperatura do Público\"]  }}"
            },
            {
              "name": "field_id",
              "value": "=8925185"
            },
            {
              "name": "field_value",
              "value": "={{  $node[\"Dados da Compra 1\"].json[\"ID da Transação\"]  }}"
            }
          ]
        },
        "options": {}
      },
      "id": "179709f2-343c-4d63-83ab-eaa663011869",
      "name": "Preenche Campo \"[KMJAP] - ID da Transação\"",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        520,
        640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4VKTnFTcOLtmNWxN",
          "name": "[PRIGEO] - Manychat"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{  $node[\"Dados da Compra 1\"].json[\"Temperatura do Público\"]  }}"
            },
            {
              "name": "field_id",
              "value": "=8925186"
            },
            {
              "name": "field_value",
              "value": "={{  $node[\"Dados da Compra 1\"].json[\"E-mail do Cliente\"]  }}"
            }
          ]
        },
        "options": {}
      },
      "id": "62d75d1c-410d-46fb-88c0-c85209fb0bd3",
      "name": "Preenche Campo \"[KMJAP] - E-mail da Compra\"",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        780,
        640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4VKTnFTcOLtmNWxN",
          "name": "[PRIGEO] - Manychat"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/tags/1827796/",
        "options": {}
      },
      "name": "Adiciona Tag Aluno_KMJAP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        1080
      ],
      "id": "9d891a29-75ea-419b-8a90-0c4dd3f4f7d6",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/custom_fields/632096/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra 1\"].json[\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona Email da Compra KMJAP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2240,
        1080
      ],
      "id": "60e12bb9-018e-402e-9741-f79ead3e8e24",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/custom_fields/632097/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Dados da Compra 1\"].json[\"ID da Transação\"] }}"
            }
          ]
        }
      },
      "name": "Adiciona ID-Transacao-KMJAP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2460,
        1080
      ],
      "id": "3f06bdf3-e378-4c6b-8847-a073f256f9c9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"ID do Flow de Onboarding\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de Onboarding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2020,
        1080
      ],
      "id": "41ebfecb-7e9b-4c0b-8e41-987f625ea09f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "## Validado ☝🏻",
        "height": 82.85484370337883,
        "width": 195.00515995872038
      },
      "id": "58f36c26-5441-41c9-b35f-003638f44bf4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1980,
        1280
      ]
    },
    {
      "parameters": {
        "content": "## Validado ☝🏻"
      },
      "id": "a434ff7b-c3ca-4e7a-9c29-e43605630543",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3260,
        1240
      ]
    },
    {
      "parameters": {
        "content": "## Validado ☝🏻"
      },
      "id": "8eb622af-1eb8-4420-9d12-335433cd2124",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3540,
        1440
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link do Checkout do Upsell",
              "value": "https://pay.hotmart.com/Q54094421C?checkoutMode=10"
            },
            {
              "name": "SRC de Upsell com WhatsApp",
              "value": "&src=whatsapp-upsellkitmat-ofertacac"
            }
          ]
        },
        "options": {}
      },
      "id": "81765504-4c72-487d-b209-bb0135cbb187",
      "name": "Informações do Produto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1360,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"tags\"] }}",
              "operation": "contains",
              "value2": "Aluno_CAC"
            }
          ]
        }
      },
      "id": "96e1ea46-7d89-4537-88e3-f93181a8d7f6",
      "name": "Possui tag \"Aluno_CAC\"",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3340,
        1080
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "id": "2e080ef1-908a-44dc-b1f7-8aebe9339a89",
      "name": "Espera 2 dias",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2900,
        1080
      ],
      "webhookId": "8741cd01-077c-48ad-85bd-0848893281de"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T22:48:01.314Z",
      "updatedAt": "2024-05-03T22:48:01.314Z",
      "id": "SkpIQHyaPe3JhVOW",
      "name": "KMJAP"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T22:50:05.744Z",
  "versionId": "d9de0bc3-98c8-4cd1-af6a-1d474b9849e1"
}