workflows/[PG] - CAC - Carrinho Abandonado.json
{
  "active": true,
  "connections": {
    "Carrinho Abandonado": {
      "main": [
        [
          {
            "node": "Formatação da Data de Abandono do Carrinho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados do Carrinho Abandonado": {
      "main": [
        [
          {
            "node": "Atualiza BD - Carrinho Abandonado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar DDD>28": {
      "main": [
        [
          {
            "node": "Sem nono dígito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nono dígito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem nono dígito": {
      "main": [
        [
          {
            "node": "Dados validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nono dígito": {
      "main": [
        [
          {
            "node": "Dados validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados validados": {
      "main": [
        [
          {
            "node": "Verificar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência": {
      "main": [
        [
          {
            "node": "Contato existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência": {
      "main": [
        [
          {
            "node": "Informações do Produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza BD - Carrinho Abandonado": {
      "main": [
        [
          {
            "node": "Verificar DDD>28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Enviar Fluxo de Carrinho Abandonado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações do Produto": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data de Abandono do Carrinho": {
      "main": [
        [
          {
            "node": "Dados do Carrinho Abandonado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-01T16:07:28.213Z",
  "id": "HiiVmoSg7Pr8aCvi",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PG] - CAC - Carrinho Abandonado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cac-carrinho-abandonado",
        "options": {}
      },
      "id": "c92c5c11-69d1-4768-bdc5-30a1b84ac86a",
      "name": "Carrinho Abandonado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -760,
        720
      ],
      "webhookId": "3e0f1fae-a182-4713-b4d9-54acc15a3f4e"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Produto",
              "value": "={{ $json[\"body\"][\"data\"][\"product\"][\"name\"] }}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $json[\"body\"][\"data\"][\"buyer\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $json[\"body\"][\"data\"][\"buyer\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente",
              "value": "={{ $json[\"body\"][\"data\"][\"buyer\"][\"phone\"] }}"
            },
            {
              "name": "DDD",
              "value": "={{ $json[\"body\"][\"data\"][\"buyer\"][\"phone\"].slice(2,4) }}"
            },
            {
              "name": "Data de Abandono do Carrinho",
              "value": "={{ $json[\"Data de Abandono do Carrinho\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "e3fc5003-53eb-4af8-9dcd-23391f83d5b6",
      "name": "Dados do Carrinho Abandonado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -320,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $item(\"0\").$node[\"Dados do Carrinho Abandonado\"].json[\"DDD\"] }}",
              "operation": "larger",
              "value2": 28
            }
          ]
        }
      },
      "name": "Verificar DDD>28",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        720
      ],
      "id": "89e3dc31-2287-496c-95c2-e06c2da7214e"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-sem-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Sem nono dígito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "id": "a1655108-35bf-4b7c-8e16-a1d6f292e570"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-nono",
              "value": "=+55{{ $json[\"DDD\"] }}{{ $json[\"Telefone do Cliente\"].slice(-9) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Nono dígito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        740
      ],
      "id": "b07902f0-6c29-42b1-8c88-ed15d1be36ea"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-formatado",
              "value": "={{ $node[\"Sem nono dígito\"].runIndex >= 0      ?   $node[\"Sem nono dígito\"].json[\"whatsapp-sem-nono\"] : $node[\"Nono dígito\"].json[\"whatsapp-nono\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados validados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        780,
        740
      ],
      "id": "c7ff4fe5-34c1-4298-b07f-48d1d83fc8da"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Verificar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1040,
        740
      ],
      "id": "0808504c-879f-4b67-b16e-dca3bbf90b62",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        740
      ],
      "id": "14c5563b-22d2-482b-97fa-f078ad790485"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Dados do Carrinho Abandonado\"].json[\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Dados do Carrinho Abandonado\"].json[\"Nome do Cliente\"].split(' ')[1] }}"
            }
          ]
        }
      },
      "name": "Cadastrar contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1560,
        840
      ],
      "id": "59038fe2-20d4-4944-a416-73d15fbe7eca",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1780,
        720
      ],
      "id": "c85beb80-fbf7-40a9-abc1-fd92c07f804c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 308595670,
          "mode": "list",
          "cachedResultName": "[Geral] - Carrinhos Abandonados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-O2fDUHUjoBpgUBc8K1eH48yRjWIFD0aJXueEMP0lo/edit#gid=308595670"
        },
        "columnToMatchOn": "TELEFONE",
        "valueToMatchOn": "={{ $item(\"0\").$node[\"Dados do Carrinho Abandonado\"].json[\"Telefone do Cliente\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "NOME",
              "fieldValue": "={{ $item(\"0\").$node[\"Dados do Carrinho Abandonado\"].json[\"Nome do Cliente\"] }}"
            },
            {
              "column": "E-MAIL",
              "fieldValue": "={{ $item(\"0\").$node[\"Dados do Carrinho Abandonado\"].json[\"E-mail do Cliente\"] }}"
            },
            {
              "column": "STATUS DA COMPRA",
              "fieldValue": "=Carrinho Abandonado"
            },
            {
              "column": "DATA DE ABANDONO DO CARRINHO",
              "fieldValue": "={{ $node[\"Dados do Carrinho Abandonado\"].json[\"Data de Abandono do Carrinho\"] }}"
            },
            {
              "column": "PRODUTO",
              "fieldValue": "={{ $node[\"Dados do Carrinho Abandonado\"].json[\"Nome do Produto\"] }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "dc944c6a-6e9d-4869-9c1a-f621092d8627",
      "name": "Atualiza BD - Carrinho Abandonado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -80,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "renLSoeRurwGxrLn",
          "name": "[PRIGEO] - Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "content": "## Validado",
        "height": 299.687331536388,
        "width": 642.9467599146396
      },
      "id": "36738242-cbe6-4ebd-a23d-997fdb56ce82",
      "name": "Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        920
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"Mensagens\"].json[\"ID do Flow de Carrinho Abandonado\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Fluxo de Carrinho Abandonado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2440,
        720
      ],
      "id": "2c85cda6-781b-4c66-b0e6-e2f82a4f0fab",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID do Flow de Carrinho Abandonado",
              "value": "1011378"
            }
          ]
        },
        "options": {}
      },
      "id": "aebfda75-5f47-4026-8ccd-0c50f5838ace",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2240,
        720
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Link do Checkout do Produto",
              "value": "https://pay.hotmart.com/Q54094421C?checkoutMode=10"
            },
            {
              "name": "SRC de Carrinho Abandonado com WhatsApp",
              "value": "=&src=whatsapp-rmkt-carrinhoabandonado&email={{ $node[\"Dados do Carrinho Abandonado\"].json[\"E-mail do Cliente\"] }}&phonenumber={{ $node[\"Dados do Carrinho Abandonado\"].json[\"Telefone do Cliente\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7021d8c0-ef70-4b07-8785-3249061f3920",
      "name": "Informações do Produto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2020,
        720
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"body\"][\"creation_date\"]/1000 }}",
        "dataPropertyName": "Data de Abandono do Carrinho",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "065c0531-5173-4aa0-8383-11d0fbbacd22",
      "name": "Formatação da Data de Abandono do Carrinho",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -540,
        720
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T20:28:36.184Z",
      "updatedAt": "2024-05-03T20:28:36.184Z",
      "id": "bRtm2Z82v16aBvCU",
      "name": "CAC"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T20:47:32.303Z",
  "versionId": "dbed7a1a-954f-4810-9c84-b94bd896bb74"
}