workflows/[PG] - PM2.0 - Compra Reembolsada.json
{
  "active": true,
  "connections": {
    "Compra Reembolsada": {
      "main": [
        [
          {
            "node": "Formatação da Data do Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatação da Data do Pedido": {
      "main": [
        [
          {
            "node": "Consulta na Hotmart para Completar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar DDD>4": {
      "main": [
        [
          {
            "node": "Sem nono dígito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nono dígito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nono dígito": {
      "main": [
        [
          {
            "node": "Dados validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem nono dígito": {
      "main": [
        [
          {
            "node": "Dados validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados validados": {
      "main": [
        [
          {
            "node": "Verificar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados da Compra": {
      "main": [
        [
          {
            "node": "Verificar DDD>4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?1": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência": {
      "main": [
        [
          {
            "node": "Contato existe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato": {
      "main": [
        [
          {
            "node": "Buscar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na audiência": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta na Hotmart para Completar Dados": {
      "main": [
        [
          {
            "node": "Dados da Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Enviar Mensagem de Compra Reembolsada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-03T19:14:19.199Z",
  "id": "QAeD4tCQfNgv7zqt",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PG] - PM2.0 - Compra Reembolsada",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pm2-compra-reembolsada",
        "options": {}
      },
      "id": "50d613db-6142-4058-975b-cde9a866401b",
      "name": "Compra Reembolsada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -840,
        560
      ],
      "webhookId": "19659ed1-a1c6-4b9b-9dbe-b8d162a6b60d"
    },
    {
      "parameters": {
        "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"order_date\"]/1000 }}",
        "dataPropertyName": "Data do Pedido Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "d8101b69-8122-4153-aca2-da442e46d0a3",
      "name": "Formatação da Data do Pedido",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -560,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Dados da Compra\"].json[\"DDD\"] }}",
              "operation": "larger",
              "value2": 28
            }
          ]
        }
      },
      "name": "Verificar DDD>4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        180,
        560
      ],
      "id": "c1012323-231d-4f3d-9476-5e94456848e8"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-nono",
              "value": "=+55{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"DDD\"] }}{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Telefone do Cliente\"].slice(-9) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Nono dígito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        680
      ],
      "id": "44a4709a-9333-4c9e-9017-5953ee849b75"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-sem-nono",
              "value": "=+55{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"DDD\"] }}{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Telefone do Cliente\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Sem nono dígito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "id": "e6b762f9-e8ec-4409-9ff4-e905cde11cf2"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp-formatado",
              "value": "={{ $node[\"Sem nono dígito\"].runIndex >= 0      ?   $node[\"Sem nono dígito\"].json[\"whatsapp-sem-nono\"] : $node[\"Nono dígito\"].json[\"whatsapp-nono\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados validados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        720,
        580
      ],
      "id": "a2d05a0e-1668-4fc5-a0ce-bfe2ecd24b20"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Produto",
              "value": "={{ $json[\"items\"][\"0\"][\"product\"][\"name\"] }}"
            },
            {
              "name": "Nome do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"] }}"
            },
            {
              "name": "Status da Compra",
              "value": "=Reembolsada"
            },
            {
              "name": "DDD",
              "value": "={{ $json[\"items\"][\"0\"][\"users\"][\"1\"][\"user\"][\"phone\"].slice(0,2) }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "96a20fae-5872-428e-bc2e-7f509c564148",
      "name": "Dados da Compra",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -40,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1240,
        580
      ],
      "id": "6f43aa2d-c1eb-4d9c-b08a-418e975b59a7"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Verificar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        960,
        580
      ],
      "id": "fd08d7c9-60d0-459b-bf2c-4f44bb840830",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[1] }}"
            }
          ]
        }
      },
      "name": "Cadastrar contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1480,
        680
      ],
      "id": "7ad7d5ca-2ee8-4133-9857-abb1f6ec35e3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"Dados validados\"].json[\"whatsapp-formatado\"]}}/",
        "options": {}
      },
      "name": "Buscar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1700,
        560
      ],
      "id": "95e5d978-87b4-4a93-a228-b6450f346e71",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json[\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3abf3b9c-9d37-48df-8bc7-11b35481ef4f",
      "name": "Consulta na Hotmart para Completar Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -320,
        560
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "CHJqRANFoJRHVfE2",
          "name": "[PRIGEO] - Hotmart"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Buscar na audiência\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "={{ $node[\"Mensagens\"].json[\"Mensagem de Compra Reembolsada\"] }}"
            }
          ]
        }
      },
      "name": "Enviar Mensagem de Compra Reembolsada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2200,
        560
      ],
      "id": "1657ef91-4809-4d7f-881b-c64a081fd882",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mQO9PTGS7RIfTBXX",
          "name": "[PRIGEO] - Bot conversa"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Mensagem de Compra Reembolsada",
              "value": "=Olá {{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $item(\"0\").$node[\"Dados da Compra\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}, tudo bem?\n\nVimos aqui que você solicitou o reembolso do Produto {{ $node[\"Dados da Compra\"].json[\"Nome do Produto\"] }}, e estamos passando aqui para dizer que a Hotmart já aprovou sua solicitação.\n\nFique tranquilo (a), pois em breve receberá seu estorno, mas gostaria muito de saber o motivo do pedido, pois assim posso ver formas de melhorar o produto ou até resolver a situação (fique a vontade, se não quiser responder eu vou entender).\n\nEstou à disposição\n\nAbraços, Prigeo"
            }
          ]
        },
        "options": {}
      },
      "id": "3f2d26b5-44ed-461e-9f47-1962566cfcee",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1960,
        560
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gH1eUtgMl91jy1fn"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-30T11:53:15.629Z",
      "updatedAt": "2024-04-30T11:53:15.629Z",
      "id": "H2161I9MxT1c0oWE",
      "name": "[PRI GEO]"
    },
    {
      "createdAt": "2024-05-03T20:03:39.928Z",
      "updatedAt": "2024-05-03T20:03:39.928Z",
      "id": "5aLaCKE6gU2KHuDT",
      "name": "PM2.0"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-03T20:04:03.956Z",
  "versionId": "53573f29-e25a-4342-8f18-5ed70977c419"
}